Repository Stirling-Tools/Stirling-PDF, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @DarioGii, @reecebrowne, @EthanHealy01

.github/CODEOWNERS:

# All PRs must be approved by Frooodle or Ludy87
* @Frooodle @Ludy87 @jbrunton96 @ConnorYoh

# Backend
/app/** @DarioGii @Frooodle @Ludy87 @jbrunton96 @ConnorYoh

#V1 frontend
/app/core/src/main/resources/static/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87
/app/core/src/main/resources/templates/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87

#V2 frontend
/frontend/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle

#V2 docker
/docker/backend/** @Frooodle @Ludy87 @DarioGii @Ludy87
/docker/frontend/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87
/docker/compose/** @reecebrowne @ConnorYoh @EthanHealy01 @DarioGii @jbrunton96 @Frooodle @Ludy87


#GHA (All users)
/.github/** @reecebrowne @ConnorYoh @EthanHealy01 @DarioGii @jbrunton96 @Frooodle @Ludy87

Make top controls always visible, but only allow page editor outside of tools
  frontend/src/components/shared/TopControls.tsx
  frontend/src/types/workbench.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Refactor
  frontend/src/components/shared/TopControls.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

revert createToolFlow and lean on the accordion steps pattern, blur the preview when no stamp is selected, other
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/components/shared/ObscuredOverlay.tsx
  frontend/src/components/shared/ObscuredOverlay/ObscuredOverlay.module.css
  frontend/src/components/tools/addStamp/StampPreview.tsx
  frontend/src/components/tools/addStamp/StampPreviewUtils.ts
  frontend/src/components/tools/addStamp/useAddStampParameters.ts
  frontend/src/components/tools/shared/SingleExpansionContext.tsx
  frontend/src/components/tools/shared/createToolFlow.tsx
  frontend/src/components/tools/shared/useSingleExpandController.ts
  frontend/src/tools/AddStamp.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

consistent styling and remove unnecessary classes
  app/core/src/main/resources/static/css/theme/componentes.css
  app/core/src/main/resources/templates/adminSettings.html
  app/core/src/main/resources/templates/auto-split-pdf.html
  app/core/src/main/resources/templates/convert/eml-to-pdf.html
  app/core/src/main/resources/templates/convert/img-to-pdf.html
  app/core/src/main/resources/templates/convert/pdf-to-img.html
  app/core/src/main/resources/templates/edit-table-of-contents.html
  app/core/src/main/resources/templates/fragments/navbar.html
  app/core/src/main/resources/templates/home.html
  app/core/src/main/resources/templates/login.html
  app/core/src/main/resources/templates/merge-pdfs.html
  app/core/src/main/resources/templates/misc/change-metadata.html
  app/core/src/main/resources/templates/misc/compress-pdf.html
  app/core/src/main/resources/templates/misc/extract-images.html
  app/core/src/main/resources/templates/misc/flatten.html
  app/core/src/main/resources/templates/misc/ocr-pdf.html
  app/core/src/main/resources/templates/misc/scanner-effect.html
  app/core/src/main/resources/templates/multi-page-layout.html
  app/core/src/main/resources/templates/security/add-password.html
  app/core/src/main/resources/templates/security/add-watermark.html
  app/core/src/main/resources/templates/security/auto-redact.html
  app/core/src/main/resources/templates/security/cert-sign.html
  app/core/src/main/resources/templates/security/change-permissions.html
  app/core/src/main/resources/templates/security/redact.html
  app/core/src/main/resources/templates/security/sanitize-pdf.html
  app/core/src/main/resources/templates/sign.html
  app/core/src/main/resources/templates/split-pdf-by-chapters.html
  app/core/src/main/resources/templates/split-pdf-by-sections.html
  app/core/src/main/resources/templates/usage.html
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle, @Ludy87

fix: Update checkbox elements to use Bootstrap classes for consistent styling (#4412)
  app/core/src/main/resources/templates/adminSettings.html
  app/core/src/main/resources/templates/auto-split-pdf.html
  app/core/src/main/resources/templates/convert/eml-to-pdf.html
  app/core/src/main/resources/templates/convert/img-to-pdf.html
  app/core/src/main/resources/templates/convert/pdf-to-img.html
  app/core/src/main/resources/templates/edit-table-of-contents.html
  app/core/src/main/resources/templates/fragments/navbar.html
  app/core/src/main/resources/templates/home.html
  app/core/src/main/resources/templates/login.html
  app/core/src/main/resources/templates/merge-pdfs.html
  app/core/src/main/resources/templates/misc/change-metadata.html
  app/core/src/main/resources/templates/misc/compress-pdf.html
  app/core/src/main/resources/templates/misc/extract-images.html
  app/core/src/main/resources/templates/misc/flatten.html
  app/core/src/main/resources/templates/misc/ocr-pdf.html
  app/core/src/main/resources/templates/misc/scanner-effect.html
  app/core/src/main/resources/templates/multi-page-layout.html
  app/core/src/main/resources/templates/security/add-password.html
  app/core/src/main/resources/templates/security/add-watermark.html
  app/core/src/main/resources/templates/security/auto-redact.html
  app/core/src/main/resources/templates/security/cert-sign.html
  app/core/src/main/resources/templates/security/change-permissions.html
  app/core/src/main/resources/templates/security/redact.html
  app/core/src/main/resources/templates/security/sanitize-pdf.html
  app/core/src/main/resources/templates/sign.html
  app/core/src/main/resources/templates/split-pdf-by-chapters.html
  app/core/src/main/resources/templates/split-pdf-by-sections.html
  app/core/src/main/resources/templates/usage.html
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle, @Ludy87

fix: Update checkbox elements to use Bootstrap classes for consistent styling (#4412)
  app/core/src/main/resources/templates/adminSettings.html
  app/core/src/main/resources/templates/auto-split-pdf.html
  app/core/src/main/resources/templates/convert/eml-to-pdf.html
  app/core/src/main/resources/templates/convert/img-to-pdf.html
  app/core/src/main/resources/templates/convert/pdf-to-img.html
  app/core/src/main/resources/templates/edit-table-of-contents.html
  app/core/src/main/resources/templates/fragments/navbar.html
  app/core/src/main/resources/templates/home.html
  app/core/src/main/resources/templates/login.html
  app/core/src/main/resources/templates/merge-pdfs.html
  app/core/src/main/resources/templates/misc/change-metadata.html
  app/core/src/main/resources/templates/misc/compress-pdf.html
  app/core/src/main/resources/templates/misc/extract-images.html
  app/core/src/main/resources/templates/misc/flatten.html
  app/core/src/main/resources/templates/misc/ocr-pdf.html
  app/core/src/main/resources/templates/misc/scanner-effect.html
  app/core/src/main/resources/templates/multi-page-layout.html
  app/core/src/main/resources/templates/security/add-password.html
  app/core/src/main/resources/templates/security/add-watermark.html
  app/core/src/main/resources/templates/security/auto-redact.html
  app/core/src/main/resources/templates/security/cert-sign.html
  app/core/src/main/resources/templates/security/change-permissions.html
  app/core/src/main/resources/templates/security/redact.html
  app/core/src/main/resources/templates/security/sanitize-pdf.html
  app/core/src/main/resources/templates/sign.html
  app/core/src/main/resources/templates/split-pdf-by-chapters.html
  app/core/src/main/resources/templates/split-pdf-by-sections.html
  app/core/src/main/resources/templates/usage.html
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle, @Ludy87

update some langs
  frontend/public/locales/ar-AR/translation.json
  frontend/public/locales/az-AZ/translation.json
  frontend/public/locales/bg-BG/translation.json
  frontend/public/locales/ca-CA/translation.json
  frontend/public/locales/cs-CZ/translation.json
  frontend/public/locales/da-DK/translation.json
  frontend/public/locales/de-DE/translation.json
  frontend/public/locales/el-GR/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/public/locales/es-ES/translation.json
  frontend/public/locales/eu-ES/translation.json
  frontend/public/locales/fa-IR/translation.json
  frontend/public/locales/fr-FR/translation.json
  frontend/public/locales/ga-IE/translation.json
  frontend/public/locales/hi-IN/translation.json
  frontend/public/locales/hr-HR/translation.json
  frontend/public/locales/hu-HU/translation.json
  frontend/public/locales/id-ID/translation.json
  frontend/public/locales/it-IT/translation.json
  frontend/public/locales/ja-JP/translation.json
  frontend/public/locales/ko-KR/translation.json
  frontend/public/locales/nl-NL/translation.json
  frontend/public/locales/no-NB/translation.json
  frontend/public/locales/pl-PL/translation.json
  frontend/public/locales/pt-BR/translation.json
  frontend/public/locales/pt-PT/translation.json
  frontend/public/locales/ro-RO/translation.json
  frontend/public/locales/ru-RU/translation.json
  frontend/public/locales/sk-SK/translation.json
  frontend/public/locales/sl-SI/translation.json
  frontend/public/locales/sr-LATN-RS/translation.json
  frontend/public/locales/sv-SE/translation.json
  frontend/public/locales/th-TH/translation.json
  frontend/public/locales/tr-TR/translation.json
  frontend/public/locales/uk-UA/translation.json
  frontend/public/locales/vi-VN/translation.json
  frontend/public/locales/zh-CN/translation.json
  frontend/public/locales/zh-TW/translation.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

improvements
  frontend/src/components/shared/RightRail.tsx
  frontend/src/components/viewer/CustomSearchLayer.tsx
  frontend/src/components/viewer/EmbedPdfViewer.tsx
  frontend/src/components/viewer/SearchAPIBridge.tsx
  frontend/src/components/viewer/ThumbnailSidebar.tsx
  frontend/src/contexts/ViewerContext.tsx
  frontend/src/styles/theme.css
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

improvements
  frontend/src/components/viewer/CustomSearchLayer.tsx
  frontend/src/components/viewer/constants/search.ts
  frontend/src/styles/theme.css
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Fix vite
  frontend/src/components/viewer/LocalEmbedPDF.tsx
  frontend/src/components/viewer/ThumbnailSidebar.tsx
  frontend/vite.config.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Normalise tool IDs and fix file history to render IDs properly
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/fileManager/CompactFileDetails.tsx
  frontend/src/components/shared/ToolChain.tsx
  frontend/src/contexts/file/fileActions.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/adjustPageScale/useAdjustPageScaleOperation.ts
  frontend/src/hooks/tools/changePermissions/useChangePermissionsOperation.test.ts
  frontend/src/hooks/tools/changePermissions/useChangePermissionsOperation.ts
  frontend/src/hooks/tools/removeBlanks/useRemoveBlanksOperation.ts
  frontend/src/hooks/tools/removeCertificateSign/useRemoveCertificateSignOperation.ts
  frontend/src/hooks/tools/removePages/useRemovePagesOperation.ts
  frontend/src/hooks/tools/shared/useToolOperation.ts
  frontend/src/hooks/tools/singleLargePage/useSingleLargePageOperation.ts
  frontend/src/hooks/tools/split/useSplitOperation.ts
  frontend/src/hooks/tools/unlockPdfForms/useUnlockPdfFormsOperation.ts
  frontend/src/types/file.ts
  frontend/src/types/toolId.ts
  frontend/src/utils/urlMapping.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

revert US
  frontend/public/locales/en-US/translation.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

update some langs in V2 (#4469)
  frontend/public/locales/ar-AR/translation.json
  frontend/public/locales/az-AZ/translation.json
  frontend/public/locales/bg-BG/translation.json
  frontend/public/locales/ca-CA/translation.json
  frontend/public/locales/cs-CZ/translation.json
  frontend/public/locales/da-DK/translation.json
  frontend/public/locales/de-DE/translation.json
  frontend/public/locales/el-GR/translation.json
  frontend/public/locales/es-ES/translation.json
  frontend/public/locales/eu-ES/translation.json
  frontend/public/locales/fa-IR/translation.json
  frontend/public/locales/fr-FR/translation.json
  frontend/public/locales/ga-IE/translation.json
  frontend/public/locales/hi-IN/translation.json
  frontend/public/locales/hr-HR/translation.json
  frontend/public/locales/hu-HU/translation.json
  frontend/public/locales/id-ID/translation.json
  frontend/public/locales/it-IT/translation.json
  frontend/public/locales/ja-JP/translation.json
  frontend/public/locales/ko-KR/translation.json
  frontend/public/locales/nl-NL/translation.json
  frontend/public/locales/no-NB/translation.json
  frontend/public/locales/pl-PL/translation.json
  frontend/public/locales/pt-BR/translation.json
  frontend/public/locales/pt-PT/translation.json
  frontend/public/locales/ro-RO/translation.json
  frontend/public/locales/ru-RU/translation.json
  frontend/public/locales/sk-SK/translation.json
  frontend/public/locales/sl-SI/translation.json
  frontend/public/locales/sr-LATN-RS/translation.json
  frontend/public/locales/sv-SE/translation.json
  frontend/public/locales/th-TH/translation.json
  frontend/public/locales/tr-TR/translation.json
  frontend/public/locales/uk-UA/translation.json
  frontend/public/locales/vi-VN/translation.json
  frontend/public/locales/zh-CN/translation.json
  frontend/public/locales/zh-TW/translation.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

update some langs in V2 (#4469)
  frontend/public/locales/ar-AR/translation.json
  frontend/public/locales/az-AZ/translation.json
  frontend/public/locales/bg-BG/translation.json
  frontend/public/locales/ca-CA/translation.json
  frontend/public/locales/cs-CZ/translation.json
  frontend/public/locales/da-DK/translation.json
  frontend/public/locales/de-DE/translation.json
  frontend/public/locales/el-GR/translation.json
  frontend/public/locales/es-ES/translation.json
  frontend/public/locales/eu-ES/translation.json
  frontend/public/locales/fa-IR/translation.json
  frontend/public/locales/fr-FR/translation.json
  frontend/public/locales/ga-IE/translation.json
  frontend/public/locales/hi-IN/translation.json
  frontend/public/locales/hr-HR/translation.json
  frontend/public/locales/hu-HU/translation.json
  frontend/public/locales/id-ID/translation.json
  frontend/public/locales/it-IT/translation.json
  frontend/public/locales/ja-JP/translation.json
  frontend/public/locales/ko-KR/translation.json
  frontend/public/locales/nl-NL/translation.json
  frontend/public/locales/no-NB/translation.json
  frontend/public/locales/pl-PL/translation.json
  frontend/public/locales/pt-BR/translation.json
  frontend/public/locales/pt-PT/translation.json
  frontend/public/locales/ro-RO/translation.json
  frontend/public/locales/ru-RU/translation.json
  frontend/public/locales/sk-SK/translation.json
  frontend/public/locales/sl-SI/translation.json
  frontend/public/locales/sr-LATN-RS/translation.json
  frontend/public/locales/sv-SE/translation.json
  frontend/public/locales/th-TH/translation.json
  frontend/public/locales/tr-TR/translation.json
  frontend/public/locales/uk-UA/translation.json
  frontend/public/locales/vi-VN/translation.json
  frontend/public/locales/zh-CN/translation.json
  frontend/public/locales/zh-TW/translation.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

init france
  frontend/public/locales/fr-FR/translation.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Improve ID for addAttachments
  frontend/public/locales/en-GB/translation.json
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/types/toolId.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Initial working Crop
  frontend/src/components/tools/crop/CropAreaSelector.tsx
  frontend/src/components/tools/crop/CropSettings.tsx
  frontend/src/constants/cropConstants.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/crop/useCropOperation.ts
  frontend/src/hooks/tools/crop/useCropParameters.ts
  frontend/src/tools/Crop.tsx
  frontend/src/utils/cropCoordinates.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Feature/v2/embed pdf (#4437)
  frontend/package-lock.json
  frontend/package.json
  frontend/public/locales/en-GB/translation.json
  frontend/src/App.tsx
  frontend/src/components/layout/Workbench.tsx
  frontend/src/components/shared/RightRail.tsx
  frontend/src/components/viewer/CustomSearchLayer.tsx
  frontend/src/components/viewer/EmbedPdfViewer.tsx
  frontend/src/components/viewer/LocalEmbedPDF.tsx
  frontend/src/components/viewer/PanAPIBridge.tsx
  frontend/src/components/viewer/PdfViewerToolbar.tsx
  frontend/src/components/viewer/RotateAPIBridge.tsx
  frontend/src/components/viewer/ScrollAPIBridge.tsx
  frontend/src/components/viewer/SearchAPIBridge.tsx
  frontend/src/components/viewer/SearchInterface.tsx
  frontend/src/components/viewer/SelectionAPIBridge.tsx
  frontend/src/components/viewer/SpreadAPIBridge.tsx
  frontend/src/components/viewer/ThumbnailAPIBridge.tsx
  frontend/src/components/viewer/ThumbnailSidebar.tsx
  frontend/src/components/viewer/Viewer.tsx
  frontend/src/components/viewer/ZoomAPIBridge.tsx
  frontend/src/components/viewer/constants/search.ts
  frontend/src/contexts/ViewerContext.tsx
  frontend/src/global.d.ts
  frontend/src/styles/theme.css
  frontend/tsconfig.json
  frontend/vite.config.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Feature/v2/embed pdf (#4437)
  frontend/package-lock.json
  frontend/package.json
  frontend/public/locales/en-GB/translation.json
  frontend/src/App.tsx
  frontend/src/components/layout/Workbench.tsx
  frontend/src/components/shared/RightRail.tsx
  frontend/src/components/viewer/CustomSearchLayer.tsx
  frontend/src/components/viewer/EmbedPdfViewer.tsx
  frontend/src/components/viewer/LocalEmbedPDF.tsx
  frontend/src/components/viewer/PanAPIBridge.tsx
  frontend/src/components/viewer/PdfViewerToolbar.tsx
  frontend/src/components/viewer/RotateAPIBridge.tsx
  frontend/src/components/viewer/ScrollAPIBridge.tsx
  frontend/src/components/viewer/SearchAPIBridge.tsx
  frontend/src/components/viewer/SearchInterface.tsx
  frontend/src/components/viewer/SelectionAPIBridge.tsx
  frontend/src/components/viewer/SpreadAPIBridge.tsx
  frontend/src/components/viewer/ThumbnailAPIBridge.tsx
  frontend/src/components/viewer/ThumbnailSidebar.tsx
  frontend/src/components/viewer/Viewer.tsx
  frontend/src/components/viewer/ZoomAPIBridge.tsx
  frontend/src/components/viewer/constants/search.ts
  frontend/src/contexts/ViewerContext.tsx
  frontend/src/global.d.ts
  frontend/src/styles/theme.css
  frontend/tsconfig.json
  frontend/vite.config.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Positioning and logic fixes
  frontend/src/components/tools/crop/CropAreaSelector.tsx
  frontend/src/components/tools/crop/CropSettings.tsx
  frontend/src/utils/cropCoordinates.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Delete dead code
  frontend/src/components/tools/crop/CropAreaSelector.tsx
  frontend/src/hooks/tools/crop/useCropParameters.ts
  frontend/src/utils/cropCoordinates.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Make crop UI blue
  frontend/src/components/tools/crop/CropAreaSelector.tsx
  frontend/src/theme/mantineTheme.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Remove crop area info
  frontend/src/components/tools/crop/CropSettings.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Add tolerance to validation
  frontend/src/hooks/tools/crop/useCropParameters.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Add missing translations, improve strings, and fix tooltips
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/crop/CropSettings.tsx
  frontend/src/components/tooltips/useCropTooltips.ts
  frontend/src/tools/Crop.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Add test PDF for cropping
  testing/crop_test.pdf
Owners: @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

feat: Add CBZ to PDF conversion functionality
  app/common/src/main/java/stirling/software/common/util/CbzUtils.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/converters/ConvertImgPDFController.java
  app/core/src/main/java/stirling/software/SPDF/controller/web/ConverterWebController.java
  app/core/src/main/java/stirling/software/SPDF/model/api/converters/ConvertCbzToPdfRequest.java
  app/core/src/main/resources/messages_en_GB.properties
  app/core/src/main/resources/messages_en_US.properties
  app/core/src/main/resources/templates/convert/cbz-to-pdf.html
  app/core/src/main/resources/templates/fragments/navElements.html
  app/core/src/test/java/stirling/software/SPDF/controller/api/converters/CbzUtilsTest.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/service/CustomUserDetailsService.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

Remove duplicate; cleanup html
  app/core/src/main/resources/templates/convert/cbz-to-pdf.html
  app/core/src/main/resources/templates/fragments/navElements.html
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle, @Ludy87

Initial set up
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/tools/sign/SignSettings.tsx
  frontend/src/components/viewer/EmbedPdfViewer.tsx
  frontend/src/components/viewer/LocalEmbedPDFWithAnnotations.tsx
  frontend/src/components/viewer/SignatureAPIBridge.tsx
  frontend/src/contexts/SignatureContext.tsx
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/sign/useSignOperation.ts
  frontend/src/hooks/tools/sign/useSignParameters.ts
  frontend/src/tools/Sign.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

feat: Implement PDF to CBZ conversion
  app/common/src/main/java/stirling/software/common/util/PdfToCbzUtils.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/converters/ConvertImgPDFController.java
  app/core/src/main/java/stirling/software/SPDF/controller/web/ConverterWebController.java
  app/core/src/main/java/stirling/software/SPDF/model/api/converters/ConvertPdfToCbzRequest.java
  app/core/src/main/resources/messages_en_GB.properties
  app/core/src/main/resources/messages_en_US.properties
  app/core/src/main/resources/templates/convert/pdf-to-cbz.html
  app/core/src/main/resources/templates/fragments/navElements.html
  app/core/src/test/java/stirling/software/SPDF/controller/api/converters/PdfToCbzUtilsTest.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

refactor: small cleanup; improve quality
  app/common/src/main/java/stirling/software/common/util/CbzUtils.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

fix navElements.html
  app/core/src/main/resources/templates/fragments/navElements.html
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle, @Ludy87

fix: Correct navbar entry for PDF to PDFA conversion
  app/core/src/main/resources/templates/fragments/navElements.html
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle, @Ludy87

cleanup, improve quality, html fixes
  app/common/src/main/java/stirling/software/common/util/CbzUtils.java
  app/common/src/main/java/stirling/software/common/util/PdfToCbzUtils.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/converters/ConvertImgPDFController.java
  app/core/src/main/java/stirling/software/SPDF/controller/web/ConverterWebController.java
  app/core/src/main/java/stirling/software/SPDF/model/api/converters/ConvertPdfToCbzRequest.java
  app/core/src/main/resources/messages_en_GB.properties
  app/core/src/main/resources/messages_en_US.properties
  app/core/src/main/resources/templates/convert/cbz-to-pdf.html
  app/core/src/main/resources/templates/convert/pdf-to-cbz.html
  app/core/src/main/resources/templates/fragments/navElements.html
  app/core/src/test/java/stirling/software/SPDF/controller/api/converters/PdfToCbzUtilsTest.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

formatting
  app/common/src/main/java/stirling/software/common/util/CbzUtils.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

OutOfMemoryError and NegativeArraySizeException in PdfToCbzUtils
  app/common/src/main/java/stirling/software/common/util/PdfToCbzUtils.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

refactor: remove redundant static modifiers from @UtilityClass because lombok already makes them static
  app/common/src/main/java/stirling/software/common/util/ChecksumUtils.java
  app/common/src/main/java/stirling/software/common/util/EmlParser.java
  app/common/src/main/java/stirling/software/common/util/EmlProcessingUtils.java
  app/common/src/main/java/stirling/software/common/util/EmlToPdf.java
  app/common/src/main/java/stirling/software/common/util/PdfAttachmentHandler.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

align method parameter formatting
  app/common/src/main/java/stirling/software/common/util/ChecksumUtils.java
  app/common/src/main/java/stirling/software/common/util/EmlParser.java
  app/common/src/main/java/stirling/software/common/util/EmlProcessingUtils.java
  app/common/src/main/java/stirling/software/common/util/EmlToPdf.java
  app/common/src/main/java/stirling/software/common/util/PdfAttachmentHandler.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

booklet
  app/core/src/main/java/stirling/software/SPDF/controller/api/BookletImpositionController.java
  app/core/src/main/java/stirling/software/SPDF/model/api/general/BookletImpositionRequest.java
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/bookletImposition/BookletImpositionSettings.tsx
  frontend/src/components/tooltips/useBookletImpositionTips.ts
  frontend/src/hooks/tools/bookletImposition/useBookletImpositionOperation.ts
  frontend/src/hooks/tools/bookletImposition/useBookletImpositionParameters.ts
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

Update PDF rendering to pass canvas to render method
  frontend/package-lock.json
  frontend/package.json
  frontend/src/hooks/usePDFProcessor.ts
  frontend/src/services/pdfProcessingService.ts
  frontend/src/services/pdfWorkerManager.ts
  frontend/src/utils/thumbnailUtils.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle
