Repository Stirling-Tools/Stirling-PDF, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @DarioGii, @reecebrowne, @EthanHealy01

performance: Use StringBuilder instead of string concatenation for building strings (#4193)
  app/common/src/main/java/stirling/software/common/util/PdfUtils.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/AutoRenameController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/ShowJavascript.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

performance: Use StringBuilder instead of string concatenation for building strings (#4193)
  app/common/src/main/java/stirling/software/common/util/PdfUtils.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/AutoRenameController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/ShowJavascript.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Update hungarian translation for editTableOfContents strings (#4165)
  app/core/src/main/resources/messages_hu_HU.properties
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Update hungarian translation for editTableOfContents strings (#4165)
  app/core/src/main/resources/messages_hu_HU.properties
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

fix: translate from english to arabic
  app/core/src/main/resources/messages_ar_AR.properties
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

i18next, eslint/js, eslint
  frontend/package-lock.json
  frontend/package.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

rm pdfjsLib
  frontend/src/hooks/usePdfSignatureDetection.ts
  frontend/src/services/enhancedPDFProcessingService.ts
  frontend/src/services/fileProcessingService.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Update package.json
  frontend/package.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

integrating internal OCR endpoint and improving text decoding (minor changes)
  app/core/src/main/java/stirling/software/SPDF/service/RedactionService.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Updated Serbian translation with new strings from upstream
  app/core/src/main/resources/messages_sr_LATN_RS.properties
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Update generate-licenses.js
  frontend/scripts/generate-licenses.js
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

rm @vitejs/plugin-react
  frontend/package-lock.json
  frontend/package.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

update
  frontend/package-lock.json
  frontend/package.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

fix: Update checkbox elements to use Bootstrap classes for consistent styling
  app/core/src/main/resources/templates/auto-split-pdf.html
  app/core/src/main/resources/templates/convert/img-to-pdf.html
  app/core/src/main/resources/templates/fragments/navbar.html
  app/core/src/main/resources/templates/home.html
  app/core/src/main/resources/templates/login.html
  app/core/src/main/resources/templates/merge-pdfs.html
  app/core/src/main/resources/templates/misc/change-metadata.html
  app/core/src/main/resources/templates/misc/extract-images.html
  app/core/src/main/resources/templates/misc/flatten.html
  app/core/src/main/resources/templates/misc/ocr-pdf.html
  app/core/src/main/resources/templates/multi-page-layout.html
  app/core/src/main/resources/templates/security/add-password.html
  app/core/src/main/resources/templates/security/add-watermark.html
  app/core/src/main/resources/templates/security/cert-sign.html
  app/core/src/main/resources/templates/security/change-permissions.html
  app/core/src/main/resources/templates/security/redact.html
  app/core/src/main/resources/templates/security/sanitize-pdf.html
  app/core/src/main/resources/templates/split-pdf-by-sections.html
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle, @Ludy87

Update messages_ar_AR.properties : enhace arabic translation
  app/core/src/main/resources/messages_ar_AR.properties
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Fix types of onParameterChange methods
  frontend/src/components/tools/addPassword/AddPasswordSettings.tsx
  frontend/src/components/tools/changePermissions/ChangePermissionsSettings.tsx
  frontend/src/components/tools/compress/CompressSettings.tsx
  frontend/src/components/tools/convert/ConvertFromEmailSettings.tsx
  frontend/src/components/tools/convert/ConvertFromImageSettings.tsx
  frontend/src/components/tools/convert/ConvertFromWebSettings.tsx
  frontend/src/components/tools/convert/ConvertSettings.tsx
  frontend/src/components/tools/convert/ConvertToImageSettings.tsx
  frontend/src/components/tools/convert/ConvertToPdfaSettings.tsx
  frontend/src/components/tools/ocr/AdvancedOCRSettings.tsx
  frontend/src/components/tools/ocr/OCRSettings.tsx
  frontend/src/components/tools/removePassword/RemovePasswordSettings.tsx
  frontend/src/components/tools/sanitize/SanitizeSettings.tsx
  frontend/src/components/tools/split/SplitSettings.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Fix types of onParameterChange methods (#4415)
  frontend/src/components/tools/addPassword/AddPasswordSettings.tsx
  frontend/src/components/tools/changePermissions/ChangePermissionsSettings.tsx
  frontend/src/components/tools/compress/CompressSettings.tsx
  frontend/src/components/tools/convert/ConvertFromEmailSettings.tsx
  frontend/src/components/tools/convert/ConvertFromImageSettings.tsx
  frontend/src/components/tools/convert/ConvertFromWebSettings.tsx
  frontend/src/components/tools/convert/ConvertSettings.tsx
  frontend/src/components/tools/convert/ConvertToImageSettings.tsx
  frontend/src/components/tools/convert/ConvertToPdfaSettings.tsx
  frontend/src/components/tools/ocr/AdvancedOCRSettings.tsx
  frontend/src/components/tools/ocr/OCRSettings.tsx
  frontend/src/components/tools/removePassword/RemovePasswordSettings.tsx
  frontend/src/components/tools/sanitize/SanitizeSettings.tsx
  frontend/src/components/tools/split/SplitSettings.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Fix types of onParameterChange methods (#4415)
  frontend/src/components/tools/addPassword/AddPasswordSettings.tsx
  frontend/src/components/tools/changePermissions/ChangePermissionsSettings.tsx
  frontend/src/components/tools/compress/CompressSettings.tsx
  frontend/src/components/tools/convert/ConvertFromEmailSettings.tsx
  frontend/src/components/tools/convert/ConvertFromImageSettings.tsx
  frontend/src/components/tools/convert/ConvertFromWebSettings.tsx
  frontend/src/components/tools/convert/ConvertSettings.tsx
  frontend/src/components/tools/convert/ConvertToImageSettings.tsx
  frontend/src/components/tools/convert/ConvertToPdfaSettings.tsx
  frontend/src/components/tools/ocr/AdvancedOCRSettings.tsx
  frontend/src/components/tools/ocr/OCRSettings.tsx
  frontend/src/components/tools/removePassword/RemovePasswordSettings.tsx
  frontend/src/components/tools/sanitize/SanitizeSettings.tsx
  frontend/src/components/tools/split/SplitSettings.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Set i18n to load only current language (#4359)
  frontend/src/i18n.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Set i18n to load only current language (#4359)
  frontend/src/i18n.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Initial working version of Auto Redact
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/redact/AutomaticRedactSettings.tsx
  frontend/src/components/tools/redact/RedactModeSelector.tsx
  frontend/src/components/tools/redact/RedactSettings.tsx
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/redact/useRedactOperation.ts
  frontend/src/hooks/tools/redact/useRedactParameters.ts
  frontend/src/tools/Redact.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Redesign settings to be closer to Figma
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/redact/AutomaticRedactSettings.tsx
  frontend/src/components/tools/redact/RedactModeSelector.tsx
  frontend/src/components/tools/redact/WordsToRedactInput.tsx
  frontend/src/hooks/tools/redact/useRedactOperation.ts
  frontend/src/hooks/tools/redact/useRedactParameters.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Separate into tool steps
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/redact/AutomaticRedactSettings.tsx
  frontend/src/components/tools/redact/RedactAdvancedStep.tsx
  frontend/src/components/tools/redact/RedactModeStep.tsx
  frontend/src/components/tools/redact/RedactWordsStep.tsx
  frontend/src/components/tools/redact/WordsToRedactInput.tsx
  frontend/src/components/tooltips/useRedactTips.ts
  frontend/src/tools/Redact.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Refactor steps to be dependent on mode
  frontend/src/components/tools/redact/AutomaticRedactSettings.tsx
  frontend/src/components/tools/redact/RedactAdvancedSettings.tsx
  frontend/src/components/tools/redact/RedactModeStep.tsx
  frontend/src/components/tools/redact/RedactSettings.tsx
  frontend/src/components/tools/redact/RedactSingleStepSettings.tsx
  frontend/src/components/tools/redact/RedactWordsStep.tsx
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/tools/Redact.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Change selector to use big buttons
  frontend/src/components/tools/redact/RedactModeSelector.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Remove double-title
  frontend/src/components/tools/redact/WordsToRedactInput.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Update translations
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/redact/RedactAdvancedSettings.tsx
  frontend/src/components/tools/redact/RedactModeSelector.tsx
  frontend/src/components/tools/redact/WordsToRedactInput.tsx
  frontend/src/components/tooltips/useRedactTips.ts
  frontend/src/tools/Redact.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

fix: Adjust transform for checkbox
  app/core/src/main/resources/static/css/theme/componentes.css
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle, @Ludy87

fix scale size
  app/core/src/main/resources/static/css/theme/componentes.css
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle, @Ludy87

Add database version tracking and upgrade logic
  app/proprietary/src/main/java/stirling/software/proprietary/security/InitialSecuritySetup.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/database/repository/DatabaseVersionRepository.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/model/DatabaseVersion.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/service/DatabaseService.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/service/DatabaseServiceInterface.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Refactor database version existence check
  app/proprietary/src/main/java/stirling/software/proprietary/security/InitialSecuritySetup.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/database/repository/DatabaseVersionRepository.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Make translations more UK accurate
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tooltips/useRedactTips.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Refactor buttons into shared component
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/shared/ButtonSelector.tsx
  frontend/src/components/tools/addWatermark/WatermarkTypeSettings.tsx
  frontend/src/components/tools/compress/CompressSettings.tsx
  frontend/src/components/tools/redact/RedactModeSelector.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Improve styling of Add button
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/redact/WordsToRedactInput.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Add tests
  frontend/src/components/shared/ButtonSelector.test.tsx
  frontend/src/components/tools/redact/RedactAdvancedSettings.test.tsx
  frontend/src/components/tools/redact/RedactSingleStepSettings.test.tsx
  frontend/src/components/tools/redact/WordsToRedactInput.test.tsx
  frontend/src/hooks/tools/redact/useRedactOperation.test.ts
  frontend/src/hooks/tools/redact/useRedactParameters.test.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Fix linting
  frontend/src/hooks/tools/redact/useRedactOperation.test.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Improve styling on added words
  frontend/src/components/tools/redact/WordsToRedactInput.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

fix remaining html
  app/core/src/main/resources/templates/security/auto-redact.html
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle, @Ludy87

Update to get running in current version
  frontend/src/hooks/tools/merge/useMergeOperation.test.ts
  frontend/src/hooks/tools/merge/useMergeOperation.ts
  frontend/src/hooks/useToolManagement.tsx
  frontend/src/tools/Merge.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

remove box outlines and put the range inputs in line with the apply button
  frontend/src/components/pageEditor/bulkSelectionPanel/AdvancedSelectionPanel.tsx
  frontend/src/components/pageEditor/bulkSelectionPanel/BulkSelectionPanel.module.css
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

.github/CODEOWNERS:

# All PRs must be approved by Frooodle or Ludy87
* @Frooodle @Ludy87 @jbrunton96 @ConnorYoh

# Backend
/app/** @DarioGii @Frooodle @Ludy87 @jbrunton96 @ConnorYoh

#V1 frontend
/app/core/src/main/resources/static/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87
/app/core/src/main/resources/templates/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87

#V2 frontend
/frontend/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle

#V2 docker
/docker/backend/** @Frooodle @Ludy87 @DarioGii @Ludy87
/docker/frontend/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87
/docker/compose/** @reecebrowne @ConnorYoh @EthanHealy01 @DarioGii @jbrunton96 @Frooodle @Ludy87


#GHA (All users)
/.github/** @reecebrowne @ConnorYoh @EthanHealy01 @DarioGii @jbrunton96 @Frooodle @Ludy87
