Repository Stirling-Tools/Stirling-PDF, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @DarioGii, @reecebrowne, @EthanHealy01

Fix tip for split by pages
  frontend/public/locales/en-GB/translation.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Rems
  frontend/src/components/shared/RightRail.tsx
  frontend/src/components/viewer/PdfViewerToolbar.tsx
  frontend/src/components/viewer/SearchInterface.tsx
  frontend/src/components/viewer/ThumbnailSidebar.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Convert date inputs into date pickers
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/tools/changeMetadata/steps/DocumentDatesStep.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Remove redudant constants
  frontend/src/components/tools/split/SplitSettings.tsx
  frontend/src/constants/splitConstants.ts
  frontend/src/hooks/tools/split/useSplitOperation.ts
  frontend/src/hooks/tools/split/useSplitParameters.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Make open steps mutually exclusive
  frontend/src/tools/ChangeMetadata.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Split up AdvancedSelectionPanel and allow users to delete all selected pages
  frontend/src/components/pageEditor/PageEditor.tsx
  frontend/src/components/pageEditor/bulkSelectionPanel/AdvancedSelectionPanel.tsx
  frontend/src/components/pageEditor/bulkSelectionPanel/OperatorsSection.tsx
  frontend/src/components/pageEditor/bulkSelectionPanel/SelectPages.tsx
  frontend/src/components/pageEditor/commands/pageCommands.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Make "Delete all" checkbox remove remaining tool steps
  frontend/src/tools/ChangeMetadata.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Fix type error
  frontend/src/components/tools/changeMetadata/steps/DocumentDatesStep.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Change wording of split by pages
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/split/SplitSettings.tsx
  frontend/src/components/tooltips/useSplitTips.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Add Adjust Page Scale tool to V2 (#4429)
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/adjustPageScale/AdjustPageScaleSettings.test.tsx
  frontend/src/components/tools/adjustPageScale/AdjustPageScaleSettings.tsx
  frontend/src/components/tooltips/useAdjustPageScaleTips.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/adjustPageScale/useAdjustPageScaleOperation.ts
  frontend/src/hooks/tools/adjustPageScale/useAdjustPageScaleParameters.test.ts
  frontend/src/hooks/tools/adjustPageScale/useAdjustPageScaleParameters.ts
  frontend/src/tools/AdjustPageScale.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Add Adjust Page Scale tool to V2 (#4429)
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/adjustPageScale/AdjustPageScaleSettings.test.tsx
  frontend/src/components/tools/adjustPageScale/AdjustPageScaleSettings.tsx
  frontend/src/components/tooltips/useAdjustPageScaleTips.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/adjustPageScale/useAdjustPageScaleOperation.ts
  frontend/src/hooks/tools/adjustPageScale/useAdjustPageScaleParameters.test.ts
  frontend/src/hooks/tools/adjustPageScale/useAdjustPageScaleParameters.ts
  frontend/src/tools/AdjustPageScale.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

linter
  frontend/src/components/tools/addStamp/StampPreview.tsx
  frontend/src/components/tools/addStamp/StampPreviewUtils.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Fix raised feedback
  frontend/src/contexts/FileManagerContext.tsx
  frontend/src/contexts/IndexedDBContext.tsx
  frontend/src/hooks/tools/addPassword/useAddPasswordOperation.test.ts
  frontend/src/hooks/tools/adjustPageScale/useAdjustPageScaleOperation.ts
  frontend/src/hooks/tools/autoRename/useAutoRenameOperation.ts
  frontend/src/hooks/tools/changePermissions/useChangePermissionsOperation.test.ts
  frontend/src/hooks/tools/flatten/useFlattenOperation.ts
  frontend/src/hooks/tools/redact/useRedactOperation.ts
  frontend/src/hooks/tools/removePassword/useRemovePasswordOperation.test.ts
  frontend/src/hooks/useFileHistory.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Delete redundant code
  frontend/src/services/pdfMetadataService.ts
  frontend/src/types/file.ts
  frontend/src/utils/ContentCache.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

feat(sign): Add signature color picker and custom signature colors
  app/core/src/main/resources/messages_en_GB.properties
  app/core/src/main/resources/static/css/sign.css
  app/core/src/main/resources/static/js/pages/sign.js
  app/core/src/main/resources/static/js/sign/signature-canvas.js
  app/core/src/main/resources/templates/sign.html
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

minor grammar mistake
  app/core/src/main/resources/templates/sign.html
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle, @Ludy87

viewBox fix
  app/core/src/main/resources/templates/sign.html
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle, @Ludy87

Update frontend dependencies
  frontend/package-lock.json
  frontend/package.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

change license-checker to license-report
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/generate-licenses.js
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

param
  .github/workflows/frontend-licenses-update.yml
  frontend/scripts/generate-licenses.js
  frontend/src/assets/3rdPartyLicenses.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @DarioGii, @jbrunton96, @Frooodle, @Ludy87

minor grammar mistake
  app/core/src/main/resources/templates/sign.html
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle, @Ludy87

Add missing Czech translations
  app/core/src/main/resources/messages_cs_CZ.properties
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Import dates CSS
  frontend/src/index.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Remove unused metadata type
  frontend/src/components/fileManager/FileInfoCard.tsx
  frontend/src/types/file.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

File migration
  frontend/src/services/indexedDBManager.ts
  frontend/src/types/file.ts
  frontend/src/types/fileContext.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Addition of the Remove Blank Pages tool
  frontend/src/components/tools/removeBlanks/RemoveBlanksSettings.tsx
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/removeBlanks/useRemoveBlanksOperation.ts
  frontend/src/hooks/tools/removeBlanks/useRemoveBlanksParameters.ts
  frontend/src/tools/RemoveBlanks.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Update frontend/src/components/viewer/ThumbnailSidebar.tsx
  frontend/src/components/viewer/ThumbnailSidebar.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

git isn't picking up this PR
  frontend/src/tools/RemoveBlanks.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Addition of the Remove Pages tool, note: this is different to the Remove Blank Pages tool
  frontend/src/components/tools/removePages/RemovePagesSettings.tsx
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/removePages/useRemovePagesOperation.ts
  frontend/src/hooks/tools/removePages/useRemovePagesParameters.ts
  frontend/src/tools/RemovePages.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

quick fix
  frontend/src/hooks/tools/removePages/useRemovePagesOperation.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Context based right rail controls for viewer
  frontend/src/components/viewer/EmbedPdfViewer.tsx
  frontend/src/components/viewer/OldViewer.tsx
  frontend/src/components/viewer/PdfViewerToolbar.tsx
  frontend/src/components/viewer/ThumbnailSidebar.tsx
  frontend/src/contexts/ViewerContext.tsx
  frontend/src/types/embedPdf.ts
  frontend/tsconfig.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Store dates as Date objects
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/changeMetadata/steps/DocumentDatesStep.tsx
  frontend/src/components/tooltips/useChangeMetadataTips.ts
  frontend/src/hooks/tools/changeMetadata/useChangeMetadataOperation.test.ts
  frontend/src/hooks/tools/changeMetadata/useChangeMetadataOperation.ts
  frontend/src/hooks/tools/changeMetadata/useChangeMetadataParameters.test.ts
  frontend/src/hooks/tools/changeMetadata/useChangeMetadataParameters.ts
  frontend/src/hooks/tools/changeMetadata/useMetadataExtraction.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Improve type info on param hooks (#4438)
  frontend/src/hooks/tools/shared/useBaseTool.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Improve type info on param hooks (#4438)
  frontend/src/hooks/tools/shared/useBaseTool.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Improve tool step titles
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/changeMetadata/steps/AdvancedOptionsStep.tsx
  frontend/src/components/tools/changeMetadata/steps/DeleteAllStep.tsx
  frontend/src/components/tooltips/useChangeMetadataTips.ts
  frontend/src/tools/ChangeMetadata.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

change requests to change from 'advanced' -> 'settings' and to use tooltips rather than grey text below inputs.
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/components/tools/removeBlanks/RemoveBlanksSettings.tsx
  frontend/src/components/tooltips/useRemoveBlanksTips.ts
  frontend/src/tools/RemoveBlanks.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Fix automations
  frontend/src/components/tools/changeMetadata/ChangeMetadataSingleStep.tsx
  frontend/src/hooks/tools/changeMetadata/useChangeMetadataParameters.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Rotate
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/shared/RightRail.tsx
  frontend/src/components/viewer/LocalEmbedPDF.tsx
  frontend/src/components/viewer/RotateAPIBridge.tsx
  frontend/src/types/embedPdf.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Added space to file history header, removed allcaps
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/fileManager/FileHistoryGroup.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

add remove blank pages into this PR also
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/components/tools/removePages/RemovePagesSettings.tsx
  frontend/src/components/tooltips/useRemoveBlanksTips.ts
  frontend/src/components/tooltips/useRemovePagesTips.ts
  frontend/src/tools/RemoveBlanks.tsx
  frontend/src/tools/RemovePages.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

.github/CODEOWNERS:

# All PRs must be approved by Frooodle or Ludy87
* @Frooodle @Ludy87 @jbrunton96 @ConnorYoh

# Backend
/app/** @DarioGii @Frooodle @Ludy87 @jbrunton96 @ConnorYoh

#V1 frontend
/app/core/src/main/resources/static/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87
/app/core/src/main/resources/templates/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87

#V2 frontend
/frontend/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle

#V2 docker
/docker/backend/** @Frooodle @Ludy87 @DarioGii @Ludy87
/docker/frontend/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87
/docker/compose/** @reecebrowne @ConnorYoh @EthanHealy01 @DarioGii @jbrunton96 @Frooodle @Ludy87


#GHA (All users)
/.github/** @reecebrowne @ConnorYoh @EthanHealy01 @DarioGii @jbrunton96 @Frooodle @Ludy87
