Repository Stirling-Tools/Stirling-PDF, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @DarioGii, @reecebrowne, @EthanHealy01

.github/CODEOWNERS:

# All PRs must be approved by Frooodle or Ludy87
* @Frooodle @Ludy87 @jbrunton96 @ConnorYoh

# Backend
/app/** @DarioGii @Frooodle @Ludy87 @jbrunton96 @ConnorYoh

#V1 frontend
/app/core/src/main/resources/static/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87
/app/core/src/main/resources/templates/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87

#V2 frontend
/frontend/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle

#V2 docker
/docker/backend/** @Frooodle @Ludy87 @DarioGii @Ludy87
/docker/frontend/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87
/docker/compose/** @reecebrowne @ConnorYoh @EthanHealy01 @DarioGii @jbrunton96 @Frooodle @Ludy87


#GHA (All users)
/.github/** @reecebrowne @ConnorYoh @EthanHealy01 @DarioGii @jbrunton96 @Frooodle @Ludy87

Fix final TypeScript errors in annotation removal
  frontend/src/hooks/tools/removeAnnotations/useRemoveAnnotationsOperation.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Fix TypeScript linting error in zipFileService
  app/core/src/main/java/stirling/software/SPDF/controller/api/MergeController.java
  frontend/src/services/zipFileService.ts
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

Fix default parameter consistency and cleanup formatting
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/scannerImageSplit/ScannerImageSplitSettings.tsx
  frontend/src/hooks/tools/scannerImageSplit/useScannerImageSplitParameters.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

add the reorganize pages tool
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/components/tools/reorganizePages/ReorganizePagesSettings.tsx
  frontend/src/components/tools/reorganizePages/constants.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/reorganizePages/useReorganizePagesOperation.ts
  frontend/src/hooks/tools/reorganizePages/useReorganizePagesParameters.ts
  frontend/src/tools/ReorganizePages.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

lint
  frontend/src/tools/AddAttachments.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Save file
  frontend/src/components/tools/sign/SignSettings.tsx
  frontend/src/hooks/tools/sign/useSignParameters.ts
  frontend/src/tools/Sign.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Reduce logs
  docker/frontend/nginx.conf
  frontend/src/components/viewer/EmbedPdfViewer.tsx
  frontend/src/components/viewer/SignatureAPIBridge.tsx
  frontend/src/contexts/SignatureContext.tsx
  frontend/src/tools/Sign.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle, @Ludy87

add multi page layout tool
  frontend/src/components/tools/pageLayout/PageLayoutSettings.tsx
  frontend/src/components/tools/pageLayout/constants.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/pageLayout/usePageLayoutOperation.ts
  frontend/src/hooks/tools/pageLayout/usePageLayoutParameters.ts
  frontend/src/tools/PageLayout.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Fix undo/redo
  frontend/src/components/viewer/HistoryAPIBridge.tsx
  frontend/src/contexts/SignatureContext.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

addition of Fake Scan tool
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/components/tools/fakeScan/FakeScanAdvancedPanel.tsx
  frontend/src/components/tools/fakeScan/FakeScanBasicSettings.tsx
  frontend/src/components/tools/fakeScan/FakeScanPreview.tsx
  frontend/src/components/tools/fakeScan/FakeScanSettings.tsx
  frontend/src/components/tools/fakeScan/constants.ts
  frontend/src/components/tools/shared/createToolFlow.tsx
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/fakeScan/useFakeScanOperation.ts
  frontend/src/hooks/tools/fakeScan/useFakeScanParameters.ts
  frontend/src/tools/FakeScan.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Improved performance
  frontend/src/components/tools/sign/PenSizeSelector.tsx
  frontend/src/components/tools/sign/SignSettings.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Change to button based placement to avoid performance issue on canvas
  frontend/src/components/tools/sign/SignSettings.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Refactor array type annotations to use shorthand syntax
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/toast/index.ts
  frontend/src/components/tools/SearchResults.tsx
  frontend/src/components/tools/ToolPicker.tsx
  frontend/src/components/tools/shared/renderToolButtons.tsx
  frontend/src/contexts/ToolWorkflowContext.tsx
  frontend/src/hooks/tools/merge/useMergeOperation.ts
  frontend/src/hooks/tools/shared/useToolOperation.ts
  frontend/src/hooks/useToolSections.ts
  frontend/src/services/http.ts
  frontend/src/types/automation.ts
  frontend/src/utils/fuzzySearch.ts
  frontend/src/utils/toolSearch.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Prefer using nullish coalescing operator (`??`) instead of a logical or (`||`), as it is a safer operator
  frontend/src/components/FileManager.tsx
  frontend/src/components/fileEditor/FileEditor.tsx
  frontend/src/components/fileManager/FileListArea.tsx
  frontend/src/components/layout/Workbench.tsx
  frontend/src/components/pageEditor/BulkSelectionPanel.tsx
  frontend/src/components/pageEditor/PageEditor.tsx
  frontend/src/components/pageEditor/PageEditorControls.tsx
  frontend/src/components/pageEditor/bulkSelectionPanel/AdvancedSelectionPanel.tsx
  frontend/src/components/pageEditor/bulkSelectionPanel/OperatorsSection.tsx
  frontend/src/components/pageEditor/bulkSelectionPanel/PageSelectionInput.tsx
  frontend/src/components/pageEditor/bulkSelectionPanel/SelectPages.tsx
  frontend/src/components/pageEditor/bulkSelectionPanel/SelectedPagesDisplay.tsx
  frontend/src/components/pageEditor/commands/pageCommands.ts
  frontend/src/components/shared/ButtonSelector.test.tsx
  frontend/src/components/shared/ButtonSelector.tsx
  frontend/src/components/shared/CardSelector.tsx
  frontend/src/components/shared/DropdownListWithFooter.tsx
  frontend/src/components/shared/FileCard.tsx
  frontend/src/components/shared/FileGrid.tsx
  frontend/src/components/shared/FilePickerModal.tsx
  frontend/src/components/shared/FileUploadButton.tsx
  frontend/src/components/shared/LandingPage.tsx
  frontend/src/components/shared/QuickAccessBar.tsx
  frontend/src/components/shared/RightRail.tsx
  frontend/src/components/shared/Tooltip.tsx
  frontend/src/components/shared/quickAccessBar/QuickAccessBar.ts
  frontend/src/components/toast/ToastContext.tsx
  frontend/src/components/toast/index.ts
  frontend/src/components/tools/ToolLoadingFallback.tsx
  frontend/src/components/tools/addPassword/AddPasswordSettings.tsx
  frontend/src/components/tools/toolPicker/ToolSearch.tsx
  frontend/src/hooks/tools/merge/useMergeOperation.ts
  frontend/src/hooks/tools/shared/useToolOperation.ts
  frontend/src/services/http.ts
  frontend/src/services/specialErrorToasts.ts
  frontend/src/tests/convert/ConvertE2E.spec.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Fix (#4495)
  docker/frontend/nginx.conf
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle, @Ludy87

Fix (#4495)
  docker/frontend/nginx.conf
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle, @Ludy87

Feature/v2/exportpdf (#4487)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/shared/RightRail.tsx
  frontend/src/components/viewer/ExportAPIBridge.tsx
  frontend/src/components/viewer/LocalEmbedPDF.tsx
  frontend/src/contexts/ViewerContext.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Feature/v2/exportpdf (#4487)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/shared/RightRail.tsx
  frontend/src/components/viewer/ExportAPIBridge.tsx
  frontend/src/components/viewer/LocalEmbedPDF.tsx
  frontend/src/contexts/ViewerContext.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Update dependencies and enhance ESLint config
  .gitignore
  frontend/eslint.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/pageEditor/DragDropGrid.tsx
  frontend/src/components/pageEditor/PageThumbnail.tsx
  frontend/src/components/shared/FileGrid.tsx
  frontend/src/components/toast/index.ts
  frontend/src/components/tools/SearchResults.tsx
  frontend/src/components/tools/ToolPicker.tsx
  frontend/src/components/tools/changePermissions/ChangePermissionsSettings.test.tsx
  frontend/src/components/tools/changePermissions/ChangePermissionsSettings.tsx
  frontend/src/components/tools/convert/ConvertSettings.tsx
  frontend/src/components/tools/sanitize/SanitizeSettings.tsx
  frontend/src/components/tools/shared/renderToolButtons.tsx
  frontend/src/components/tooltips/usePageSelectionTips.tsx
  frontend/src/components/viewer/CustomSearchLayer.tsx
  frontend/src/components/viewer/SearchAPIBridge.tsx
  frontend/src/contexts/ToolWorkflowContext.tsx
  frontend/src/contexts/ViewerContext.tsx
  frontend/src/contexts/file/fileActions.ts
  frontend/src/contexts/file/fileSelectors.ts
  frontend/src/contexts/file/lifecycle.ts
  frontend/src/hooks/tools/addPassword/useAddPasswordParameters.test.ts
  frontend/src/hooks/tools/changePermissions/useChangePermissionsOperation.test.ts
  frontend/src/hooks/tools/changePermissions/useChangePermissionsParameters.test.ts
  frontend/src/hooks/tools/convert/useConvertParameters.ts
  frontend/src/hooks/tools/convert/useConvertParametersAutoDetection.test.ts
  frontend/src/hooks/useToolSections.ts
  frontend/src/services/automationStorage.ts
  frontend/src/services/fileProcessingService.ts
  frontend/src/services/processingErrorHandler.ts
  frontend/src/tests/convert/ConvertE2E.spec.ts
  frontend/src/tests/utils/testFileHelpers.ts
  frontend/src/utils/convertUtils.ts
  frontend/src/utils/fuzzySearch.ts
  frontend/src/utils/toolSearch.ts
  frontend/tsconfig.json
Owners: @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

Update .gitignore
  .gitignore
Owners: @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

enable removal of text outside crop area by default, removal of checkbox on crop html
  app/core/src/main/java/stirling/software/SPDF/model/api/general/CropPdfForm.java
  app/core/src/main/resources/messages_en_GB.properties
  app/core/src/main/resources/templates/crop.html
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

Update package-lock.json
  frontend/package-lock.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Rename generate-licenses.js to .mjs and update references
  .github/workflows/frontend-licenses-update.yml
  frontend/package.json
  frontend/scripts/generate-licenses.mjs
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @DarioGii, @jbrunton96, @Frooodle, @Ludy87

Update eslint.config.mjs
  frontend/eslint.config.mjs
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

filename stuff
  frontend/src/hooks/tools/removeAnnotations/useRemoveAnnotationsOperation.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Refactor to use MutableRefObject instead of RefObject
  frontend/src/components/pageEditor/PageThumbnail.tsx
  frontend/src/components/tools/ToolPicker.tsx
  frontend/src/contexts/FileManagerContext.tsx
  frontend/src/contexts/file/fileActions.ts
  frontend/src/contexts/file/fileSelectors.ts
  frontend/src/contexts/file/lifecycle.ts
  frontend/src/hooks/useIsOverflowing.ts
  frontend/src/hooks/useTooltipPosition.ts
  frontend/src/types/sidebar.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

enable color as opposed to grayscale by default
  frontend/src/components/tools/fakeScan/FakeScanPreview.tsx
  frontend/src/hooks/tools/fakeScan/useFakeScanParameters.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

remove lazy load
  frontend/src/data/useTranslatedToolRegistry.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

reintroduce lazy automate import
  frontend/src/data/useTranslatedToolRegistry.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Convert extract-image-scans to React component (#4505)
  app/core/src/main/java/stirling/software/SPDF/controller/api/MergeController.java
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/scannerImageSplit/ScannerImageSplitSettings.tsx
  frontend/src/components/tooltips/useScannerImageSplitTips.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/scannerImageSplit/useScannerImageSplitOperation.ts
  frontend/src/hooks/tools/scannerImageSplit/useScannerImageSplitParameters.ts
  frontend/src/services/zipFileService.ts
  frontend/src/tools/ScannerImageSplit.tsx
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

Convert extract-image-scans to React component (#4505)
  app/core/src/main/java/stirling/software/SPDF/controller/api/MergeController.java
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/scannerImageSplit/ScannerImageSplitSettings.tsx
  frontend/src/components/tooltips/useScannerImageSplitTips.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/scannerImageSplit/useScannerImageSplitOperation.ts
  frontend/src/hooks/tools/scannerImageSplit/useScannerImageSplitParameters.ts
  frontend/src/services/zipFileService.ts
  frontend/src/tools/ScannerImageSplit.tsx
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

Invert colors (#4498)
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/replaceColor/ReplaceColorSettings.tsx
  frontend/src/components/tooltips/useReplaceColorTips.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/replaceColor/useReplaceColorOperation.ts
  frontend/src/hooks/tools/replaceColor/useReplaceColorParameters.ts
  frontend/src/tools/ReplaceColor.tsx
  frontend/src/types/toolId.ts
  frontend/src/utils/urlMapping.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Invert colors (#4498)
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/replaceColor/ReplaceColorSettings.tsx
  frontend/src/components/tooltips/useReplaceColorTips.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/replaceColor/useReplaceColorOperation.ts
  frontend/src/hooks/tools/replaceColor/useReplaceColorParameters.ts
  frontend/src/tools/ReplaceColor.tsx
  frontend/src/types/toolId.ts
  frontend/src/utils/urlMapping.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

feat: Add React-based extract-images tool (#4501)
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/components/tools/extractImages/ExtractImagesSettings.tsx
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/extractImages/useExtractImagesOperation.ts
  frontend/src/hooks/tools/extractImages/useExtractImagesParameters.ts
  frontend/src/tools/ExtractImages.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

feat: Add React-based extract-images tool (#4501)
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/components/tools/extractImages/ExtractImagesSettings.tsx
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/extractImages/useExtractImagesOperation.ts
  frontend/src/hooks/tools/extractImages/useExtractImagesParameters.ts
  frontend/src/tools/ExtractImages.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

add attatchments tool (#4502)
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/addAttachments/useAddAttachmentsOperation.ts
  frontend/src/hooks/tools/addAttachments/useAddAttachmentsParameters.ts
  frontend/src/tools/AddAttachments.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

add attatchments tool (#4502)
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/addAttachments/useAddAttachmentsOperation.ts
  frontend/src/hooks/tools/addAttachments/useAddAttachmentsParameters.ts
  frontend/src/tools/AddAttachments.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Feature/remove images (#4503)
  frontend/public/locales/en-US/translation.json
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/removeImage/useRemoveImageOperation.ts
  frontend/src/hooks/tools/removeImage/useRemoveImageParameters.ts
  frontend/src/tools/RemoveImage.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Feature/remove images (#4503)
  frontend/public/locales/en-US/translation.json
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/removeImage/useRemoveImageOperation.ts
  frontend/src/hooks/tools/removeImage/useRemoveImageParameters.ts
  frontend/src/tools/RemoveImage.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Restructure and bug fix
  frontend/src/components/annotation/providers/PDFAnnotationProvider.tsx
  frontend/src/components/annotation/shared/BaseAnnotationTool.tsx
  frontend/src/components/annotation/shared/ColorPicker.tsx
  frontend/src/components/annotation/shared/DrawingCanvas.tsx
  frontend/src/components/annotation/shared/DrawingControls.tsx
  frontend/src/components/annotation/shared/ImageUploader.tsx
  frontend/src/components/annotation/shared/TextInputWithFont.tsx
  frontend/src/components/annotation/tools/DrawingTool.tsx
  frontend/src/components/annotation/tools/ImageTool.tsx
  frontend/src/components/annotation/tools/TextTool.tsx
  frontend/src/components/tools/sign/SignSettings.tsx
  frontend/src/contexts/SignatureContext.tsx
  frontend/src/tools/Sign.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle
