Repository Stirling-Tools/Stirling-PDF, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @DarioGii, @reecebrowne, @EthanHealy01

.github/CODEOWNERS:

# All PRs must be approved by Frooodle or Ludy87
* @Frooodle @Ludy87 @jbrunton96 @ConnorYoh

# Backend
/app/** @DarioGii @Frooodle @Ludy87 @jbrunton96 @ConnorYoh

#V1 frontend
/app/core/src/main/resources/static/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87
/app/core/src/main/resources/templates/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87

#V2 frontend
/frontend/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle

#V2 docker
/docker/backend/** @Frooodle @Ludy87 @DarioGii @Ludy87
/docker/frontend/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87
/docker/compose/** @reecebrowne @ConnorYoh @EthanHealy01 @DarioGii @jbrunton96 @Frooodle @Ludy87


#GHA (All users)
/.github/** @reecebrowne @ConnorYoh @EthanHealy01 @DarioGii @jbrunton96 @Frooodle @Ludy87

fixes
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/viewer/ThumbnailSidebar.tsx
  frontend/src/contexts/ViewerContext.tsx
  frontend/src/data/useTranslatedToolRegistry.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Refactor base URL access to use hook in HomePage
  frontend/src/constants/app.ts
  frontend/src/pages/HomePage.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

path
  frontend/index.html
  frontend/src/components/shared/LandingPage.tsx
  frontend/src/components/shared/Tooltip.tsx
  frontend/src/constants/app.ts
  frontend/src/hooks/useCookieConsent.ts
  frontend/src/hooks/useUrlSync.ts
  frontend/src/i18n.ts
  frontend/src/index.tsx
  frontend/src/tools/SwaggerUI.tsx
  frontend/src/utils/urlRouting.ts
  frontend/vite.config.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

typeerror fml
  frontend/src/hooks/useUrlSync.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

empty path fix
  frontend/src/constants/app.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

hook.js:608 <Router basename="/."> is not able to match the URL
  frontend/src/index.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

path (#4488)
  frontend/index.html
  frontend/src/components/shared/LandingPage.tsx
  frontend/src/components/shared/Tooltip.tsx
  frontend/src/constants/app.ts
  frontend/src/hooks/useCookieConsent.ts
  frontend/src/hooks/useUrlSync.ts
  frontend/src/i18n.ts
  frontend/src/index.tsx
  frontend/src/tools/SwaggerUI.tsx
  frontend/src/utils/urlRouting.ts
  frontend/vite.config.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

path (#4488)
  frontend/index.html
  frontend/src/components/shared/LandingPage.tsx
  frontend/src/components/shared/Tooltip.tsx
  frontend/src/constants/app.ts
  frontend/src/hooks/useCookieConsent.ts
  frontend/src/hooks/useUrlSync.ts
  frontend/src/i18n.ts
  frontend/src/index.tsx
  frontend/src/tools/SwaggerUI.tsx
  frontend/src/utils/urlRouting.ts
  frontend/vite.config.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

add toasts and error handling
  frontend/src/App.tsx
  frontend/src/components/fileEditor/FileEditor.tsx
  frontend/src/components/fileEditor/FileEditorThumbnail.tsx
  frontend/src/components/shared/RainbowThemeProvider.tsx
  frontend/src/components/toast/ToastContext.tsx
  frontend/src/components/toast/ToastPlayground.tsx
  frontend/src/components/toast/ToastRenderer.tsx
  frontend/src/components/toast/index.ts
  frontend/src/components/toast/types.ts
  frontend/src/hooks/tools/shared/useToolApiCalls.ts
  frontend/src/hooks/tools/shared/useToolOperation.ts
  frontend/src/services/http.ts
  frontend/src/styles/theme.css
  frontend/src/theme/mantineTheme.ts
  frontend/tailwind.config.js
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Fix scroll element fallback in DragDropGrid virtualization
  frontend/src/components/pageEditor/DragDropGrid.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Replace empty arrow functions with explicit comments
  frontend/src/components/shared/fitText/textFit.ts
  frontend/src/components/tools/automate/ToolSelector.tsx
  frontend/src/contexts/file/fileHooks.ts
  frontend/src/hooks/tools/adjustPageScale/useAdjustPageScaleParameters.test.ts
  frontend/src/hooks/useFileWithUrl.ts
  frontend/src/hooks/useToolParameters.ts
  frontend/src/services/enhancedPDFProcessingService.ts
  frontend/src/services/indexedDBManager.ts
  frontend/src/services/pdfExportService.ts
  frontend/src/services/pdfProcessingService.ts
  frontend/src/tools/SwaggerUI.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Update AutomationRun.tsx
  frontend/src/components/tools/automate/AutomationRun.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Update dependencies and improve editor components
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/pageEditor/PageThumbnail.tsx
  frontend/src/components/pageEditor/hooks/usePageDocument.ts
  frontend/src/components/shared/filePreview/HoverOverlay.tsx
  frontend/src/components/tools/shared/ToolWorkflowTitle.tsx
  frontend/src/components/tools/shared/createToolFlow.tsx
  frontend/src/contexts/SidebarContext.tsx
  frontend/src/utils/toolErrorHandler.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Update thumbnailUtils.ts
  frontend/src/utils/thumbnailUtils.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Refactor refs to use RefObject and improve type safety
  frontend/src/components/pageEditor/DragDropGrid.tsx
  frontend/src/components/pageEditor/PageThumbnail.tsx
  frontend/src/components/tools/shared/createToolFlow.tsx
  frontend/src/contexts/file/fileActions.ts
  frontend/src/contexts/file/fileSelectors.ts
  frontend/src/contexts/file/lifecycle.ts
  frontend/src/hooks/tools/automate/useSuggestedAutomations.ts
  frontend/src/hooks/tools/shared/useToolApiCalls.ts
  frontend/src/hooks/useDocumentMeta.ts
  frontend/src/hooks/useIsOverflowing.ts
  frontend/src/hooks/useTooltipPosition.ts
  frontend/src/services/automationStorage.ts
  frontend/src/tools/Automate.tsx
  frontend/src/tools/RemovePages.tsx
  frontend/src/tools/Rotate.tsx
  frontend/src/types/automation.ts
  frontend/src/types/sidebar.ts
  frontend/src/utils/automationExecutor.ts
  frontend/src/utils/fileHash.ts
  frontend/src/utils/fileResponseUtils.test.ts
  frontend/src/utils/sidebarUtils.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

langs
  .gitignore
  frontend/public/locales/de-DE/translation.json
  frontend/public/locales/it-IT/translation.json
  frontend/public/locales/zh-CN/translation.json
  scripts/COMPACT_TRANSLATION_WORKFLOW.md
  scripts/README_translations.md
  scripts/ai_translation_helper.py
  scripts/compact_translator.py
  scripts/json_beautifier.py
  scripts/translation_analyzer.py
  scripts/translation_merger.py
Owners: @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

Fix parameter type definitions and metadata validation
  frontend/src/hooks/tools/changeMetadata/useChangeMetadataParameters.ts
  frontend/src/types/automation.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Rename generate-licenses.js to .mjs and update references
  .github/workflows/frontend-licenses-update.yml
  frontend/package.json
  frontend/scripts/generate-licenses.mjs
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @DarioGii, @jbrunton96, @Frooodle, @Ludy87

Update @embedpdf packages to version 1.3.1
  frontend/package-lock.json
  frontend/package.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

clean
  frontend/public/locales/de-DE/translation.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

history tweaks
  frontend/src/components/viewer/HistoryAPIBridge.tsx
  frontend/src/components/viewer/SignatureAPIBridge.tsx
  frontend/src/contexts/SignatureContext.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

cleanup and move files
  scripts/COMPACT_TRANSLATION_WORKFLOW.md
  scripts/translations/README.md
  scripts/translations/ai_translation_helper.py
  scripts/translations/compact_translator.py
  scripts/translations/json_beautifier.py
  scripts/translations/translation_analyzer.py
  scripts/translations/translation_merger.py
Owners: @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

fix
  frontend/vite.config.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Remove HTTPS configuration from vite.config.ts
  frontend/vite.config.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Lock mantine version
  frontend/package.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Lock mantine package versions
  frontend/package-lock.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Clean and install frontend dependencies in build workflow
  .github/workflows/build.yml
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @DarioGii, @jbrunton96, @Frooodle, @Ludy87

Language stuff (#4490)
  .gitignore
  frontend/public/locales/de-DE/translation.json
  frontend/public/locales/it-IT/translation.json
  frontend/public/locales/zh-CN/translation.json
  scripts/translations/README.md
  scripts/translations/ai_translation_helper.py
  scripts/translations/compact_translator.py
  scripts/translations/json_beautifier.py
  scripts/translations/translation_analyzer.py
  scripts/translations/translation_merger.py
Owners: @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

Language stuff (#4490)
  .gitignore
  frontend/public/locales/de-DE/translation.json
  frontend/public/locales/it-IT/translation.json
  frontend/public/locales/zh-CN/translation.json
  scripts/translations/README.md
  scripts/translations/ai_translation_helper.py
  scripts/translations/compact_translator.py
  scripts/translations/json_beautifier.py
  scripts/translations/translation_analyzer.py
  scripts/translations/translation_merger.py
Owners: @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

Update vite.config.ts
  frontend/vite.config.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

feat(replace-and-invert-colour): Add CMYK color space conversion with prepress preset for PDF processing
  app/common/src/main/java/stirling/software/common/model/api/misc/ReplaceAndInvert.java
  app/common/src/main/java/stirling/software/common/util/misc/ColorSpaceConversionStrategy.java
  app/core/src/main/java/stirling/software/SPDF/Factories/ReplaceAndInvertColorFactory.java
  app/core/src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/ReplaceAndInvertColorController.java
  app/core/src/main/java/stirling/software/SPDF/model/api/misc/ReplaceAndInvertColorRequest.java
  app/core/src/main/resources/messages_en_GB.properties
  app/core/src/main/resources/templates/misc/replace-color.html
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

nginx update
  docker/frontend/nginx.conf
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle, @Ludy87

nginx changes
  docker/frontend/nginx.conf
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle, @Ludy87

Nginx again
  docker/frontend/nginx.conf
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle, @Ludy87

Fix
  docker/frontend/nginx.conf
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle, @Ludy87

show errors on files in workbench
  app/core/src/main/java/stirling/software/SPDF/controller/api/MergeController.java
  app/core/src/main/java/stirling/software/SPDF/model/api/general/MergePdfsRequest.java
  frontend/src/App.tsx
  frontend/src/components/fileEditor/FileEditor.module.css
  frontend/src/components/fileEditor/FileEditorThumbnail.tsx
  frontend/src/components/shared/RightRail.tsx
  frontend/src/components/toast/Toast.README.md
  frontend/src/components/toast/ToastContext.tsx
  frontend/src/components/toast/ToastPlayground.tsx
  frontend/src/components/toast/ToastRenderer.css
  frontend/src/components/toast/ToastRenderer.tsx
  frontend/src/components/toast/types.ts
  frontend/src/contexts/file/FileReducer.ts
  frontend/src/contexts/file/fileActions.ts
  frontend/src/hooks/tools/convert/useConvertOperation.ts
  frontend/src/hooks/tools/merge/useMergeOperation.ts
  frontend/src/hooks/tools/shared/useToolApiCalls.ts
  frontend/src/hooks/tools/shared/useToolOperation.ts
  frontend/src/services/errorUtils.ts
  frontend/src/services/http.ts
  frontend/src/styles/theme.css
  frontend/src/types/fileContext.ts
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

Remove unnecessary mapping that could cause issues
  docker/frontend/nginx.conf
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle, @Ludy87

Feature/v2/fuzzy tool search (#4482)
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/components/tools/SearchResults.tsx
  frontend/src/components/tools/ToolPanel.tsx
  frontend/src/components/tools/ToolPicker.tsx
  frontend/src/components/tools/automate/ToolSelector.tsx
  frontend/src/components/tools/shared/renderToolButtons.tsx
  frontend/src/components/tools/toolPicker/ToolButton.tsx
  frontend/src/components/tools/toolPicker/ToolSearch.tsx
  frontend/src/contexts/ToolWorkflowContext.tsx
  frontend/src/data/toolsTaxonomy.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/useToolSections.ts
  frontend/src/utils/fuzzySearch.ts
  frontend/src/utils/toolSearch.ts
  frontend/src/utils/toolSynonyms.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Feature/v2/fuzzy tool search (#4482)
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/components/tools/SearchResults.tsx
  frontend/src/components/tools/ToolPanel.tsx
  frontend/src/components/tools/ToolPicker.tsx
  frontend/src/components/tools/automate/ToolSelector.tsx
  frontend/src/components/tools/shared/renderToolButtons.tsx
  frontend/src/components/tools/toolPicker/ToolButton.tsx
  frontend/src/components/tools/toolPicker/ToolSearch.tsx
  frontend/src/contexts/ToolWorkflowContext.tsx
  frontend/src/data/toolsTaxonomy.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/useToolSections.ts
  frontend/src/utils/fuzzySearch.ts
  frontend/src/utils/toolSearch.ts
  frontend/src/utils/toolSynonyms.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

safe and working
  docker/frontend/nginx.conf
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle, @Ludy87
