Repository Stirling-Tools/Stirling-PDF, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @DarioGii, @reecebrowne, @EthanHealy01

.github/CODEOWNERS:

# All PRs must be approved by Frooodle or Ludy87
* @Frooodle @Ludy87 @jbrunton96 @ConnorYoh

# Backend
/app/** @DarioGii @Frooodle @Ludy87 @jbrunton96 @ConnorYoh

#V1 frontend
/app/core/src/main/resources/static/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87
/app/core/src/main/resources/templates/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87

#V2 frontend
/frontend/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle

#V2 docker
/docker/backend/** @Frooodle @Ludy87 @DarioGii @Ludy87
/docker/frontend/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87
/docker/compose/** @reecebrowne @ConnorYoh @EthanHealy01 @DarioGii @jbrunton96 @Frooodle @Ludy87


#GHA (All users)
/.github/** @reecebrowne @ConnorYoh @EthanHealy01 @DarioGii @jbrunton96 @Frooodle @Ludy87

Clarify number of files that need to be selected
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/shared/FileStatusIndicator.tsx
  frontend/src/components/tools/shared/FilesToolStep.tsx
  frontend/src/components/tools/shared/createToolFlow.tsx
  frontend/src/components/tooltips/useMergeTips.tsx
  frontend/src/hooks/tools/merge/useMergeOperation.test.ts
  frontend/src/hooks/tools/shared/useBaseTool.ts
  frontend/src/tools/Automate.tsx
  frontend/src/tools/Convert.tsx
  frontend/src/tools/Flatten.tsx
  frontend/src/tools/Merge.tsx
  frontend/src/tools/RemoveCertificateSign.tsx
  frontend/src/tools/Repair.tsx
  frontend/src/tools/Sanitize.tsx
  frontend/src/tools/SingleLargePage.tsx
  frontend/src/tools/UnlockPdfForms.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Formatting
  frontend/src/components/tools/shared/FileStatusIndicator.tsx
  frontend/src/contexts/file/FileReducer.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Translations
  frontend/public/locales/en-GB/translation.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Rejig scripts so they call each other and we have a command to run all linting
  frontend/package.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Update messages_ru_RU.properties
  app/core/src/main/resources/messages_ru_RU.properties
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Improve npm scripts (#4424)
  frontend/package.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Improve npm scripts (#4424)
  frontend/package.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Update messages_ru_RU.properties
  app/core/src/main/resources/messages_ru_RU.properties
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

remove unused vars
  frontend/src/components/pageEditor/bulkSelectionPanel/PageSelectionInput.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Refactor database migration logic and version comparison
  app/common/src/main/java/stirling/software/common/util/GeneralUtils.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/InitialSecuritySetup.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/service/DatabaseService.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/service/DatabaseServiceInterface.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

DatabaseService to DatabaseServiceInterface
  app/proprietary/src/main/java/stirling/software/proprietary/security/controller/api/DatabaseController.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/controller/api/enterprise/DatabaseControllerEnterprise.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/database/H2SQLCondition.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/database/migration/H2DataOnly_0331_to_0340.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/database/migration/MigrationStep.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/service/DatabaseService.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/service/DatabaseServiceInterface.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

cleanup
  app/common/src/main/java/stirling/software/common/util/GeneralUtils.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/database/H2SQLCondition.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

clean german comments
  app/proprietary/src/main/java/stirling/software/proprietary/security/database/migration/H2DataOnly_0331_to_0340.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/database/migration/MigrationStep.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/service/DatabaseService.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

NPE
  app/proprietary/src/main/java/stirling/software/proprietary/security/service/DatabaseService.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Fix text overflow issues
  frontend/src/components/tools/redact/WordsToRedactInput.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Add tooltip
  frontend/src/components/tools/redact/WordsToRedactInput.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Make button style responsive
  frontend/src/components/shared/ButtonSelector.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

4 types
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/FileManager.tsx
  frontend/src/components/fileEditor/FileEditorThumbnail.tsx
  frontend/src/components/fileManager/CompactFileDetails.tsx
  frontend/src/components/fileManager/FileInfoCard.tsx
  frontend/src/components/fileManager/FileListItem.tsx
  frontend/src/components/shared/FilePreview.tsx
  frontend/src/components/shared/filePreview/DocumentThumbnail.tsx
  frontend/src/contexts/FileContext.tsx
  frontend/src/contexts/FileManagerContext.tsx
  frontend/src/contexts/FilesModalContext.tsx
  frontend/src/contexts/IndexedDBContext.tsx
  frontend/src/contexts/file/fileActions.ts
  frontend/src/hooks/tools/shared/useToolOperation.ts
  frontend/src/hooks/useFileHandler.ts
  frontend/src/hooks/useFileHistory.ts
  frontend/src/hooks/useFileManager.ts
  frontend/src/hooks/useIndexedDBThumbnail.ts
  frontend/src/services/fileStorage.ts
  frontend/src/services/indexedDBManager.ts
  frontend/src/services/pdfMetadataService.ts
  frontend/src/types/file.ts
  frontend/src/types/fileContext.ts
  frontend/src/utils/downloadUtils.ts
  frontend/src/utils/fileHistoryUtils.ts
  frontend/src/utils/toolOperationTracker.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Replace HTML elements with Mantine ones
  frontend/src/components/shared/ButtonSelector.test.tsx
  frontend/src/components/shared/ButtonSelector.tsx
  frontend/src/components/tools/addWatermark/WatermarkTypeSettings.tsx
  frontend/src/components/tools/compress/CompressSettings.tsx
  frontend/src/components/tools/redact/RedactAdvancedSettings.tsx
  frontend/src/components/tools/redact/RedactModeSelector.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Add auto-redact to V2 (#4417)
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/shared/ButtonSelector.test.tsx
  frontend/src/components/shared/ButtonSelector.tsx
  frontend/src/components/tools/addWatermark/WatermarkTypeSettings.tsx
  frontend/src/components/tools/compress/CompressSettings.tsx
  frontend/src/components/tools/redact/RedactAdvancedSettings.test.tsx
  frontend/src/components/tools/redact/RedactAdvancedSettings.tsx
  frontend/src/components/tools/redact/RedactModeSelector.tsx
  frontend/src/components/tools/redact/RedactSingleStepSettings.test.tsx
  frontend/src/components/tools/redact/RedactSingleStepSettings.tsx
  frontend/src/components/tools/redact/WordsToRedactInput.test.tsx
  frontend/src/components/tools/redact/WordsToRedactInput.tsx
  frontend/src/components/tooltips/useRedactTips.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/redact/useRedactOperation.test.ts
  frontend/src/hooks/tools/redact/useRedactOperation.ts
  frontend/src/hooks/tools/redact/useRedactParameters.test.ts
  frontend/src/hooks/tools/redact/useRedactParameters.ts
  frontend/src/tools/Redact.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Add auto-redact to V2 (#4417)
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/shared/ButtonSelector.test.tsx
  frontend/src/components/shared/ButtonSelector.tsx
  frontend/src/components/tools/addWatermark/WatermarkTypeSettings.tsx
  frontend/src/components/tools/compress/CompressSettings.tsx
  frontend/src/components/tools/redact/RedactAdvancedSettings.test.tsx
  frontend/src/components/tools/redact/RedactAdvancedSettings.tsx
  frontend/src/components/tools/redact/RedactModeSelector.tsx
  frontend/src/components/tools/redact/RedactSingleStepSettings.test.tsx
  frontend/src/components/tools/redact/RedactSingleStepSettings.tsx
  frontend/src/components/tools/redact/WordsToRedactInput.test.tsx
  frontend/src/components/tools/redact/WordsToRedactInput.tsx
  frontend/src/components/tooltips/useRedactTips.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/redact/useRedactOperation.test.ts
  frontend/src/hooks/tools/redact/useRedactOperation.ts
  frontend/src/hooks/tools/redact/useRedactParameters.test.ts
  frontend/src/hooks/tools/redact/useRedactParameters.ts
  frontend/src/tools/Redact.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Add Merge UI to V2 (#4235)
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/merge/MergeFileSorter.test.tsx
  frontend/src/components/tools/merge/MergeFileSorter.tsx
  frontend/src/components/tools/merge/MergeSettings.test.tsx
  frontend/src/components/tools/merge/MergeSettings.tsx
  frontend/src/components/tools/shared/FileStatusIndicator.tsx
  frontend/src/components/tools/shared/FilesToolStep.tsx
  frontend/src/components/tools/shared/createToolFlow.tsx
  frontend/src/components/tooltips/useMergeTips.tsx
  frontend/src/contexts/file/FileReducer.ts
  frontend/src/contexts/file/fileHooks.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/merge/useMergeOperation.test.ts
  frontend/src/hooks/tools/merge/useMergeOperation.ts
  frontend/src/hooks/tools/merge/useMergeParameters.test.ts
  frontend/src/hooks/tools/merge/useMergeParameters.ts
  frontend/src/hooks/tools/shared/useBaseTool.ts
  frontend/src/tools/Automate.tsx
  frontend/src/tools/Convert.tsx
  frontend/src/tools/Flatten.tsx
  frontend/src/tools/Merge.tsx
  frontend/src/tools/RemoveCertificateSign.tsx
  frontend/src/tools/Repair.tsx
  frontend/src/tools/Sanitize.tsx
  frontend/src/tools/SingleLargePage.tsx
  frontend/src/tools/UnlockPdfForms.tsx
  testing/test_pdf_1.pdf
  testing/test_pdf_2.pdf
  testing/test_pdf_3.pdf
  testing/test_pdf_4.pdf
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle, @Ludy87

Add Merge UI to V2 (#4235)
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/merge/MergeFileSorter.test.tsx
  frontend/src/components/tools/merge/MergeFileSorter.tsx
  frontend/src/components/tools/merge/MergeSettings.test.tsx
  frontend/src/components/tools/merge/MergeSettings.tsx
  frontend/src/components/tools/shared/FileStatusIndicator.tsx
  frontend/src/components/tools/shared/FilesToolStep.tsx
  frontend/src/components/tools/shared/createToolFlow.tsx
  frontend/src/components/tooltips/useMergeTips.tsx
  frontend/src/contexts/file/FileReducer.ts
  frontend/src/contexts/file/fileHooks.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/merge/useMergeOperation.test.ts
  frontend/src/hooks/tools/merge/useMergeOperation.ts
  frontend/src/hooks/tools/merge/useMergeParameters.test.ts
  frontend/src/hooks/tools/merge/useMergeParameters.ts
  frontend/src/hooks/tools/shared/useBaseTool.ts
  frontend/src/tools/Automate.tsx
  frontend/src/tools/Convert.tsx
  frontend/src/tools/Flatten.tsx
  frontend/src/tools/Merge.tsx
  frontend/src/tools/RemoveCertificateSign.tsx
  frontend/src/tools/Repair.tsx
  frontend/src/tools/Sanitize.tsx
  frontend/src/tools/SingleLargePage.tsx
  frontend/src/tools/UnlockPdfForms.tsx
  testing/test_pdf_1.pdf
  testing/test_pdf_2.pdf
  testing/test_pdf_3.pdf
  testing/test_pdf_4.pdf
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle, @Ludy87

Add Adjust Page Size tool
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/adjustPageScale/AdjustPageScaleSettings.tsx
  frontend/src/components/tooltips/useAdjustPageScaleTips.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/adjustPageScale/useAdjustPageScaleOperation.ts
  frontend/src/hooks/tools/adjustPageScale/useAdjustPageScaleParameters.ts
  frontend/src/tools/AdjustPageScale.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Add tests
  frontend/src/components/tools/adjustPageScale/AdjustPageScaleSettings.test.tsx
  frontend/src/hooks/tools/adjustPageScale/useAdjustPageScaleParameters.test.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Change tips icon to i circle
  frontend/src/components/tools/shared/ToolStep.tsx
  frontend/src/components/tools/shared/ToolWorkflowTitle.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Change tips icon to i circle (#4430)
  frontend/src/components/tools/shared/ToolStep.tsx
  frontend/src/components/tools/shared/ToolWorkflowTitle.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Change tips icon to i circle (#4430)
  frontend/src/components/tools/shared/ToolStep.tsx
  frontend/src/components/tools/shared/ToolWorkflowTitle.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Semi working
  frontend/src/components/FileManager.tsx
  frontend/src/components/fileManager/CompactFileDetails.tsx
  frontend/src/components/fileManager/FileInfoCard.tsx
  frontend/src/components/fileManager/FileListItem.tsx
  frontend/src/components/layout/Workbench.tsx
  frontend/src/components/shared/FilePreview.tsx
  frontend/src/components/shared/LandingPage.tsx
  frontend/src/components/shared/filePreview/DocumentThumbnail.tsx
  frontend/src/components/tools/shared/FileStatusIndicator.tsx
  frontend/src/components/viewer/Viewer.tsx
  frontend/src/contexts/FileContext.tsx
  frontend/src/contexts/FileManagerContext.tsx
  frontend/src/contexts/FilesModalContext.tsx
  frontend/src/contexts/IndexedDBContext.tsx
  frontend/src/contexts/file/fileActions.ts
  frontend/src/hooks/tools/shared/useToolOperation.ts
  frontend/src/hooks/useFileHandler.ts
  frontend/src/hooks/useFileManager.ts
  frontend/src/hooks/useIndexedDBThumbnail.ts
  frontend/src/services/fileStorage.ts
  frontend/src/types/fileContext.ts
  frontend/src/utils/downloadUtils.ts
  frontend/src/utils/fileHistoryUtils.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Show history
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/fileManager/FileHistoryGroup.tsx
  frontend/src/components/fileManager/FileListArea.tsx
  frontend/src/components/fileManager/FileListItem.tsx
  frontend/src/contexts/FileManagerContext.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Fixes page editor loading
  frontend/src/contexts/FilesModalContext.tsx
  frontend/src/contexts/file/fileActions.ts
  frontend/src/hooks/useFileHandler.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Removed not needed processed files
  frontend/src/contexts/FileContext.tsx
  frontend/src/contexts/file/fileActions.ts
  frontend/src/types/fileContext.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Simplifying adding raw files
  frontend/src/contexts/FileContext.tsx
  frontend/src/contexts/IndexedDBContext.tsx
  frontend/src/contexts/file/fileActions.ts
  frontend/src/services/fileStorage.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Clean up
  devGuide/FILE_HISTORY_SPECIFICATION.md
  frontend/src/components/fileManager/FileHistoryGroup.tsx
  frontend/src/components/fileManager/FileListArea.tsx
Owners: @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

Fix error with expansion
  frontend/src/contexts/FileManagerContext.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

[#4262] Added date and time to a stamp
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/StampController.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Dead code
  frontend/src/components/fileManager/FileListItem.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Fix tests
  frontend/src/components/fileManager/FileActions.tsx
  frontend/src/hooks/tools/addPassword/useAddPasswordOperation.test.ts
  frontend/src/hooks/tools/changePermissions/useChangePermissionsOperation.test.ts
  frontend/src/hooks/tools/removePassword/useRemovePasswordOperation.test.ts
  frontend/src/tests/convert/ConvertIntegration.test.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Initial commit of change metadata
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/changeMetadata/ChangeMetadataSettings.tsx
  frontend/src/components/tooltips/useChangeMetadataTips.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/changeMetadata/useChangeMetadataOperation.test.ts
  frontend/src/hooks/tools/changeMetadata/useChangeMetadataOperation.ts
  frontend/src/hooks/tools/changeMetadata/useChangeMetadataParameters.test.ts
  frontend/src/hooks/tools/changeMetadata/useChangeMetadataParameters.ts
  frontend/src/hooks/tools/shared/useBaseTool.ts
  frontend/src/tools/ChangeMetadata.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Use stub in fileEditorThumbnail
  frontend/src/components/fileEditor/FileEditor.tsx
  frontend/src/components/fileEditor/FileEditorThumbnail.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle
