Repository Stirling-Tools/Stirling-PDF, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @DarioGii, @reecebrowne, @EthanHealy01

.github/CODEOWNERS:

# All PRs must be approved by Frooodle or Ludy87
* @Frooodle @Ludy87 @jbrunton96 @ConnorYoh

# Backend
/app/** @DarioGii @Frooodle @Ludy87 @jbrunton96 @ConnorYoh

#V1 frontend
/app/core/src/main/resources/static/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87
/app/core/src/main/resources/templates/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87

#V2 frontend
/frontend/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle

#V2 docker
/docker/backend/** @Frooodle @Ludy87 @DarioGii @Ludy87
/docker/frontend/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87
/docker/compose/** @reecebrowne @ConnorYoh @EthanHealy01 @DarioGii @jbrunton96 @Frooodle @Ludy87


#GHA (All users)
/.github/** @reecebrowne @ConnorYoh @EthanHealy01 @DarioGii @jbrunton96 @Frooodle @Ludy87

oneOf and required body
  app/common/src/main/java/stirling/software/common/annotations/AutoJobPostMapping.java
  app/common/src/main/java/stirling/software/common/model/api/PDFFile.java
  app/core/src/main/java/stirling/software/SPDF/config/OpenApiConfig.java
  app/core/src/main/java/stirling/software/SPDF/config/SpringDocConfig.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

remove sig stuff from this PR
  app/common/src/main/java/stirling/software/common/service/ServerCertificateService.java
  app/core/src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  app/core/src/main/java/stirling/software/SPDF/config/swagger/CsvConversionResponse.java
  app/core/src/main/java/stirling/software/SPDF/config/swagger/ErrorResponse.java
  app/core/src/main/java/stirling/software/SPDF/config/swagger/JsonDataResponse.java
  app/core/src/main/java/stirling/software/SPDF/config/swagger/MultiFileResponse.java
  app/core/src/main/java/stirling/software/SPDF/config/swagger/StandardPdfResponse.java
  app/core/src/main/java/stirling/software/SPDF/configuration/ServerCertificateInitializer.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/BookletImpositionController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/security/CertSignController.java
  app/core/src/main/java/stirling/software/SPDF/model/api/general/BookletImpositionRequest.java
  app/core/src/main/java/stirling/software/SPDF/model/api/security/SignPDFWithCertRequest.java
  app/core/src/main/resources/settings.yml.template
  app/proprietary/src/main/java/stirling/software/proprietary/security/controller/api/ServerCertificateController.java
  app/proprietary/src/main/java/stirling/software/proprietary/service/ServerCertificateService.java
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/components/tools/bookletImposition/BookletImpositionSettings.tsx
  frontend/src/components/tools/manageSignatures/CertificateFilesSettings.tsx
  frontend/src/components/tools/manageSignatures/CertificateFormatSettings.tsx
  frontend/src/components/tools/manageSignatures/CertificateTypeSettings.tsx
  frontend/src/components/tools/manageSignatures/SignatureAppearanceSettings.tsx
  frontend/src/components/tooltips/useCertificateTypeTips.ts
  frontend/src/components/tooltips/useManageSignaturesTooltips.ts
  frontend/src/components/tooltips/useSignModeTips.ts
  frontend/src/components/tooltips/useSignatureAppearanceTips.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/bookletImposition/useBookletImpositionOperation.ts
  frontend/src/hooks/tools/bookletImposition/useBookletImpositionParameters.ts
  frontend/src/hooks/tools/manageSignatures/useManageSignaturesOperation.ts
  frontend/src/hooks/tools/manageSignatures/useManageSignaturesParameters.ts
  frontend/src/services/signatureDetectionService.ts
  frontend/src/tools/BookletImposition.tsx
  frontend/src/tools/ManageSignatures.tsx
  frontend/src/types/toolId.ts
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

better logs
  app/common/src/main/java/stirling/software/common/model/api/PDFFile.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

fix mrerge
  .claude/settings.local.json
Owners: @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

changes to preview calculations to make it more similar to the output
  frontend/src/components/tools/addStamp/StampPreview.tsx
  frontend/src/components/tools/addStamp/StampPreviewUtils.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

linter
  frontend/src/components/tools/addStamp/StampPreviewUtils.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Update frontend/src/hooks/tools/bookletImposition/useBookletImpositionOperation.ts
  frontend/src/hooks/tools/bookletImposition/useBookletImpositionOperation.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Update frontend/src/hooks/tools/manageSignatures/useManageSignaturesOperation.ts
  frontend/src/hooks/tools/manageSignatures/useManageSignaturesOperation.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Update frontend/src/hooks/tools/manageSignatures/useManageSignaturesOperation.ts
  frontend/src/hooks/tools/manageSignatures/useManageSignaturesOperation.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Normalise tool IDs and fix file history to render IDs properly (#4470)
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/fileManager/CompactFileDetails.tsx
  frontend/src/components/shared/ToolChain.tsx
  frontend/src/contexts/file/fileActions.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/adjustPageScale/useAdjustPageScaleOperation.ts
  frontend/src/hooks/tools/changePermissions/useChangePermissionsOperation.test.ts
  frontend/src/hooks/tools/changePermissions/useChangePermissionsOperation.ts
  frontend/src/hooks/tools/removeBlanks/useRemoveBlanksOperation.ts
  frontend/src/hooks/tools/removeCertificateSign/useRemoveCertificateSignOperation.ts
  frontend/src/hooks/tools/removePages/useRemovePagesOperation.ts
  frontend/src/hooks/tools/shared/useToolOperation.ts
  frontend/src/hooks/tools/singleLargePage/useSingleLargePageOperation.ts
  frontend/src/hooks/tools/split/useSplitOperation.ts
  frontend/src/hooks/tools/unlockPdfForms/useUnlockPdfFormsOperation.ts
  frontend/src/types/file.ts
  frontend/src/types/toolId.ts
  frontend/src/utils/urlMapping.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Normalise tool IDs and fix file history to render IDs properly (#4470)
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/fileManager/CompactFileDetails.tsx
  frontend/src/components/shared/ToolChain.tsx
  frontend/src/contexts/file/fileActions.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/adjustPageScale/useAdjustPageScaleOperation.ts
  frontend/src/hooks/tools/changePermissions/useChangePermissionsOperation.test.ts
  frontend/src/hooks/tools/changePermissions/useChangePermissionsOperation.ts
  frontend/src/hooks/tools/removeBlanks/useRemoveBlanksOperation.ts
  frontend/src/hooks/tools/removeCertificateSign/useRemoveCertificateSignOperation.ts
  frontend/src/hooks/tools/removePages/useRemovePagesOperation.ts
  frontend/src/hooks/tools/shared/useToolOperation.ts
  frontend/src/hooks/tools/singleLargePage/useSingleLargePageOperation.ts
  frontend/src/hooks/tools/split/useSplitOperation.ts
  frontend/src/hooks/tools/unlockPdfForms/useUnlockPdfFormsOperation.ts
  frontend/src/types/file.ts
  frontend/src/types/toolId.ts
  frontend/src/utils/urlMapping.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Disable language selection for everything other than English GB (#4467)
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/shared/LanguageSelector.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Disable language selection for everything other than English GB (#4467)
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/shared/LanguageSelector.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Update app/core/src/main/java/stirling/software/SPDF/controller/web/OtherWebController.java
  app/core/src/main/java/stirling/software/SPDF/controller/web/OtherWebController.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

ids
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/types/toolId.ts
  frontend/src/utils/urlMapping.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Make Viewer always accessible (#4468)
  frontend/src/components/shared/TopControls.tsx
  frontend/src/types/fileContext.ts
  frontend/src/types/workbench.ts
  frontend/src/utils/toolOperationTracker.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Make Viewer always accessible (#4468)
  frontend/src/components/shared/TopControls.tsx
  frontend/src/types/fileContext.ts
  frontend/src/types/workbench.ts
  frontend/src/utils/toolOperationTracker.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

fix dup
  frontend/src/data/useTranslatedToolRegistry.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

fix
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/ConfigController.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

changed the chinese characters to temporarily default to 30 so it fits on the page, same as V1
  frontend/src/components/tools/addStamp/StampPreviewUtils.ts
  frontend/src/components/tools/addStamp/useAddStampParameters.ts
  frontend/src/tools/AddStamp.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Cleanups
  frontend/src/components/tools/crop/CropAreaSelector.tsx
  frontend/src/components/tools/crop/CropSettings.tsx
  frontend/src/constants/cropConstants.ts
  frontend/src/constants/pageSizeConstants.ts
  frontend/src/hooks/tools/crop/useCropOperation.ts
  frontend/src/hooks/tools/crop/useCropParameters.ts
  frontend/src/utils/cropCoordinates.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Update imports
  frontend/src/components/tools/crop/CropSettings.tsx
  frontend/src/hooks/tools/crop/useCropParameters.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

conflicts
  frontend/src/components/tools/addStamp/useAddStampOperation.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Delete .github/workflows directory
  .github/workflows/PR-Demo-Comment.yml
  .github/workflows/PR-Demo-cleanup.yml
  .github/workflows/auto-labeler.yml
  .github/workflows/build.yml
  .github/workflows/check_properties.yml
  .github/workflows/codeql.yml-disabled
  .github/workflows/dependency-review.yml
  .github/workflows/licenses-update.yml
  .github/workflows/manage-label.yml
  .github/workflows/multiOSReleases.yml
  .github/workflows/pre_commit.yml
  .github/workflows/push-docker.yml
  .github/workflows/releaseArtifacts.yml
  .github/workflows/scorecards.yml
  .github/workflows/sonarqube.yml
  .github/workflows/stale.yml
  .github/workflows/swagger.yml
  .github/workflows/sync_files.yml
  .github/workflows/testdriver.yml
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @DarioGii, @jbrunton96, @Frooodle, @Ludy87

Delete .github/workflows directory
  .github/workflows/PR-Demo-Comment-with-react.yml
  .github/workflows/PR-Demo-cleanup.yml
  .github/workflows/auto-labeler.yml
  .github/workflows/build.yml
  .github/workflows/check_properties.yml
  .github/workflows/codeql.yml-disabled
  .github/workflows/dependency-review.yml
  .github/workflows/file_hash_generation.yml
  .github/workflows/licenses-update.yml
  .github/workflows/manage-label.yml
  .github/workflows/multiOSReleases.yml
  .github/workflows/pre_commit.yml
  .github/workflows/push-docker.yml
  .github/workflows/releaseArtifacts.yml
  .github/workflows/scorecards.yml
  .github/workflows/sonarqube.yml
  .github/workflows/stale.yml
  .github/workflows/swagger.yml
  .github/workflows/sync_files.yml
  .github/workflows/testdriver.yml
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @DarioGii, @jbrunton96, @Frooodle, @Ludy87

Delete .github/workflows directory
  .github/workflows/PR-Demo-Comment-with-react.yml
  .github/workflows/PR-Demo-cleanup.yml
  .github/workflows/auto-labeler.yml
  .github/workflows/build.yml
  .github/workflows/check_properties.yml
  .github/workflows/codeql.yml-disabled
  .github/workflows/dependency-review.yml
  .github/workflows/licenses-update.yml
  .github/workflows/manage-label.yml
  .github/workflows/multiOSReleases.yml
  .github/workflows/pre_commit.yml
  .github/workflows/push-docker.yml
  .github/workflows/releaseArtifacts.yml
  .github/workflows/scorecards.yml
  .github/workflows/sonarqube.yml
  .github/workflows/stale.yml
  .github/workflows/swagger.yml
  .github/workflows/sync_files.yml
  .github/workflows/testdriver.yml
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @DarioGii, @jbrunton96, @Frooodle, @Ludy87

Delete .github/workflows directory
  .github/workflows/PR-Demo-Comment-with-react.yml
  .github/workflows/PR-Demo-cleanup.yml
  .github/workflows/auto-labeler.yml
  .github/workflows/build.yml
  .github/workflows/check_properties.yml
  .github/workflows/codeql.yml-disabled
  .github/workflows/dependency-review.yml
  .github/workflows/licenses-update.yml
  .github/workflows/manage-label.yml
  .github/workflows/multiOSReleases.yml
  .github/workflows/pre_commit.yml
  .github/workflows/push-docker.yml
  .github/workflows/releaseArtifacts.yml
  .github/workflows/scorecards.yml
  .github/workflows/sonarqube.yml
  .github/workflows/stale.yml
  .github/workflows/swagger.yml
  .github/workflows/sync_files.yml
  .github/workflows/testdriver.yml
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @DarioGii, @jbrunton96, @Frooodle, @Ludy87

Delete .github/workflows directory
  .github/workflows/build.yml
  .github/workflows/pull_request_template.md
  .github/workflows/push-docker.yml
  .github/workflows/releaseArtifacts.yml
  .github/workflows/swagger.yml
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @DarioGii, @jbrunton96, @Frooodle, @Ludy87

Canvas and dosument draw split, drawing improvements
  frontend/src/components/tools/sign/SignSettings.tsx
  frontend/src/components/viewer/SignatureAPIBridge.tsx
  frontend/src/contexts/SignatureContext.tsx
  frontend/src/hooks/tools/sign/useSignParameters.ts
  frontend/src/tools/Sign.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Add Crop to V2 (#4471)
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/crop/CropAreaSelector.tsx
  frontend/src/components/tools/crop/CropSettings.tsx
  frontend/src/components/tooltips/useCropTooltips.ts
  frontend/src/constants/cropConstants.ts
  frontend/src/constants/pageSizeConstants.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/crop/useCropOperation.ts
  frontend/src/hooks/tools/crop/useCropParameters.ts
  frontend/src/theme/mantineTheme.ts
  frontend/src/tools/Crop.tsx
  frontend/src/utils/cropCoordinates.ts
  testing/crop_test.pdf
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle, @Ludy87

Add Crop to V2 (#4471)
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/crop/CropAreaSelector.tsx
  frontend/src/components/tools/crop/CropSettings.tsx
  frontend/src/components/tooltips/useCropTooltips.ts
  frontend/src/constants/cropConstants.ts
  frontend/src/constants/pageSizeConstants.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/crop/useCropOperation.ts
  frontend/src/hooks/tools/crop/useCropParameters.ts
  frontend/src/theme/mantineTheme.ts
  frontend/src/tools/Crop.tsx
  frontend/src/utils/cropCoordinates.ts
  testing/crop_test.pdf
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle, @Ludy87

Colours on document draw + translations
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/sign/SignSettings.tsx
  frontend/src/components/viewer/SignatureAPIBridge.tsx
  frontend/src/contexts/SignatureContext.tsx
  frontend/src/tools/Sign.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

formats and renames
  app/common/src/main/java/stirling/software/common/model/api/PDFFile.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/ConfigController.java
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/certSign/CertificateFilesSettings.tsx
  frontend/src/components/tools/certSign/CertificateFormatSettings.tsx
  frontend/src/components/tools/certSign/CertificateTypeSettings.tsx
  frontend/src/components/tools/certSign/SignatureAppearanceSettings.tsx
  frontend/src/components/tooltips/useCertSignTooltips.ts
  frontend/src/components/tooltips/useCertificateTypeTips.ts
  frontend/src/components/tooltips/useManageSignaturesTooltips.ts
  frontend/src/components/tooltips/useSignModeTips.ts
  frontend/src/components/tooltips/useSignatureAppearanceTips.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/certSign/useCertSignOperation.ts
  frontend/src/hooks/tools/certSign/useCertSignParameters.ts
  frontend/src/tools/CertSign.tsx
  frontend/src/types/toolId.ts
  frontend/src/utils/urlMapping.ts
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

Update frontend dependencies
  frontend/package-lock.json
  frontend/package.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

fix: normalize path in ApplicationPropertiesLogicTest
  app/common/src/test/java/stirling/software/common/model/ApplicationPropertiesLogicTest.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

fix: normalize path in ApplicationPropertiesLogicTest (#4477)
  app/common/src/test/java/stirling/software/common/model/ApplicationPropertiesLogicTest.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

fix: normalize path in ApplicationPropertiesLogicTest (#4477)
  app/common/src/test/java/stirling/software/common/model/ApplicationPropertiesLogicTest.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Add React and hooks ESLint plugins and config
  frontend/eslint.config.mjs
  frontend/package-lock.json
  frontend/package.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Update frontend/eslint.config.mjs
  frontend/eslint.config.mjs
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

resolve conflicts
  app/common/src/main/java/stirling/software/common/service/SsrfProtectionService.java
  app/common/src/main/java/stirling/software/common/util/PdfUtils.java
  app/common/src/main/java/stirling/software/common/util/RegexPatternUtils.java
  app/core/src/main/java/stirling/software/SPDF/UI/impl/LoadingWindow.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/MergeController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/SplitPDFController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/SplitPdfBySectionsController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/converters/ConvertOfficeController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/converters/ConvertWebsiteToPDF.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/AutoSplitPdfController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/DecompressPdfController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/ScannerEffectController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/ShowJavascript.java
  app/core/src/main/java/stirling/software/SPDF/service/ApiDocService.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/controller/api/AdminSettingsController.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/service/CustomUserDetailsService.java
  app/proprietary/src/main/java/stirling/software/proprietary/util/SecretMasker.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh
