Repository Stirling-Tools/Stirling-PDF, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @DarioGii, @reecebrowne, @EthanHealy01

fix: update regex patterns and manage temporary zip file handling
  app/common/src/main/java/stirling/software/common/util/RegexPatternUtils.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/SplitPDFController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/SplitPdfBySizeController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/UnlockPDFFormsController.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Restore GeneralUtils
  app/common/src/main/java/stirling/software/common/util/GeneralUtils.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

optimize size unit validation using a precomputed Set
  app/common/src/main/java/stirling/software/common/util/GeneralUtils.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

fix: update method to convert ByteArrayOutputStream to byte array in ScalePagesController
  app/core/src/main/java/stirling/software/SPDF/controller/api/ScalePagesController.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

fix: update imports in StampController to include necessary utility classes
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/StampController.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

fix: change variable declarations
  app/common/src/main/java/stirling/software/common/util/GeneralUtils.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

fix hallucationation
  app/common/src/main/java/stirling/software/common/util/GeneralUtils.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

error logging, refactor
  app/common/src/main/java/stirling/software/common/util/GeneralUtils.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Booklet and server sign (#4371)
  app/common/src/main/java/stirling/software/common/model/api/PDFFile.java
  app/common/src/main/java/stirling/software/common/service/ServerCertificateServiceInterface.java
  app/core/src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/BookletImpositionController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/ConfigController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/security/CertSignController.java
  app/core/src/main/java/stirling/software/SPDF/model/api/general/BookletImpositionRequest.java
  app/core/src/main/java/stirling/software/SPDF/model/api/security/SignPDFWithCertRequest.java
  app/core/src/main/resources/settings.yml.template
  app/proprietary/src/main/java/stirling/software/proprietary/configuration/ServerCertificateInitializer.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/controller/api/ServerCertificateController.java
  app/proprietary/src/main/java/stirling/software/proprietary/service/ServerCertificateService.java
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/components/shared/ButtonSelector.tsx
  frontend/src/components/tools/bookletImposition/BookletImpositionSettings.tsx
  frontend/src/components/tools/certSign/CertificateFilesSettings.tsx
  frontend/src/components/tools/certSign/CertificateFormatSettings.tsx
  frontend/src/components/tools/certSign/CertificateTypeSettings.tsx
  frontend/src/components/tools/certSign/SignatureAppearanceSettings.tsx
  frontend/src/components/tooltips/useBookletImpositionTips.ts
  frontend/src/components/tooltips/useCertSignTooltips.ts
  frontend/src/components/tooltips/useCertificateTypeTips.ts
  frontend/src/components/tooltips/useSignModeTips.ts
  frontend/src/components/tooltips/useSignatureAppearanceTips.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/bookletImposition/useBookletImpositionOperation.ts
  frontend/src/hooks/tools/bookletImposition/useBookletImpositionParameters.ts
  frontend/src/hooks/tools/certSign/useCertSignOperation.ts
  frontend/src/hooks/tools/certSign/useCertSignParameters.ts
  frontend/src/hooks/useAppConfig.ts
  frontend/src/services/signatureDetectionService.ts
  frontend/src/tools/BookletImposition.tsx
  frontend/src/tools/CertSign.tsx
  frontend/src/types/toolId.ts
  frontend/src/utils/urlMapping.ts
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

Booklet and server sign (#4371)
  app/common/src/main/java/stirling/software/common/model/api/PDFFile.java
  app/common/src/main/java/stirling/software/common/service/ServerCertificateServiceInterface.java
  app/core/src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/BookletImpositionController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/ConfigController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/security/CertSignController.java
  app/core/src/main/java/stirling/software/SPDF/model/api/general/BookletImpositionRequest.java
  app/core/src/main/java/stirling/software/SPDF/model/api/security/SignPDFWithCertRequest.java
  app/core/src/main/resources/settings.yml.template
  app/proprietary/src/main/java/stirling/software/proprietary/configuration/ServerCertificateInitializer.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/controller/api/ServerCertificateController.java
  app/proprietary/src/main/java/stirling/software/proprietary/service/ServerCertificateService.java
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/components/shared/ButtonSelector.tsx
  frontend/src/components/tools/bookletImposition/BookletImpositionSettings.tsx
  frontend/src/components/tools/certSign/CertificateFilesSettings.tsx
  frontend/src/components/tools/certSign/CertificateFormatSettings.tsx
  frontend/src/components/tools/certSign/CertificateTypeSettings.tsx
  frontend/src/components/tools/certSign/SignatureAppearanceSettings.tsx
  frontend/src/components/tooltips/useBookletImpositionTips.ts
  frontend/src/components/tooltips/useCertSignTooltips.ts
  frontend/src/components/tooltips/useCertificateTypeTips.ts
  frontend/src/components/tooltips/useSignModeTips.ts
  frontend/src/components/tooltips/useSignatureAppearanceTips.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/bookletImposition/useBookletImpositionOperation.ts
  frontend/src/hooks/tools/bookletImposition/useBookletImpositionParameters.ts
  frontend/src/hooks/tools/certSign/useCertSignOperation.ts
  frontend/src/hooks/tools/certSign/useCertSignParameters.ts
  frontend/src/hooks/useAppConfig.ts
  frontend/src/services/signatureDetectionService.ts
  frontend/src/tools/BookletImposition.tsx
  frontend/src/tools/CertSign.tsx
  frontend/src/types/toolId.ts
  frontend/src/utils/urlMapping.ts
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

text and improved drawing
  frontend/src/components/tools/sign/SignSettings.tsx
  frontend/src/components/viewer/SignatureAPIBridge.tsx
  frontend/src/contexts/SignatureContext.tsx
  frontend/src/hooks/tools/sign/useSignParameters.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

fuzzy search + tool name synonyms
  frontend/src/components/tools/SearchResults.tsx
  frontend/src/components/tools/ToolPanel.tsx
  frontend/src/components/tools/shared/renderToolButtons.tsx
  frontend/src/components/tools/toolPicker/ToolButton.tsx
  frontend/src/components/tools/toolPicker/ToolSearch.tsx
  frontend/src/contexts/ToolWorkflowContext.tsx
  frontend/src/data/toolsTaxonomy.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/useToolSections.ts
  frontend/src/utils/fuzzySearch.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

combine steps 2 and 3
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/tools/AddStamp.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Addition of the Add Stamp to PDF tool (#4440)
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/StampController.java
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/components/shared/ButtonSelector.tsx
  frontend/src/components/shared/ObscuredOverlay.tsx
  frontend/src/components/shared/ObscuredOverlay/ObscuredOverlay.module.css
  frontend/src/components/tools/addStamp/StampPreview.module.css
  frontend/src/components/tools/addStamp/StampPreview.tsx
  frontend/src/components/tools/addStamp/StampPreviewUtils.ts
  frontend/src/components/tools/addStamp/useAddStampOperation.ts
  frontend/src/components/tools/addStamp/useAddStampParameters.ts
  frontend/src/components/tools/shared/ReviewToolStep.tsx
  frontend/src/components/tools/shared/createToolFlow.tsx
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/styles/theme.css
  frontend/src/tools/AddStamp.tsx
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

Addition of the Add Stamp to PDF tool (#4440)
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/StampController.java
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/components/shared/ButtonSelector.tsx
  frontend/src/components/shared/ObscuredOverlay.tsx
  frontend/src/components/shared/ObscuredOverlay/ObscuredOverlay.module.css
  frontend/src/components/tools/addStamp/StampPreview.module.css
  frontend/src/components/tools/addStamp/StampPreview.tsx
  frontend/src/components/tools/addStamp/StampPreviewUtils.ts
  frontend/src/components/tools/addStamp/useAddStampOperation.ts
  frontend/src/components/tools/addStamp/useAddStampParameters.ts
  frontend/src/components/tools/shared/ReviewToolStep.tsx
  frontend/src/components/tools/shared/createToolFlow.tsx
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/styles/theme.css
  frontend/src/tools/AddStamp.tsx
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

Fix sidebar refresh. Updated UI
  frontend/src/components/tools/sign/SignSettings.tsx
  frontend/src/components/viewer/ThumbnailSidebar.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

fix add image
  frontend/src/components/tools/sign/SignSettings.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Delete signature
  frontend/src/components/tools/sign/SignSettings.tsx
  frontend/src/components/viewer/LocalEmbedPDF.tsx
  frontend/src/components/viewer/SignatureAPIBridge.tsx
  frontend/src/contexts/SignatureContext.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

add synonyms/tags to search
  frontend/src/components/tools/ToolPicker.tsx
  frontend/src/components/tools/automate/ToolSelector.tsx
  frontend/src/components/tools/toolPicker/ToolButton.tsx
  frontend/src/contexts/ToolWorkflowContext.tsx
  frontend/src/data/useTranslatedToolRegistry.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

offload to files
  frontend/src/contexts/ToolWorkflowContext.tsx
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/utils/fuzzySearch.ts
  frontend/src/utils/toolSearch.ts
  frontend/src/utils/toolSynonyms.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Update PDF.js integration and dependencies (#4360)
  .github/workflows/PR-Auto-Deploy-V2.yml
  .github/workflows/frontend-licenses-update.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/public/pdf.js
  frontend/public/pdf.worker.js
  frontend/scripts/generate-licenses.js
  frontend/src/assets/3rdPartyLicenses.json
  frontend/src/global.d.ts
  frontend/src/hooks/usePDFProcessor.ts
  frontend/src/services/pdfProcessingService.ts
  frontend/src/services/pdfWorkerManager.ts
  frontend/src/utils/thumbnailUtils.ts
  frontend/vite.config.ts
  frontend/vitest.config.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @DarioGii, @jbrunton96, @Frooodle, @Ludy87

Update PDF.js integration and dependencies (#4360)
  .github/workflows/PR-Auto-Deploy-V2.yml
  .github/workflows/frontend-licenses-update.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/public/pdf.js
  frontend/public/pdf.worker.js
  frontend/scripts/generate-licenses.js
  frontend/src/assets/3rdPartyLicenses.json
  frontend/src/global.d.ts
  frontend/src/hooks/usePDFProcessor.ts
  frontend/src/services/pdfProcessingService.ts
  frontend/src/services/pdfWorkerManager.ts
  frontend/src/utils/thumbnailUtils.ts
  frontend/vite.config.ts
  frontend/vitest.config.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @DarioGii, @jbrunton96, @Frooodle, @Ludy87

fixes V2
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/layout/Workbench.tsx
  frontend/src/components/tools/ToolRenderer.tsx
  frontend/src/hooks/useSidebarNavigation.ts
  frontend/src/hooks/useSuggestedTools.ts
  frontend/src/hooks/useToolManagement.tsx
  frontend/src/types/toolId.ts
  frontend/src/utils/urlMapping.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

langs
  frontend/public/locales/en-GB/translation.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

dont hide tools during load
  frontend/src/hooks/useToolManagement.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

getSelectedTool
  frontend/src/contexts/ToolWorkflowContext.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Add undo/redo functionality and refactor signature settings UI
  frontend/src/components/tools/sign/SignSettings.tsx
  frontend/src/components/viewer/EmbedPdfViewer.tsx
  frontend/src/components/viewer/HistoryAPIBridge.tsx
  frontend/src/components/viewer/LocalEmbedPDF.tsx
  frontend/src/components/viewer/SignatureAPIBridge.tsx
  frontend/src/contexts/SignatureContext.tsx
  frontend/src/tools/Sign.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

fixes V2 (#4483)
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/layout/Workbench.tsx
  frontend/src/components/tools/ToolRenderer.tsx
  frontend/src/contexts/ToolWorkflowContext.tsx
  frontend/src/hooks/useSidebarNavigation.ts
  frontend/src/hooks/useSuggestedTools.ts
  frontend/src/types/toolId.ts
  frontend/src/utils/urlMapping.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

fixes V2 (#4483)
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/layout/Workbench.tsx
  frontend/src/components/tools/ToolRenderer.tsx
  frontend/src/contexts/ToolWorkflowContext.tsx
  frontend/src/hooks/useSidebarNavigation.ts
  frontend/src/hooks/useSuggestedTools.ts
  frontend/src/types/toolId.ts
  frontend/src/utils/urlMapping.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

fuzzy search results order improvements
  frontend/src/hooks/useToolSections.ts
  frontend/src/utils/toolSearch.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Rename generate-licenses script to .mjs
  frontend/package.json
  frontend/scripts/generate-licenses.mjs
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

linter
  frontend/src/hooks/useToolSections.ts
  frontend/src/utils/toolSynonyms.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Updated package-lock
  frontend/package-lock.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

update vite config
  frontend/vite.config.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

downgrade mantine
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/fileEditor/FileEditorThumbnail.tsx
  frontend/src/components/fileManager/FileListItem.tsx
  frontend/src/components/pageEditor/FileThumbnail.tsx
  frontend/src/components/pageEditor/PageThumbnail.tsx
  frontend/src/components/shared/CardSelector.tsx
  frontend/src/components/shared/DropdownListWithFooter.tsx
  frontend/src/components/shared/FileCard.tsx
  frontend/src/components/tools/automate/AutomationEntry.tsx
  frontend/src/components/tools/automate/IconSelector.tsx
  frontend/src/components/tools/convert/GroupedFormatDropdown.tsx
  frontend/src/components/viewer/ThumbnailSidebar.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Upgrade @mantine packages to version 8.3.1
  frontend/package.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Export with embedpdf
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/shared/RightRail.tsx
  frontend/src/components/viewer/ExportAPIBridge.tsx
  frontend/src/components/viewer/LocalEmbedPDF.tsx
  frontend/src/contexts/ViewerContext.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Refactor tooltips, context, and update dependencies
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/shared/ToolChain.tsx
  frontend/src/components/shared/Tooltip.tsx
  frontend/src/components/tools/shared/FilesToolStep.tsx
  frontend/src/components/tools/shared/ReviewToolStep.tsx
  frontend/src/components/tools/shared/ToolStep.tsx
  frontend/src/components/tooltips/useSplitSettingsTips.ts
  frontend/src/constants/app.ts
  frontend/src/contexts/FileContext.tsx
  frontend/src/hooks/tools/shared/useBaseParameters.ts
  frontend/src/tools/Split.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Update SidebarContext.tsx
  frontend/src/contexts/SidebarContext.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Update useSplitSettingsTips.ts
  frontend/src/components/tooltips/useSplitSettingsTips.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

.github/CODEOWNERS:

# All PRs must be approved by Frooodle or Ludy87
* @Frooodle @Ludy87 @jbrunton96 @ConnorYoh

# Backend
/app/** @DarioGii @Frooodle @Ludy87 @jbrunton96 @ConnorYoh

#V1 frontend
/app/core/src/main/resources/static/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87
/app/core/src/main/resources/templates/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87

#V2 frontend
/frontend/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle

#V2 docker
/docker/backend/** @Frooodle @Ludy87 @DarioGii @Ludy87
/docker/frontend/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87
/docker/compose/** @reecebrowne @ConnorYoh @EthanHealy01 @DarioGii @jbrunton96 @Frooodle @Ludy87


#GHA (All users)
/.github/** @reecebrowne @ConnorYoh @EthanHealy01 @DarioGii @jbrunton96 @Frooodle @Ludy87
