Repository Stirling-Tools/Stirling-PDF, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @DarioGii, @reecebrowne, @EthanHealy01

.github/CODEOWNERS:

# All PRs must be approved by Frooodle or Ludy87
* @Frooodle @Ludy87 @jbrunton96 @ConnorYoh

# Backend
/app/** @DarioGii @Frooodle @Ludy87 @jbrunton96 @ConnorYoh

#V1 frontend
/app/core/src/main/resources/static/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87
/app/core/src/main/resources/templates/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87

#V2 frontend
/frontend/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle

#V2 docker
/docker/backend/** @Frooodle @Ludy87 @DarioGii @Ludy87
/docker/frontend/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87
/docker/compose/** @reecebrowne @ConnorYoh @EthanHealy01 @DarioGii @jbrunton96 @Frooodle @Ludy87


#GHA (All users)
/.github/** @reecebrowne @ConnorYoh @EthanHealy01 @DarioGii @jbrunton96 @Frooodle @Ludy87

Remove custom response handler from Merge (#4457)
  CLAUDE.md
  frontend/src/hooks/tools/merge/useMergeOperation.test.ts
  frontend/src/hooks/tools/merge/useMergeOperation.ts
  frontend/src/hooks/tools/shared/useToolOperation.ts
Owners: @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

add a prop maxOneExpanded to make the toolstep only allow one step to be expanded at a time and use it in the add stamp tool
  frontend/src/components/tools/shared/ReviewToolStep.tsx
  frontend/src/components/tools/shared/SingleExpansionContext.tsx
  frontend/src/components/tools/shared/createToolFlow.tsx
  frontend/src/components/tools/shared/useSingleExpandController.ts
  frontend/src/tools/AddStamp.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

remove lint
  frontend/src/components/tools/shared/useSingleExpandController.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

make a util for page selection
  frontend/src/components/tools/removePages/RemovePagesSettings.tsx
  frontend/src/hooks/tools/removePages/useRemovePagesParameters.ts
  frontend/src/utils/pageSelection.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

add a slider for the %
  frontend/src/components/tools/removeBlanks/RemoveBlanksSettings.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

regex was broken
  frontend/src/hooks/tools/removePages/useRemovePagesOperation.ts
  frontend/src/utils/pageSelection.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

allow even and odd to be clicked before any other terms
  frontend/src/components/pageEditor/bulkSelectionPanel/BulkSelection.ts
  frontend/src/components/pageEditor/bulkSelectionPanel/OperatorsSection.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

fix: Throw exceptions for invalid page size instead of returning null in getTargetSize method
  app/core/src/main/java/stirling/software/SPDF/controller/api/ScalePagesController.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

grammar
  app/core/src/main/java/stirling/software/SPDF/controller/api/ScalePagesController.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

log error reading XMP
  app/core/src/main/java/stirling/software/SPDF/controller/api/MergeController.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

feat: Update Brazilian Portuguese translation
  app/core/src/main/resources/messages_pt_BR.properties
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Clean up
  frontend/src/components/shared/RightRail.tsx
  frontend/src/components/viewer/EmbedPdfViewer.tsx
  frontend/src/components/viewer/PdfViewerToolbar.tsx
  frontend/src/components/viewer/ScrollAPIBridge.tsx
  frontend/src/components/viewer/SearchInterface.tsx
  frontend/src/components/viewer/SelectionAPIBridge.tsx
  frontend/src/components/viewer/SpreadAPIBridge.tsx
  frontend/src/components/viewer/ThumbnailSidebar.tsx
  frontend/src/components/viewer/ZoomAPIBridge.tsx
  frontend/src/contexts/ViewerContext.tsx
  frontend/src/types/embedPdf.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Tweaks
  frontend/src/components/viewer/LocalEmbedPDF.tsx
  frontend/src/components/viewer/ThumbnailSidebar.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Feature/v2/remove pages (#4445)
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/components/tools/removeBlanks/RemoveBlanksSettings.tsx
  frontend/src/components/tools/removePages/RemovePagesSettings.tsx
  frontend/src/components/tooltips/useRemoveBlanksTips.ts
  frontend/src/components/tooltips/useRemovePagesTips.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/removeBlanks/useRemoveBlanksOperation.ts
  frontend/src/hooks/tools/removeBlanks/useRemoveBlanksParameters.ts
  frontend/src/hooks/tools/removePages/useRemovePagesOperation.ts
  frontend/src/hooks/tools/removePages/useRemovePagesParameters.ts
  frontend/src/tools/RemoveBlanks.tsx
  frontend/src/tools/RemovePages.tsx
  frontend/src/utils/pageSelection.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Feature/v2/remove pages (#4445)
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/components/tools/removeBlanks/RemoveBlanksSettings.tsx
  frontend/src/components/tools/removePages/RemovePagesSettings.tsx
  frontend/src/components/tooltips/useRemoveBlanksTips.ts
  frontend/src/components/tooltips/useRemovePagesTips.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/removeBlanks/useRemoveBlanksOperation.ts
  frontend/src/hooks/tools/removeBlanks/useRemoveBlanksParameters.ts
  frontend/src/hooks/tools/removePages/useRemovePagesOperation.ts
  frontend/src/hooks/tools/removePages/useRemovePagesParameters.ts
  frontend/src/tools/RemoveBlanks.tsx
  frontend/src/tools/RemovePages.tsx
  frontend/src/utils/pageSelection.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

V2 change metadata (#4433)
  frontend/package-lock.json
  frontend/package.json
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/changeMetadata/ChangeMetadataSingleStep.tsx
  frontend/src/components/tools/changeMetadata/steps/AdvancedOptionsStep.tsx
  frontend/src/components/tools/changeMetadata/steps/CustomMetadataStep.tsx
  frontend/src/components/tools/changeMetadata/steps/DeleteAllStep.tsx
  frontend/src/components/tools/changeMetadata/steps/DocumentDatesStep.tsx
  frontend/src/components/tools/changeMetadata/steps/StandardMetadataStep.tsx
  frontend/src/components/tooltips/useChangeMetadataTips.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/changeMetadata/useChangeMetadataOperation.test.ts
  frontend/src/hooks/tools/changeMetadata/useChangeMetadataOperation.ts
  frontend/src/hooks/tools/changeMetadata/useChangeMetadataParameters.test.ts
  frontend/src/hooks/tools/changeMetadata/useChangeMetadataParameters.ts
  frontend/src/hooks/tools/changeMetadata/useMetadataExtraction.ts
  frontend/src/index.tsx
  frontend/src/services/pdfMetadataService.ts
  frontend/src/services/pdfWorkerManager.ts
  frontend/src/tools/ChangeMetadata.tsx
  frontend/src/types/metadata.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

V2 change metadata (#4433)
  frontend/package-lock.json
  frontend/package.json
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/changeMetadata/ChangeMetadataSingleStep.tsx
  frontend/src/components/tools/changeMetadata/steps/AdvancedOptionsStep.tsx
  frontend/src/components/tools/changeMetadata/steps/CustomMetadataStep.tsx
  frontend/src/components/tools/changeMetadata/steps/DeleteAllStep.tsx
  frontend/src/components/tools/changeMetadata/steps/DocumentDatesStep.tsx
  frontend/src/components/tools/changeMetadata/steps/StandardMetadataStep.tsx
  frontend/src/components/tooltips/useChangeMetadataTips.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/changeMetadata/useChangeMetadataOperation.test.ts
  frontend/src/hooks/tools/changeMetadata/useChangeMetadataOperation.ts
  frontend/src/hooks/tools/changeMetadata/useChangeMetadataParameters.test.ts
  frontend/src/hooks/tools/changeMetadata/useChangeMetadataParameters.ts
  frontend/src/hooks/tools/changeMetadata/useMetadataExtraction.ts
  frontend/src/index.tsx
  frontend/src/services/pdfMetadataService.ts
  frontend/src/services/pdfWorkerManager.ts
  frontend/src/tools/ChangeMetadata.tsx
  frontend/src/types/metadata.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

V2 rotate (#4452)
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/rotate/RotateSettings.tsx
  frontend/src/components/tooltips/useRotateTips.ts
  frontend/src/contexts/file/fileHooks.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/rotate/useRotateOperation.test.ts
  frontend/src/hooks/tools/rotate/useRotateOperation.ts
  frontend/src/hooks/tools/rotate/useRotateParameters.test.ts
  frontend/src/hooks/tools/rotate/useRotateParameters.ts
  frontend/src/hooks/tools/shared/useBaseTool.ts
  frontend/src/tools/Merge.tsx
  frontend/src/tools/Rotate.tsx
  frontend/src/utils/urlMapping.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

V2 rotate (#4452)
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/rotate/RotateSettings.tsx
  frontend/src/components/tooltips/useRotateTips.ts
  frontend/src/contexts/file/fileHooks.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/rotate/useRotateOperation.test.ts
  frontend/src/hooks/tools/rotate/useRotateOperation.ts
  frontend/src/hooks/tools/rotate/useRotateParameters.test.ts
  frontend/src/hooks/tools/rotate/useRotateParameters.ts
  frontend/src/hooks/tools/shared/useBaseTool.ts
  frontend/src/tools/Merge.tsx
  frontend/src/tools/Rotate.tsx
  frontend/src/utils/urlMapping.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

change bulk selection panel to allow more versatile input (#4394)
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/components/pageEditor/BulkSelectionPanel.tsx
  frontend/src/components/pageEditor/PageEditor.tsx
  frontend/src/components/pageEditor/bulkSelectionPanel/AdvancedSelectionPanel.tsx
  frontend/src/components/pageEditor/bulkSelectionPanel/BulkSelection.ts
  frontend/src/components/pageEditor/bulkSelectionPanel/BulkSelectionPanel.module.css
  frontend/src/components/pageEditor/bulkSelectionPanel/OperatorsSection.tsx
  frontend/src/components/pageEditor/bulkSelectionPanel/PageSelectionInput.tsx
  frontend/src/components/pageEditor/bulkSelectionPanel/SelectPages.tsx
  frontend/src/components/pageEditor/bulkSelectionPanel/SelectedPagesDisplay.tsx
  frontend/src/components/pageEditor/commands/pageCommands.ts
  frontend/src/components/shared/RightRail.tsx
  frontend/src/components/shared/Tooltip.tsx
  frontend/src/components/shared/TopControls.tsx
  frontend/src/components/shared/tooltip/Tooltip.README.md
  frontend/src/components/tools/shared/ToolStep.tsx
  frontend/src/components/tooltips/usePageSelectionTips.ts
  frontend/src/styles/theme.css
  frontend/src/utils/bulkselection/README.md
  frontend/src/utils/bulkselection/parseSelection.test.ts
  frontend/src/utils/bulkselection/parseSelection.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

change bulk selection panel to allow more versatile input (#4394)
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/components/pageEditor/BulkSelectionPanel.tsx
  frontend/src/components/pageEditor/PageEditor.tsx
  frontend/src/components/pageEditor/bulkSelectionPanel/AdvancedSelectionPanel.tsx
  frontend/src/components/pageEditor/bulkSelectionPanel/BulkSelection.ts
  frontend/src/components/pageEditor/bulkSelectionPanel/BulkSelectionPanel.module.css
  frontend/src/components/pageEditor/bulkSelectionPanel/OperatorsSection.tsx
  frontend/src/components/pageEditor/bulkSelectionPanel/PageSelectionInput.tsx
  frontend/src/components/pageEditor/bulkSelectionPanel/SelectPages.tsx
  frontend/src/components/pageEditor/bulkSelectionPanel/SelectedPagesDisplay.tsx
  frontend/src/components/pageEditor/commands/pageCommands.ts
  frontend/src/components/shared/RightRail.tsx
  frontend/src/components/shared/Tooltip.tsx
  frontend/src/components/shared/TopControls.tsx
  frontend/src/components/shared/tooltip/Tooltip.README.md
  frontend/src/components/tools/shared/ToolStep.tsx
  frontend/src/components/tooltips/usePageSelectionTips.ts
  frontend/src/styles/theme.css
  frontend/src/utils/bulkselection/README.md
  frontend/src/utils/bulkselection/parseSelection.test.ts
  frontend/src/utils/bulkselection/parseSelection.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

support for preserving file order in PDF merge when using front-end
  app/core/src/main/java/stirling/software/SPDF/controller/api/MergeController.java
  app/core/src/main/resources/static/js/merge.js
  app/core/src/main/resources/templates/merge-pdfs.html
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

clean up
  frontend/src/components/viewer/EmbedPdfViewer.tsx
  frontend/src/components/viewer/LocalEmbedPDF.tsx
  frontend/src/components/viewer/PdfViewerToolbar.tsx
  frontend/src/components/viewer/ThumbnailSidebar.tsx
  frontend/src/styles/theme.css
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

add stamp margin dropdown and remove the prefix
  frontend/src/components/tools/addStamp/useAddStampOperation.ts
  frontend/src/tools/AddStamp.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Remove comment regarding EmbedPDF import
  frontend/index.html
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Remove marginTop style from Workbench component
  frontend/src/components/layout/Workbench.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Make accordion hook
  frontend/src/hooks/tools/shared/useAccordionSteps.ts
  frontend/src/tools/ChangeMetadata.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Make accordion hook (#4464)
  frontend/src/hooks/tools/shared/useAccordionSteps.ts
  frontend/src/tools/ChangeMetadata.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Make accordion hook (#4464)
  frontend/src/hooks/tools/shared/useAccordionSteps.ts
  frontend/src/tools/ChangeMetadata.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Refactor language items into their own component
  frontend/src/components/shared/LanguageSelector.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

feat: custom error handling when calling renderImageWithDPI, controllers to respect global DPI (#4407)
  app/common/src/main/java/stirling/software/common/util/ExceptionUtils.java
  app/common/src/main/java/stirling/software/common/util/PdfUtils.java
  app/common/src/main/java/stirling/software/common/util/misc/InvertFullColorStrategy.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/AutoSplitPdfController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/BlankPageController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImageScansController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/FlattenController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/OCRController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/ScannerEffectController.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

feat: custom error handling when calling renderImageWithDPI, controllers to respect global DPI (#4407)
  app/common/src/main/java/stirling/software/common/util/ExceptionUtils.java
  app/common/src/main/java/stirling/software/common/util/PdfUtils.java
  app/common/src/main/java/stirling/software/common/util/misc/InvertFullColorStrategy.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/AutoSplitPdfController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/BlankPageController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImageScansController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/FlattenController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/OCRController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/ScannerEffectController.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Update and improve the zh-TW Traditional Chinese translation (#4400)
  app/core/src/main/resources/messages_zh_TW.properties
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Update and improve the zh-TW Traditional Chinese translation (#4400)
  app/core/src/main/resources/messages_zh_TW.properties
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Update and improve Croatian (hrvatski) (hr_HR) locale (#4202)
  app/core/src/main/resources/messages_hr_HR.properties
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Update and improve Croatian (hrvatski) (hr_HR) locale (#4202)
  app/core/src/main/resources/messages_hr_HR.properties
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Disable language selection for everything other than English GB
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/shared/LanguageSelector.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

example descriptions to change later
  app/common/src/main/java/stirling/software/common/annotations/api/AccountSecurityApi.java
  app/common/src/main/java/stirling/software/common/annotations/api/AdminApi.java
  app/common/src/main/java/stirling/software/common/annotations/api/AdminServerCertificateApi.java
  app/common/src/main/java/stirling/software/common/annotations/api/AnalysisApi.java
  app/common/src/main/java/stirling/software/common/annotations/api/ConfigApi.java
  app/common/src/main/java/stirling/software/common/annotations/api/ConvertApi.java
  app/common/src/main/java/stirling/software/common/annotations/api/DatabaseApi.java
  app/common/src/main/java/stirling/software/common/annotations/api/DatabaseManagementApi.java
  app/common/src/main/java/stirling/software/common/annotations/api/FilterApi.java
  app/common/src/main/java/stirling/software/common/annotations/api/GeneralApi.java
  app/common/src/main/java/stirling/software/common/annotations/api/InfoApi.java
  app/common/src/main/java/stirling/software/common/annotations/api/MiscApi.java
  app/common/src/main/java/stirling/software/common/annotations/api/PipelineApi.java
  app/common/src/main/java/stirling/software/common/annotations/api/ProprietaryUiDataApi.java
  app/common/src/main/java/stirling/software/common/annotations/api/SecurityApi.java
  app/common/src/main/java/stirling/software/common/annotations/api/SettingsApi.java
  app/common/src/main/java/stirling/software/common/annotations/api/TeamApi.java
  app/common/src/main/java/stirling/software/common/annotations/api/UiDataApi.java
  app/common/src/main/java/stirling/software/common/annotations/api/UserApi.java
  app/core/src/main/java/stirling/software/SPDF/config/SpringDocConfig.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Delete dead code
  frontend/src/types/fileContext.ts
  frontend/src/utils/toolOperationTracker.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Delete .claude/settings.local.json
  .claude/settings.local.json
Owners: @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh
