Repository Stirling-Tools/Stirling-PDF, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @DarioGii, @reecebrowne, @EthanHealy01

.github/CODEOWNERS:

# All PRs must be approved by Frooodle or Ludy87
* @Frooodle @Ludy87 @jbrunton96 @ConnorYoh

# Backend
/app/** @DarioGii @Frooodle @Ludy87 @jbrunton96 @ConnorYoh

#V1 frontend
/app/core/src/main/resources/static/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87
/app/core/src/main/resources/templates/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87

#V2 frontend
/frontend/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle

#V2 docker
/docker/backend/** @Frooodle @Ludy87 @DarioGii @Ludy87
/docker/frontend/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87
/docker/compose/** @reecebrowne @ConnorYoh @EthanHealy01 @DarioGii @jbrunton96 @Frooodle @Ludy87


#GHA (All users)
/.github/** @reecebrowne @ConnorYoh @EthanHealy01 @DarioGii @jbrunton96 @Frooodle @Ludy87

Update frontend dependencies
  frontend/package-lock.json
  frontend/package.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

remove select mode
  frontend/src/components/shared/RightRail.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

translations
  frontend/public/locales/en-GB/translation.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

merge changes
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/components/tools/removeBlanks/RemoveBlanksSettings.tsx
  frontend/src/components/tools/removePages/RemovePagesSettings.tsx
  frontend/src/hooks/tools/removePages/useRemovePagesParameters.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

only expect a zip file
  frontend/src/hooks/tools/removeBlanks/useRemoveBlanksOperation.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Remove unused code
  frontend/src/components/viewer/EmbedPdfViewer.tsx
  frontend/src/components/viewer/PanAPIBridge.tsx
  frontend/src/components/viewer/SpreadAPIBridge.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

V2 Flatten split options to remove layers of drop downs (#4439)
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/split/SplitSettings.tsx
  frontend/src/components/tooltips/useSplitTips.ts
  frontend/src/constants/splitConstants.ts
  frontend/src/hooks/tools/split/useSplitOperation.ts
  frontend/src/hooks/tools/split/useSplitParameters.ts
  frontend/src/theme/mantineTheme.ts
  frontend/src/tools/Split.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

V2 Flatten split options to remove layers of drop downs (#4439)
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/split/SplitSettings.tsx
  frontend/src/components/tooltips/useSplitTips.ts
  frontend/src/constants/splitConstants.ts
  frontend/src/hooks/tools/split/useSplitOperation.ts
  frontend/src/hooks/tools/split/useSplitParameters.ts
  frontend/src/theme/mantineTheme.ts
  frontend/src/tools/Split.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

linter fix
  frontend/src/hooks/tools/removeBlanks/useRemoveBlanksOperation.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

remove unused varg
  frontend/src/hooks/tools/removeBlanks/useRemoveBlanksOperation.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Remove unused code
  frontend/src/components/viewer/LocalEmbedPDF.tsx
  frontend/src/components/viewer/PdfViewerToolbar.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Auto split
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/split/SplitSettings.tsx
  frontend/src/components/tooltips/useSplitTips.ts
  frontend/src/constants/splitConstants.ts
  frontend/src/hooks/tools/split/useSplitOperation.ts
  frontend/src/hooks/tools/split/useSplitParameters.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Set zoom to 140%
  frontend/src/components/viewer/LocalEmbedPDF.tsx
  frontend/src/components/viewer/ZoomAPIBridge.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Grid version
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/split/SplitMethodSelector.tsx
  frontend/src/components/tools/split/SplitSettings.tsx
  frontend/src/components/tooltips/useSplitMethodTips.ts
  frontend/src/components/tooltips/useSplitSettingsTips.ts
  frontend/src/tools/Split.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Initial commit of Rotate
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/rotate/RotateSettings.tsx
  frontend/src/components/tooltips/useRotateTips.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/rotate/useRotateOperation.test.ts
  frontend/src/hooks/tools/rotate/useRotateOperation.ts
  frontend/src/hooks/tools/rotate/useRotateParameters.test.ts
  frontend/src/hooks/tools/rotate/useRotateParameters.ts
  frontend/src/tools/Rotate.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Stack options
  frontend/src/components/tools/split/SplitMethodSelector.tsx
  frontend/src/constants/splitConstants.ts
  frontend/src/tools/Split.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Remove old tips
  frontend/src/components/tooltips/useSplitTips.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Remove unused method option parameters
  frontend/src/constants/splitConstants.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Fix anticlockwise rotation animation
  frontend/src/hooks/tools/rotate/useRotateOperation.ts
  frontend/src/hooks/tools/rotate/useRotateParameters.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Fix thumbnail rendering
  frontend/src/components/tools/rotate/RotateSettings.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Make preview square
  frontend/src/components/tools/rotate/RotateSettings.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Formatting
  frontend/src/components/tools/split/SplitMethodSelector.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Reset rotation when starting again
  frontend/src/hooks/tools/shared/useBaseTool.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Refactored into generic cardSelector
  frontend/src/components/shared/CardSelector.tsx
  frontend/src/constants/splitConstants.ts
  frontend/src/tools/Split.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

dead code
  frontend/src/tools/Split.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

V2 Tool - Auto split (#4446)
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/shared/CardSelector.tsx
  frontend/src/components/tools/split/SplitSettings.tsx
  frontend/src/components/tooltips/useSplitMethodTips.ts
  frontend/src/components/tooltips/useSplitSettingsTips.ts
  frontend/src/components/tooltips/useSplitTips.ts
  frontend/src/constants/splitConstants.ts
  frontend/src/hooks/tools/split/useSplitOperation.ts
  frontend/src/hooks/tools/split/useSplitParameters.ts
  frontend/src/tools/Split.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

V2 Tool - Auto split (#4446)
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/shared/CardSelector.tsx
  frontend/src/components/tools/split/SplitSettings.tsx
  frontend/src/components/tooltips/useSplitMethodTips.ts
  frontend/src/components/tooltips/useSplitSettingsTips.ts
  frontend/src/components/tooltips/useSplitTips.ts
  frontend/src/constants/splitConstants.ts
  frontend/src/hooks/tools/split/useSplitOperation.ts
  frontend/src/hooks/tools/split/useSplitParameters.ts
  frontend/src/tools/Split.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

interface fies
  app/common/src/main/java/stirling/software/common/service/ServerCertificateServiceInterface.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/security/CertSignController.java
  app/proprietary/src/main/java/stirling/software/proprietary/service/ServerCertificateService.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Improve styling on preview
  frontend/src/components/tools/rotate/RotateSettings.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Fix tests
  frontend/src/hooks/tools/rotate/useRotateOperation.test.ts
  frontend/src/hooks/tools/rotate/useRotateParameters.test.ts
  frontend/src/hooks/tools/rotate/useRotateParameters.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Tidy translations
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tooltips/useRotateTips.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

conditionalCert
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/ConfigController.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/controller/api/ServerCertificateController.java
  frontend/src/components/tools/manageSignatures/CertificateTypeSettings.tsx
  frontend/src/hooks/useAppConfig.ts
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

feat: Add NegativeArraySizeException error handling for memory issues
  app/common/src/main/java/stirling/software/common/util/ExceptionUtils.java
  app/common/src/main/java/stirling/software/common/util/PdfUtils.java
  app/common/src/main/java/stirling/software/common/util/misc/InvertFullColorStrategy.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/AutoSplitPdfController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/BlankPageController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImageScansController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/FlattenController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/OCRController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/ScannerEffectController.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Change submit message to Apply Rotation
  frontend/public/locales/en-GB/translation.json
  frontend/src/tools/Rotate.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Use stubs instead of files
  frontend/src/components/tools/rotate/RotateSettings.tsx
  frontend/src/contexts/file/fileHooks.ts
  frontend/src/tools/Merge.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Change to thin solid border
  frontend/src/components/tools/rotate/RotateSettings.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Trailing commas
  frontend/src/components/tooltips/useRotateTips.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

lots of improvements
  app/common/src/main/java/stirling/software/common/service/ServerCertificateServiceInterface.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/BookletImpositionController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/ConfigController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/security/CertSignController.java
  app/core/src/main/java/stirling/software/SPDF/model/api/general/BookletImpositionRequest.java
  app/proprietary/src/main/java/stirling/software/proprietary/configuration/ServerCertificateInitializer.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/controller/api/ServerCertificateController.java
  app/proprietary/src/main/java/stirling/software/proprietary/service/ServerCertificateService.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

typecheck
  frontend/src/components/tools/shared/createToolFlow.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

remove placeholder thing
  frontend/public/locales/en-US/translation.json
  frontend/src/components/tools/shared/createToolFlow.tsx
  frontend/src/tools/BookletImposition.tsx
  frontend/src/tools/ManageSignatures.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle
