Repository Stirling-Tools/Stirling-PDF, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @DarioGii, @reecebrowne, @EthanHealy01

refactor: Remove unused imports
  app/common/src/test/java/stirling/software/common/service/CustomPDFDocumentFactoryTest.java
  app/common/src/test/java/stirling/software/common/service/FileStorageTest.java
  app/common/src/test/java/stirling/software/common/service/TempFileCleanupServiceTest.java
  app/core/src/test/java/stirling/software/SPDF/controller/api/EditTableOfContentsControllerTest.java
  app/core/src/test/java/stirling/software/SPDF/controller/api/MergeControllerTest.java
  app/core/src/test/java/stirling/software/SPDF/controller/api/misc/AttachmentControllerTest.java
  app/core/src/test/java/stirling/software/SPDF/controller/api/pipeline/PipelineProcessorTest.java
  app/core/src/test/java/stirling/software/SPDF/controller/api/security/RedactControllerTest.java
  app/core/src/test/java/stirling/software/SPDF/service/PdfImageRemovalServiceTest.java
  app/core/src/test/java/stirling/software/common/controller/JobControllerTest.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/filter/JwtAuthenticationFilter.java
  app/proprietary/src/test/java/stirling/software/proprietary/security/service/UserServiceTest.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

add a dismiss all errors button and change the wording of invalid file errors
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/fileEditor/FileEditor.tsx
  frontend/src/components/fileEditor/FileEditorThumbnail.tsx
  frontend/src/components/layout/Workbench.tsx
  frontend/src/components/shared/DismissAllErrorsButton.tsx
  frontend/src/components/shared/RightRail.tsx
  frontend/src/components/toast/ToastContext.tsx
  frontend/src/hooks/tools/shared/useToolApiCalls.ts
  frontend/src/hooks/tools/shared/useToolOperation.ts
  frontend/src/services/http.ts
  frontend/src/utils/toolErrorHandler.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

refactor(core,common,proprietary): Replace Date with Instant/modern Date API alternative for improved time handling
  app/common/src/main/java/stirling/software/common/model/PdfMetadata.java
  app/common/src/main/java/stirling/software/common/service/PdfMetadataService.java
  app/common/src/main/java/stirling/software/common/util/EmlParser.java
  app/common/src/main/java/stirling/software/common/util/PdfAttachmentHandler.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/converters/ConvertPDFToPDFA.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/MetadataController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/security/CertSignController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/security/GetInfoOnPDF.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/security/ValidateSignatureController.java
  app/core/src/main/java/stirling/software/SPDF/service/AttachmentService.java
  app/core/src/test/java/stirling/software/SPDF/service/PdfMetadataServiceBasicTest.java
  app/core/src/test/java/stirling/software/SPDF/service/PdfMetadataServiceTest.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/config/AccountWebController.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/controller/web/TeamWebController.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/database/repository/JPATokenRepositoryImpl.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/database/repository/SessionRepository.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/filter/FirstLoginFilter.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/model/PersistentLogin.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/model/SessionEntity.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/service/JwtService.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/session/SessionPersistentRegistry.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

refactor: Simplify last accessed time retrieval and update date parsing to use LocalDateTime
  app/common/src/main/java/stirling/software/common/service/PdfMetadataService.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/config/AccountWebController.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

frontend validation error
  frontend/src/tests/convert/ConvertIntegration.test.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

add translations and error messages for encrypted/password protected files being edited
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/services/http.ts
  frontend/src/services/specialErrorToasts.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

linter
  frontend/src/services/http.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

refactor: convert http.ts to axios instance pattern for SaaS compatibility
  frontend/src/services/http.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

feat(crop): option to remove text outside crop area in PDF cropping
  app/core/src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/CropController.java
  app/core/src/main/java/stirling/software/SPDF/model/api/general/CropPdfForm.java
  app/core/src/main/resources/messages_en_GB.properties
  app/core/src/main/resources/templates/crop.html
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

invert!
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/replaceColor/ReplaceColorSettings.tsx
  frontend/src/components/tooltips/useReplaceColorTips.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/replaceColor/useReplaceColorOperation.ts
  frontend/src/hooks/tools/replaceColor/useReplaceColorParameters.ts
  frontend/src/tools/ReplaceColor.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

fix merge and tests
  app/core/src/main/java/stirling/software/SPDF/controller/api/MergeController.java
  frontend/src/services/http.ts
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

remove name changes
  frontend/public/locales/en-GB/translation.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

cleanup/quick-fixes for html; controller logging
  app/core/src/main/java/stirling/software/SPDF/controller/api/CropController.java
  app/core/src/main/java/stirling/software/SPDF/model/api/general/CropPdfForm.java
  app/core/src/main/resources/templates/crop.html
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

add guards
  frontend/src/services/http.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Feature/toasts and error handling (#4496)
  app/core/src/main/java/stirling/software/SPDF/controller/api/MergeController.java
  app/core/src/main/java/stirling/software/SPDF/model/api/general/MergePdfsRequest.java
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/components/fileEditor/FileEditor.module.css
  frontend/src/components/fileEditor/FileEditor.tsx
  frontend/src/components/fileEditor/FileEditorThumbnail.tsx
  frontend/src/components/layout/Workbench.tsx
  frontend/src/components/shared/DismissAllErrorsButton.tsx
  frontend/src/components/shared/RainbowThemeProvider.tsx
  frontend/src/components/shared/RightRail.tsx
  frontend/src/components/toast/Toast.README.md
  frontend/src/components/toast/ToastContext.tsx
  frontend/src/components/toast/ToastRenderer.css
  frontend/src/components/toast/ToastRenderer.tsx
  frontend/src/components/toast/index.ts
  frontend/src/components/toast/types.ts
  frontend/src/contexts/file/FileReducer.ts
  frontend/src/contexts/file/fileActions.ts
  frontend/src/hooks/tools/convert/useConvertOperation.ts
  frontend/src/hooks/tools/merge/useMergeOperation.ts
  frontend/src/hooks/tools/shared/useToolApiCalls.ts
  frontend/src/hooks/tools/shared/useToolOperation.ts
  frontend/src/services/errorUtils.ts
  frontend/src/services/http.ts
  frontend/src/services/specialErrorToasts.ts
  frontend/src/styles/theme.css
  frontend/src/tests/convert/ConvertIntegration.test.tsx
  frontend/src/theme/mantineTheme.ts
  frontend/src/types/fileContext.ts
  frontend/src/utils/toolErrorHandler.ts
  frontend/tailwind.config.js
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

Feature/toasts and error handling (#4496)
  app/core/src/main/java/stirling/software/SPDF/controller/api/MergeController.java
  app/core/src/main/java/stirling/software/SPDF/model/api/general/MergePdfsRequest.java
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/components/fileEditor/FileEditor.module.css
  frontend/src/components/fileEditor/FileEditor.tsx
  frontend/src/components/fileEditor/FileEditorThumbnail.tsx
  frontend/src/components/layout/Workbench.tsx
  frontend/src/components/shared/DismissAllErrorsButton.tsx
  frontend/src/components/shared/RainbowThemeProvider.tsx
  frontend/src/components/shared/RightRail.tsx
  frontend/src/components/toast/Toast.README.md
  frontend/src/components/toast/ToastContext.tsx
  frontend/src/components/toast/ToastRenderer.css
  frontend/src/components/toast/ToastRenderer.tsx
  frontend/src/components/toast/index.ts
  frontend/src/components/toast/types.ts
  frontend/src/contexts/file/FileReducer.ts
  frontend/src/contexts/file/fileActions.ts
  frontend/src/hooks/tools/convert/useConvertOperation.ts
  frontend/src/hooks/tools/merge/useMergeOperation.ts
  frontend/src/hooks/tools/shared/useToolApiCalls.ts
  frontend/src/hooks/tools/shared/useToolOperation.ts
  frontend/src/services/errorUtils.ts
  frontend/src/services/http.ts
  frontend/src/services/specialErrorToasts.ts
  frontend/src/styles/theme.css
  frontend/src/tests/convert/ConvertIntegration.test.tsx
  frontend/src/theme/mantineTheme.ts
  frontend/src/types/fileContext.ts
  frontend/src/utils/toolErrorHandler.ts
  frontend/tailwind.config.js
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

feat(multi-layout): implement form field copying and transformation for multi-page PDF to keep form data (#4314)
  app/common/src/main/java/stirling/software/common/util/FormUtils.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/MultiPageLayoutController.java
  app/core/src/test/java/stirling/software/SPDF/controller/api/MultiPageLayoutControllerTest.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

feat(multi-layout): implement form field copying and transformation for multi-page PDF to keep form data (#4314)
  app/common/src/main/java/stirling/software/common/util/FormUtils.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/MultiPageLayoutController.java
  app/core/src/test/java/stirling/software/SPDF/controller/api/MultiPageLayoutControllerTest.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

add page numbers
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/addPageNumbers/PageNumberPreview.module.css
  frontend/src/components/tools/addPageNumbers/PageNumberPreview.tsx
  frontend/src/components/tools/addPageNumbers/useAddPageNumbersOperation.ts
  frontend/src/components/tools/addPageNumbers/useAddPageNumbersParameters.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/tools/AddPageNumbers.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

feat: Add React-based extract-images tool
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/components/tools/extractImages/ExtractImagesSettings.tsx
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/extractImages/useExtractImagesOperation.ts
  frontend/src/hooks/tools/extractImages/useExtractImagesParameters.ts
  frontend/src/tools/ExtractImages.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

fixes
  frontend/src/components/tools/addPageNumbers/PageNumberPreview.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

fix: Improve type safety and performance in extract-images tool
  frontend/src/components/tools/extractImages/ExtractImagesSettings.tsx
  frontend/src/hooks/tools/extractImages/useExtractImagesOperation.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

resolve more conflicts; fix tests that errored due to changes from merge
  app/core/src/main/java/stirling/software/SPDF/controller/api/MultiPageLayoutController.java
  app/core/src/test/java/stirling/software/SPDF/controller/api/MultiPageLayoutControllerTest.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

add attatchments tool
  frontend/public/locales/en-US/translation.json
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/addAttachments/useAddAttachmentsOperation.ts
  frontend/src/hooks/tools/addAttachments/useAddAttachmentsParameters.ts
  frontend/src/tools/AddAttachments.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

updates
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/replaceColor/useReplaceColorParameters.ts
  frontend/src/types/toolId.ts
  frontend/src/utils/urlMapping.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Add React-based remove annotations tool
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/components/tools/removeAnnotations/RemoveAnnotationsSettings.tsx
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/removeAnnotations/useRemoveAnnotationsOperation.ts
  frontend/src/hooks/tools/removeAnnotations/useRemoveAnnotationsParameters.ts
  frontend/src/tools/RemoveAnnotations.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Add the Remove Images tool
  frontend/public/locales/en-US/translation.json
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/removeImage/useRemoveImageOperation.ts
  frontend/src/hooks/tools/removeImage/useRemoveImageParameters.ts
  frontend/src/tools/RemoveImage.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

linter
  frontend/src/hooks/tools/removeImage/useRemoveImageParameters.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Fix linting issues in remove annotations tool
  frontend/src/components/tools/removeAnnotations/RemoveAnnotationsSettings.tsx
  frontend/src/hooks/tools/removeAnnotations/useRemoveAnnotationsOperation.ts
  frontend/src/hooks/tools/removeAnnotations/useRemoveAnnotationsParameters.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Convert extract-image-scans to React component
  frontend/src/components/tools/scannerImageSplit/ScannerImageSplitSettings.tsx
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/scannerImageSplit/useScannerImageSplitOperation.ts
  frontend/src/hooks/tools/scannerImageSplit/useScannerImageSplitParameters.ts
  frontend/src/services/zipFileService.ts
  frontend/src/tools/ScannerImageSplit.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Fix remaining linting issues
  frontend/src/hooks/tools/removeAnnotations/useRemoveAnnotationsParameters.ts
  frontend/src/tools/RemoveAnnotations.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Add complete GB translations for scanner image split tool
  frontend/public/locales/en-GB/translation.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

make add attachments button persist and make it match the add stamp button to add attachments
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/tools/AddAttachments.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Add comprehensive tooltip support for scanner image split tool
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tooltips/useScannerImageSplitTips.ts
  frontend/src/tools/ScannerImageSplit.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Fix TypeScript errors in remove annotations tool
  frontend/src/hooks/tools/removeAnnotations/useRemoveAnnotationsOperation.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Implement comprehensive annotation removal algorithm
  frontend/src/hooks/tools/removeAnnotations/useRemoveAnnotationsOperation.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Fix TypeScript errors in annotation removal
  frontend/src/hooks/tools/removeAnnotations/useRemoveAnnotationsOperation.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Replace abstract tooltip explanations with practical troubleshooting guide
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tooltips/useScannerImageSplitTips.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Rewrite tooltip with concise, actionable content focused on real-world usage
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tooltips/useScannerImageSplitTips.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Implement proper type-safe annotation removal
  frontend/src/hooks/tools/removeAnnotations/useRemoveAnnotationsOperation.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

.github/CODEOWNERS:

# All PRs must be approved by Frooodle or Ludy87
* @Frooodle @Ludy87 @jbrunton96 @ConnorYoh

# Backend
/app/** @DarioGii @Frooodle @Ludy87 @jbrunton96 @ConnorYoh

#V1 frontend
/app/core/src/main/resources/static/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87
/app/core/src/main/resources/templates/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87

#V2 frontend
/frontend/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle

#V2 docker
/docker/backend/** @Frooodle @Ludy87 @DarioGii @Ludy87
/docker/frontend/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87
/docker/compose/** @reecebrowne @ConnorYoh @EthanHealy01 @DarioGii @jbrunton96 @Frooodle @Ludy87


#GHA (All users)
/.github/** @reecebrowne @ConnorYoh @EthanHealy01 @DarioGii @jbrunton96 @Frooodle @Ludy87
