Repository Stirling-Tools/Stirling-PDF, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @DarioGii, @reecebrowne, @EthanHealy01

Remove-pages endpoint returns a single PDF, remove-blanks endpoint returns a ZIP file
  frontend/src/hooks/tools/removeBlanks/useRemoveBlanksOperation.ts
  frontend/src/hooks/tools/removePages/useRemovePagesOperation.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

fix buttons and formatting
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/shared/ButtonSelector.tsx
  frontend/src/components/tools/bookletImposition/BookletImpositionSettings.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Improvements for scroll gestures
  frontend/src/components/viewer/EmbedPdfViewer.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Potential fix for mime type issues
  frontend/vite.config.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

allow numbers
  frontend/src/components/shared/ButtonSelector.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

🎨 Rebrand to ShaggyDocs - Personal PDF Editor for Michael
  README_ShaggyDocs.md
  app/common/src/main/java/stirling/software/common/configuration/AppConfig.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/ShowJavascript.java
  app/core/src/main/resources/static/css/theme/theme.light.css
  app/core/src/main/resources/static/favicon.svg
  app/core/src/main/resources/static/favicon.svg.backup
  app/core/src/main/resources/static/shaggydocs_logo.png
  app/core/src/main/resources/templates/fragments/common.html
  app/proprietary/src/main/java/stirling/software/proprietary/security/service/CustomUserDetailsService.java
  pipeline/defaultWebUIConfigs/OCR images.json
  pipeline/defaultWebUIConfigs/Prepare-pdfs-for-email.json
  pipeline/defaultWebUIConfigs/split-rotate-auto-rename.json
Owners: @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @DarioGii, @reecebrowne, @EthanHealy01

translations and tooltips
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/bookletImposition/BookletImpositionSettings.tsx
  frontend/src/components/tooltips/useBookletImpositionTips.ts
  frontend/src/tools/BookletImposition.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

add even and odd buttons and include translations
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/components/pageEditor/bulkSelectionPanel/AdvancedSelectionPanel.tsx
  frontend/src/components/pageEditor/bulkSelectionPanel/BulkSelection.ts
  frontend/src/components/pageEditor/bulkSelectionPanel/OperatorsSection.tsx
  frontend/src/components/pageEditor/bulkSelectionPanel/PageSelectionInput.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

linter
  frontend/src/components/pageEditor/bulkSelectionPanel/SelectPages.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

change requests
  frontend/src/components/tools/removeBlanks/RemoveBlanksSettings.tsx
  frontend/src/hooks/tools/removeBlanks/useRemoveBlanksOperation.ts
  frontend/src/hooks/tools/removePages/useRemovePagesOperation.ts
  frontend/src/tools/RemoveBlanks.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

change requests
  frontend/src/hooks/tools/removePages/useRemovePagesOperation.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Update frontend dependencies and license versions
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/3rdPartyLicenses.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

lint
  frontend/src/hooks/tools/removePages/useRemovePagesOperation.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Improved Structure with context at root
  frontend/public/locales/en-GB/translation.json
  frontend/src/App.tsx
  frontend/src/components/shared/RightRail.tsx
  frontend/src/components/viewer/CustomSearchLayer.tsx
  frontend/src/components/viewer/EmbedPdfViewer.tsx
  frontend/src/components/viewer/PanAPIBridge.tsx
  frontend/src/components/viewer/PdfViewerToolbar.tsx
  frontend/src/components/viewer/RotateAPIBridge.tsx
  frontend/src/components/viewer/ScrollAPIBridge.tsx
  frontend/src/components/viewer/SearchAPIBridge.tsx
  frontend/src/components/viewer/SearchInterface.tsx
  frontend/src/components/viewer/SelectionAPIBridge.tsx
  frontend/src/components/viewer/SpreadAPIBridge.tsx
  frontend/src/components/viewer/ThumbnailAPIBridge.tsx
  frontend/src/components/viewer/ThumbnailSidebar.tsx
  frontend/src/components/viewer/ZoomAPIBridge.tsx
  frontend/src/contexts/ViewerContext.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

feat: use metadata for sortByDate in MergeController
  app/core/src/main/java/stirling/software/SPDF/controller/api/MergeController.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

NPE
  app/core/src/main/java/stirling/software/SPDF/controller/api/MergeController.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

change requests
  frontend/src/components/shared/ButtonSelector.tsx
  frontend/src/components/tools/addStamp/StampPreview.module.css
  frontend/src/components/tools/addStamp/StampPreview.tsx
  frontend/src/components/tools/addStamp/StampPreviewUtils.ts
  frontend/src/components/tools/addStamp/useAddStampOperation.ts
  frontend/src/tools/AddStamp.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

update backend to support rotating and resizing about the centerpoint
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/StampController.java
  frontend/src/tools/AddStamp.tsx
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

Change fallback base URL to 'https://stirling.com'
  frontend/src/constants/app.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Change fallback base URL to 'https://stirling.com'
  frontend/src/constants/app.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Add alternate URL
  frontend/src/utils/urlMapping.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Fix comment
  frontend/src/hooks/tools/rotate/useRotateParameters.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Remove file prefix
  frontend/src/hooks/tools/rotate/useRotateOperation.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Remove file prefix
  frontend/src/hooks/tools/changeMetadata/useChangeMetadataOperation.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Fix test
  frontend/src/hooks/tools/rotate/useRotateOperation.test.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

formatting
  app/core/src/main/java/stirling/software/SPDF/config/swagger/CsvConversionResponse.java
  app/core/src/main/java/stirling/software/SPDF/config/swagger/HtmlConversionResponse.java
  app/core/src/main/java/stirling/software/SPDF/config/swagger/JavaScriptResponse.java
  app/core/src/main/java/stirling/software/SPDF/config/swagger/MarkdownConversionResponse.java
  app/core/src/main/java/stirling/software/SPDF/config/swagger/XmlConversionResponse.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/ToSinglePageController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/converters/ExtractCSVController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImageScansController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/PageNumbersController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/ShowJavascript.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/StampController.java
  app/core/src/main/java/stirling/software/SPDF/model/api/converters/ConvertPDFToMarkdown.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Delete Claude local settings
  .claude/settings.local.json
Owners: @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Removed optionality for 'onDownloadFile', removed fallback in fileEditorThumbnail.
  frontend/src/components/fileEditor/FileEditor.tsx
  frontend/src/components/fileEditor/FileEditorThumbnail.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Delete Claude local settings (#4455)
  .claude/settings.local.json
Owners: @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Delete Claude local settings (#4455)
  .claude/settings.local.json
Owners: @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Removed optionality for 'onDownloadFile', removed fallback in fileEditorThumbnail. (#4456)
  frontend/src/components/fileEditor/FileEditor.tsx
  frontend/src/components/fileEditor/FileEditorThumbnail.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Removed optionality for 'onDownloadFile', removed fallback in fileEditorThumbnail. (#4456)
  frontend/src/components/fileEditor/FileEditor.tsx
  frontend/src/components/fileEditor/FileEditorThumbnail.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Restructure to avoid global variables fix zoom
  frontend/src/components/viewer/EmbedPdfViewer.tsx
  frontend/src/components/viewer/LocalEmbedPDF.tsx
  frontend/src/components/viewer/PanAPIBridge.tsx
  frontend/src/components/viewer/PdfViewerToolbar.tsx
  frontend/src/components/viewer/RotateAPIBridge.tsx
  frontend/src/components/viewer/ScrollAPIBridge.tsx
  frontend/src/components/viewer/SearchAPIBridge.tsx
  frontend/src/components/viewer/SelectionAPIBridge.tsx
  frontend/src/components/viewer/SpreadAPIBridge.tsx
  frontend/src/components/viewer/ThumbnailAPIBridge.tsx
  frontend/src/components/viewer/ZoomAPIBridge.tsx
  frontend/src/contexts/ViewerContext.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Fix colours
  frontend/src/components/viewer/EmbedPdfViewer.tsx
  frontend/src/components/viewer/LocalEmbedPDF.tsx
  frontend/src/components/viewer/ThumbnailSidebar.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Remove file prefix from Merge
  frontend/src/hooks/tools/merge/useMergeOperation.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

cleanups
  app/core/src/main/java/stirling/software/SPDF/config/GlobalErrorResponseCustomizer.java
  app/core/src/main/java/stirling/software/SPDF/config/OpenApiConfig.java
  app/core/src/main/java/stirling/software/SPDF/config/swagger/ConversionResponse.java
  app/core/src/main/java/stirling/software/SPDF/config/swagger/CsvConversionResponse.java
  app/core/src/main/java/stirling/software/SPDF/config/swagger/HtmlConversionResponse.java
  app/core/src/main/java/stirling/software/SPDF/config/swagger/JavaScriptResponse.java
  app/core/src/main/java/stirling/software/SPDF/config/swagger/JsonDataResponse.java
  app/core/src/main/java/stirling/software/SPDF/config/swagger/MarkdownConversionResponse.java
  app/core/src/main/java/stirling/software/SPDF/config/swagger/MultiFileResponse.java
  app/core/src/main/java/stirling/software/SPDF/config/swagger/OfficeConversionResponse.java
  app/core/src/main/java/stirling/software/SPDF/config/swagger/StandardPdfResponse.java
  app/core/src/main/java/stirling/software/SPDF/config/swagger/TextConversionResponse.java
  app/core/src/main/java/stirling/software/SPDF/config/swagger/XmlConversionResponse.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

fixes and cleanups
  app/common/src/main/java/stirling/software/common/model/api/PDFFile.java
  app/core/src/main/java/stirling/software/SPDF/config/OpenApiConfig.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/pipeline/PipelineController.java
  app/core/src/main/java/stirling/software/SPDF/model/api/EditTableOfContentsRequest.java
  app/core/src/main/java/stirling/software/SPDF/model/api/HandleDataRequest.java
  app/core/src/main/java/stirling/software/SPDF/model/api/general/BookletImpositionRequest.java
  app/core/src/main/java/stirling/software/SPDF/model/api/general/MergeMultiplePagesRequest.java
  app/core/src/main/java/stirling/software/SPDF/model/api/general/RotatePDFRequest.java
  app/core/src/main/java/stirling/software/SPDF/model/api/misc/AddPageNumbersRequest.java
  app/core/src/main/java/stirling/software/SPDF/model/api/misc/AddStampRequest.java
  app/core/src/main/java/stirling/software/SPDF/model/api/misc/OptimizePdfRequest.java
  app/core/src/main/java/stirling/software/SPDF/model/api/security/AddPasswordRequest.java
  app/core/src/main/resources/application.properties
  app/proprietary/src/main/java/stirling/software/proprietary/model/Team.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/model/Authority.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/model/User.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Make filePrefix mandatory for multiFile
  CLAUDE.md
  frontend/src/hooks/tools/merge/useMergeOperation.test.ts
  frontend/src/hooks/tools/merge/useMergeOperation.ts
  frontend/src/hooks/tools/shared/useToolOperation.ts
Owners: @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

Fix scroll page identification
  frontend/src/components/viewer/PdfViewerToolbar.tsx
  frontend/src/components/viewer/ScrollAPIBridge.tsx
  frontend/src/contexts/ViewerContext.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Remove custom response handler from Merge (#4457)
  CLAUDE.md
  frontend/src/hooks/tools/merge/useMergeOperation.test.ts
  frontend/src/hooks/tools/merge/useMergeOperation.ts
  frontend/src/hooks/tools/shared/useToolOperation.ts
Owners: @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

.github/CODEOWNERS:

# All PRs must be approved by Frooodle or Ludy87
* @Frooodle @Ludy87 @jbrunton96 @ConnorYoh

# Backend
/app/** @DarioGii @Frooodle @Ludy87 @jbrunton96 @ConnorYoh

#V1 frontend
/app/core/src/main/resources/static/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87
/app/core/src/main/resources/templates/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87

#V2 frontend
/frontend/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle

#V2 docker
/docker/backend/** @Frooodle @Ludy87 @DarioGii @Ludy87
/docker/frontend/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87
/docker/compose/** @reecebrowne @ConnorYoh @EthanHealy01 @DarioGii @jbrunton96 @Frooodle @Ludy87


#GHA (All users)
/.github/** @reecebrowne @ConnorYoh @EthanHealy01 @DarioGii @jbrunton96 @Frooodle @Ludy87
