Repository Stirling-Tools/Stirling-PDF, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @DarioGii, @reecebrowne, @EthanHealy01

.github/CODEOWNERS:

# All PRs must be approved by Frooodle or Ludy87
* @Frooodle @Ludy87 @jbrunton96 @ConnorYoh

# Backend
/app/** @DarioGii @Frooodle @Ludy87 @jbrunton96 @ConnorYoh

#V1 frontend
/app/core/src/main/resources/static/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87
/app/core/src/main/resources/templates/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87

#V2 frontend
/frontend/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle

#V2 docker
/docker/backend/** @Frooodle @Ludy87 @DarioGii @Ludy87
/docker/frontend/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87
/docker/compose/** @reecebrowne @ConnorYoh @EthanHealy01 @DarioGii @jbrunton96 @Frooodle @Ludy87


#GHA (All users)
/.github/** @reecebrowne @ConnorYoh @EthanHealy01 @DarioGii @jbrunton96 @Frooodle @Ludy87

Fix flicker on apply
  frontend/src/contexts/FileContext.tsx
  frontend/src/contexts/file/FileReducer.ts
  frontend/src/tools/Sign.tsx
  frontend/src/types/fileContext.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Feature/v2/sign (#4485)
  frontend/package-lock.json
  frontend/package.json
  frontend/public/locales/en-GB/translation.json
  frontend/scripts/generate-licenses.js
  frontend/src/App.tsx
  frontend/src/assets/3rdPartyLicenses.json
  frontend/src/components/annotation/providers/PDFAnnotationProvider.tsx
  frontend/src/components/annotation/shared/BaseAnnotationTool.tsx
  frontend/src/components/annotation/shared/ColorPicker.tsx
  frontend/src/components/annotation/shared/DrawingCanvas.tsx
  frontend/src/components/annotation/shared/DrawingControls.tsx
  frontend/src/components/annotation/shared/ImageUploader.tsx
  frontend/src/components/annotation/shared/TextInputWithFont.tsx
  frontend/src/components/annotation/tools/DrawingTool.tsx
  frontend/src/components/annotation/tools/ImageTool.tsx
  frontend/src/components/annotation/tools/TextTool.tsx
  frontend/src/components/shared/RightRail.tsx
  frontend/src/components/tools/sign/PenSizeSelector.tsx
  frontend/src/components/tools/sign/SignSettings.tsx
  frontend/src/components/viewer/EmbedPdfViewer.tsx
  frontend/src/components/viewer/HistoryAPIBridge.tsx
  frontend/src/components/viewer/LocalEmbedPDFWithAnnotations.tsx
  frontend/src/components/viewer/SignatureAPIBridge.tsx
  frontend/src/components/viewer/ThumbnailSidebar.tsx
  frontend/src/contexts/SignatureContext.tsx
  frontend/src/contexts/ViewerContext.tsx
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/global.d.ts
  frontend/src/hooks/tools/sign/useSignOperation.ts
  frontend/src/hooks/tools/sign/useSignParameters.ts
  frontend/src/tools/Sign.tsx
  frontend/src/utils/signatureFlattening.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Feature/v2/sign (#4485)
  frontend/package-lock.json
  frontend/package.json
  frontend/public/locales/en-GB/translation.json
  frontend/scripts/generate-licenses.js
  frontend/src/App.tsx
  frontend/src/assets/3rdPartyLicenses.json
  frontend/src/components/annotation/providers/PDFAnnotationProvider.tsx
  frontend/src/components/annotation/shared/BaseAnnotationTool.tsx
  frontend/src/components/annotation/shared/ColorPicker.tsx
  frontend/src/components/annotation/shared/DrawingCanvas.tsx
  frontend/src/components/annotation/shared/DrawingControls.tsx
  frontend/src/components/annotation/shared/ImageUploader.tsx
  frontend/src/components/annotation/shared/TextInputWithFont.tsx
  frontend/src/components/annotation/tools/DrawingTool.tsx
  frontend/src/components/annotation/tools/ImageTool.tsx
  frontend/src/components/annotation/tools/TextTool.tsx
  frontend/src/components/shared/RightRail.tsx
  frontend/src/components/tools/sign/PenSizeSelector.tsx
  frontend/src/components/tools/sign/SignSettings.tsx
  frontend/src/components/viewer/EmbedPdfViewer.tsx
  frontend/src/components/viewer/HistoryAPIBridge.tsx
  frontend/src/components/viewer/LocalEmbedPDFWithAnnotations.tsx
  frontend/src/components/viewer/SignatureAPIBridge.tsx
  frontend/src/components/viewer/ThumbnailSidebar.tsx
  frontend/src/contexts/SignatureContext.tsx
  frontend/src/contexts/ViewerContext.tsx
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/global.d.ts
  frontend/src/hooks/tools/sign/useSignOperation.ts
  frontend/src/hooks/tools/sign/useSignParameters.ts
  frontend/src/tools/Sign.tsx
  frontend/src/utils/signatureFlattening.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Auto update canvas signature
  frontend/src/components/annotation/shared/DrawingCanvas.tsx
  frontend/src/components/tools/sign/SignSettings.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Update embedpdf
  frontend/package-lock.json
  frontend/package.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

update embedpdf
  frontend/package-lock.json
  frontend/package.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

update embedpdf (#4516)
  frontend/package-lock.json
  frontend/package.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

update embedpdf (#4516)
  frontend/package-lock.json
  frontend/package.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Add package-lock to dockerfile
  docker/frontend/Dockerfile
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle, @Ludy87

Dockerfile package (#4517)
  docker/frontend/Dockerfile
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle, @Ludy87

Dockerfile package (#4517)
  docker/frontend/Dockerfile
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle, @Ludy87

feat(form-fill): add PDF form filling functionality with batch processing support
  app/common/src/main/java/stirling/software/common/util/FormUtils.java
  app/common/src/test/java/stirling/software/common/util/FormUtilsTest.java
  app/core/src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/form/FormFillController.java
  app/core/src/main/java/stirling/software/SPDF/controller/web/GeneralWebController.java
  app/core/src/main/resources/messages_en_GB.properties
  app/core/src/main/resources/static/js/fileInput.js
  app/core/src/main/resources/static/js/form-fill.js
  app/core/src/main/resources/templates/fill-pdf-form.html
  app/core/src/main/resources/templates/fragments/navElements.html
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

refactor: update FormFillController and FormUtils for improved readability and maintainability
  app/common/src/main/java/stirling/software/common/util/FormUtils.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/form/FormFillController.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

improve choice field handling by adding copy characteristics method
  app/common/src/main/java/stirling/software/common/util/FormUtils.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

formatting
  app/common/src/main/java/stirling/software/common/util/FormUtils.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Update messages_nl_NL.properties
  app/core/src/main/resources/messages_nl_NL.properties
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Update GitHub Actions to latest major versions
  .github/workflows/frontend-licenses-update.yml
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @DarioGii, @jbrunton96, @Frooodle, @Ludy87

Update frontend-licenses-update.yml
  .github/workflows/frontend-licenses-update.yml
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @DarioGii, @jbrunton96, @Frooodle, @Ludy87

Refactor array type annotations to use T[] syntax
  frontend/src/components/shared/FileGrid.tsx
  frontend/src/components/toast/index.ts
  frontend/src/components/tools/SearchResults.tsx
  frontend/src/components/tools/ToolPicker.tsx
  frontend/src/components/tools/changePermissions/ChangePermissionsSettings.test.tsx
  frontend/src/components/tools/changePermissions/ChangePermissionsSettings.tsx
  frontend/src/components/tools/convert/ConvertSettings.tsx
  frontend/src/components/tools/sanitize/SanitizeSettings.tsx
  frontend/src/components/tools/shared/renderToolButtons.tsx
  frontend/src/components/viewer/CustomSearchLayer.tsx
  frontend/src/components/viewer/LocalEmbedPDF.tsx
  frontend/src/components/viewer/SearchAPIBridge.tsx
  frontend/src/contexts/ToolWorkflowContext.tsx
  frontend/src/contexts/ViewerContext.tsx
  frontend/src/contexts/file/fileActions.ts
  frontend/src/contexts/file/fileSelectors.ts
  frontend/src/hooks/tools/addPassword/useAddPasswordParameters.test.ts
  frontend/src/hooks/tools/changePermissions/useChangePermissionsOperation.test.ts
  frontend/src/hooks/tools/changePermissions/useChangePermissionsParameters.test.ts
  frontend/src/hooks/tools/convert/useConvertParameters.ts
  frontend/src/hooks/tools/convert/useConvertParametersAutoDetection.test.ts
  frontend/src/hooks/useToolSections.ts
  frontend/src/services/automationStorage.ts
  frontend/src/services/fileProcessingService.ts
  frontend/src/tests/utils/testFileHelpers.ts
  frontend/src/utils/convertUtils.ts
  frontend/src/utils/fuzzySearch.ts
  frontend/src/utils/signatureFlattening.ts
  frontend/src/utils/toolSearch.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Remove AutomateParameters interface export
  frontend/src/types/automation.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Add displayName to QuickAccessBar and TextInput
  frontend/src/components/shared/QuickAccessBar.tsx
  frontend/src/components/shared/TextInput.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

feat(validation): implement inline validation for form fields with user feedback
  app/core/src/main/resources/messages_en_GB.properties
  app/core/src/main/resources/static/js/form-fill.js
  app/core/src/main/resources/templates/fill-pdf-form.html
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

Refactor ToolStep to use children prop correctly
  frontend/src/components/tools/shared/ToolStep.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Update ToolStep.tsx
  frontend/src/components/tools/shared/ToolStep.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Update ToolStep.tsx
  frontend/src/components/tools/shared/ToolStep.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Standardize semicolon usage across frontend codebase
  frontend/src/components/shared/ToolChain.tsx
  frontend/src/components/shared/TopControls.tsx
  frontend/src/components/shared/quickAccessBar/ActiveToolButton.tsx
  frontend/src/components/tools/ToolLoadingFallback.tsx
  frontend/src/components/tools/shared/ErrorNotification.tsx
  frontend/src/components/tools/shared/OperationButton.tsx
  frontend/src/components/tools/shared/ToolStep.tsx
  frontend/src/components/tools/split/SplitSettings.tsx
  frontend/src/constants/splitConstants.ts
  frontend/src/contexts/FileContext.tsx
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/services/zipFileService.ts
  frontend/src/setupTests.ts
  frontend/src/tests/convert/ConvertIntegration.test.tsx
  frontend/tailwind.config.js
  frontend/vitest.config.ts
  frontend/vitest.minimal.config.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Update scarfTracking.ts
  frontend/src/utils/scarfTracking.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Add configurable hotkeys for tool menu
  frontend/src/App.tsx
  frontend/src/components/hotkeys/HotkeyDisplay.tsx
  frontend/src/components/settings/HotkeysSection.tsx
  frontend/src/components/settings/SettingsDrawer.tsx
  frontend/src/components/shared/QuickAccessBar.tsx
  frontend/src/components/tools/toolPicker/ToolButton.tsx
  frontend/src/contexts/HotkeyContext.tsx
  frontend/src/contexts/ToolWorkflowContext.tsx
  frontend/src/utils/hotkeys.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Add tool hotkey support and settings customization
  frontend/src/App.tsx
  frontend/src/components/shared/AppConfigModal.tsx
  frontend/src/components/shared/QuickAccessBar.tsx
  frontend/src/components/shared/settings/HotkeySettings.tsx
  frontend/src/components/tools/toolPicker/ToolButton.tsx
  frontend/src/contexts/HotkeysContext.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

feat(frontend): add configurable tool hotkeys
  frontend/src/App.tsx
  frontend/src/components/hotkeys/ShortcutDisplay.tsx
  frontend/src/components/settings/HotkeySettingsSection.tsx
  frontend/src/components/settings/SettingsModal.tsx
  frontend/src/components/shared/QuickAccessBar.tsx
  frontend/src/components/tools/toolPicker/ToolButton.tsx
  frontend/src/contexts/HotkeyContext.tsx
  frontend/src/utils/hotkeys.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

feat(form-fill): form field editing capabilities with new UI elements and backend support
  app/common/src/main/java/stirling/software/common/util/FormUtils.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/form/FormFillController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/form/FormPayloadParser.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/ShowJavascript.java
  app/core/src/main/resources/messages_en_GB.properties
  app/core/src/main/resources/static/js/downloader.js
  app/core/src/main/resources/static/js/form-fill.js
  app/core/src/main/resources/templates/fill-pdf-form.html
  app/proprietary/src/main/java/stirling/software/proprietary/security/service/CustomUserDetailsService.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

Integrate hotkey settings into existing config modal
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/components/settings/SettingsDrawer.tsx
  frontend/src/components/shared/AppConfigModal.tsx
  frontend/src/components/shared/QuickAccessBar.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Restore settings tab layout for config menu
  frontend/src/components/shared/AppConfigModal.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Restore legacy settings modal while keeping hotkeys
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/components/shared/AppConfigModal.tsx
  frontend/src/components/shared/QuickAccessBar.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

refactor(FormUtils): rename patterns for clarity
  app/common/src/main/java/stirling/software/common/util/FormUtils.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

shortcuts
  frontend/public/locales/en-GB/translation.json
  frontend/src/App.tsx
  frontend/src/components/hotkeys/HotkeyDisplay.tsx
  frontend/src/components/shared/AppConfigModal.css
  frontend/src/components/shared/AppConfigModal.tsx
  frontend/src/components/shared/QuickAccessBar.tsx
  frontend/src/components/shared/config/configNavSections.tsx
  frontend/src/components/shared/config/configSections/HotkeysSection.tsx
  frontend/src/components/shared/config/configSections/Overview.tsx
  frontend/src/components/shared/config/types.ts
  frontend/src/components/tools/toolPicker/ToolButton.tsx
  frontend/src/contexts/HotkeyContext.tsx
  frontend/src/contexts/ToolWorkflowContext.tsx
  frontend/src/styles/theme.css
  frontend/src/utils/hotkeys.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

updates
  frontend/src/components/shared/AppConfigModal.tsx
  frontend/src/components/shared/config/configSections/Overview.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

feat(pdf-a): switch PDF/A conversion from LibreOffice to Ghostscript, support PDF/A-3b and preflight validation
  README.md
  app/common/src/main/java/stirling/software/common/util/ExceptionUtils.java
  app/core/src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/converters/ConvertPDFToPDFA.java
  app/core/src/main/java/stirling/software/SPDF/model/api/converters/PdfToPdfARequest.java
  app/core/src/main/resources/messages_en_GB.properties
  app/core/src/main/resources/templates/convert/pdf-to-pdfa.html
Owners: @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @DarioGii, @reecebrowne, @EthanHealy01

refactor(CbzUtils): change static methods to instance methods and add UtilityClass annotation
  app/common/src/main/java/stirling/software/common/util/CbzUtils.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Translate fr (#4168)
  app/core/src/main/resources/messages_fr_FR.properties
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh
