Repository Stirling-Tools/Stirling-PDF, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @DarioGii, @reecebrowne, @EthanHealy01

.github/CODEOWNERS:

# All PRs must be approved by Frooodle or Ludy87
* @Frooodle @Ludy87 @jbrunton96 @ConnorYoh

# Backend
/app/** @DarioGii @Frooodle @Ludy87 @jbrunton96 @ConnorYoh

#V1 frontend
/app/core/src/main/resources/static/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87
/app/core/src/main/resources/templates/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87

#V2 frontend
/frontend/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle

#V2 docker
/docker/backend/** @Frooodle @Ludy87 @DarioGii @Ludy87
/docker/frontend/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87
/docker/compose/** @reecebrowne @ConnorYoh @EthanHealy01 @DarioGii @jbrunton96 @Frooodle @Ludy87


#GHA (All users)
/.github/** @reecebrowne @ConnorYoh @EthanHealy01 @DarioGii @jbrunton96 @Frooodle @Ludy87

add the reorganize pages tool (#4506)
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/components/tools/reorganizePages/ReorganizePagesSettings.tsx
  frontend/src/components/tools/reorganizePages/constants.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/reorganizePages/useReorganizePagesOperation.ts
  frontend/src/hooks/tools/reorganizePages/useReorganizePagesParameters.ts
  frontend/src/tools/ReorganizePages.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

add the reorganize pages tool (#4506)
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/components/tools/reorganizePages/ReorganizePagesSettings.tsx
  frontend/src/components/tools/reorganizePages/constants.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/reorganizePages/useReorganizePagesOperation.ts
  frontend/src/hooks/tools/reorganizePages/useReorganizePagesParameters.ts
  frontend/src/tools/ReorganizePages.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Reworked http.ts
  frontend/src/hooks/tools/convert/useConvertOperation.ts
  frontend/src/hooks/tools/shared/useToolApiCalls.ts
  frontend/src/hooks/tools/shared/useToolOperation.ts
  frontend/src/services/apiClient.ts
  frontend/src/services/http.ts
  frontend/src/services/httpErrorHandler.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Update messages_nl_NL.properties
  app/core/src/main/resources/messages_nl_NL.properties
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Fix Tests
  frontend/src/tests/convert/ConvertIntegration.test.tsx
  frontend/src/tests/convert/ConvertSmartDetectionIntegration.test.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

remove tools
  frontend/public/locales/en-GB/translation.json
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/types/toolId.ts
  frontend/src/utils/urlMapping.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

urls
  frontend/src/types/toolId.ts
  frontend/src/utils/urlMapping.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Render signature to pdf
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/tools/sign/SignSettings.tsx
  frontend/src/components/viewer/SignatureAPIBridge.tsx
  frontend/src/tools/Sign.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Added multi tool and read to tool list. multitool top of quick access Page editor always avaialble
  frontend/src/components/layout/Workbench.tsx
  frontend/src/components/shared/TopControls.tsx
  frontend/src/components/shared/quickAccessBar/ActiveToolButton.tsx
  frontend/src/components/shared/quickAccessBar/QuickAccessBar.ts
  frontend/src/components/tools/ToolPanel.tsx
  frontend/src/components/tools/toolPicker/ToolButton.tsx
  frontend/src/contexts/ToolWorkflowContext.tsx
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/useToolNavigation.ts
  frontend/src/hooks/useToolSections.ts
  frontend/src/hooks/useUrlSync.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Bugfix/V2/remove-timeout-on-fetch (#4510)
  frontend/src/hooks/tools/convert/useConvertOperation.ts
  frontend/src/hooks/tools/shared/useToolApiCalls.ts
  frontend/src/hooks/tools/shared/useToolOperation.ts
  frontend/src/services/apiClient.ts
  frontend/src/services/http.ts
  frontend/src/services/httpErrorHandler.ts
  frontend/src/tests/convert/ConvertIntegration.test.tsx
  frontend/src/tests/convert/ConvertSmartDetectionIntegration.test.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Bugfix/V2/remove-timeout-on-fetch (#4510)
  frontend/src/hooks/tools/convert/useConvertOperation.ts
  frontend/src/hooks/tools/shared/useToolApiCalls.ts
  frontend/src/hooks/tools/shared/useToolOperation.ts
  frontend/src/services/apiClient.ts
  frontend/src/services/http.ts
  frontend/src/services/httpErrorHandler.ts
  frontend/src/tests/convert/ConvertIntegration.test.tsx
  frontend/src/tests/convert/ConvertSmartDetectionIntegration.test.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

add multi page layout tool (#4507)
  frontend/src/components/tools/pageLayout/PageLayoutSettings.tsx
  frontend/src/components/tools/pageLayout/constants.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/pageLayout/usePageLayoutOperation.ts
  frontend/src/hooks/tools/pageLayout/usePageLayoutParameters.ts
  frontend/src/tools/PageLayout.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

add multi page layout tool (#4507)
  frontend/src/components/tools/pageLayout/PageLayoutSettings.tsx
  frontend/src/components/tools/pageLayout/constants.ts
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/pageLayout/usePageLayoutOperation.ts
  frontend/src/hooks/tools/pageLayout/usePageLayoutParameters.ts
  frontend/src/tools/PageLayout.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

remove tools (#4513)
  frontend/public/locales/en-GB/translation.json
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/types/toolId.ts
  frontend/src/utils/urlMapping.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

remove tools (#4513)
  frontend/public/locales/en-GB/translation.json
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/types/toolId.ts
  frontend/src/utils/urlMapping.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Add React-based remove annotations tool (#4504)
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/components/tools/removeAnnotations/RemoveAnnotationsSettings.tsx
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/removeAnnotations/useRemoveAnnotationsOperation.ts
  frontend/src/hooks/tools/removeAnnotations/useRemoveAnnotationsParameters.ts
  frontend/src/tools/RemoveAnnotations.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Add React-based remove annotations tool (#4504)
  frontend/public/locales/en-GB/translation.json
  frontend/public/locales/en-US/translation.json
  frontend/src/components/tools/removeAnnotations/RemoveAnnotationsSettings.tsx
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/tools/removeAnnotations/useRemoveAnnotationsOperation.ts
  frontend/src/hooks/tools/removeAnnotations/useRemoveAnnotationsParameters.ts
  frontend/src/tools/RemoveAnnotations.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Pop up moving away from page editor
  frontend/src/components/pageEditor/PageEditor.tsx
  frontend/src/contexts/NavigationContext.tsx
  frontend/src/contexts/ToolWorkflowContext.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Update GitHub Actions versions and Node.js to 22
  .github/workflows/frontend-licenses-update.yml
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @DarioGii, @jbrunton96, @Frooodle, @Ludy87

Only flatten current annotations
  frontend/src/components/shared/RightRail.tsx
  frontend/src/contexts/ViewerContext.tsx
  frontend/src/tools/Sign.tsx
  frontend/src/utils/signatureFlattening.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Navigation warning
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/shared/NavigationWarningModal.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Update eslint.config.mjs
  frontend/eslint.config.mjs
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Simple export block
  frontend/src/components/shared/RightRail.tsx
  frontend/src/contexts/SignatureContext.tsx
  frontend/src/tools/Sign.tsx
  frontend/src/utils/signatureFlattening.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Feature/v2/reader-and-multitool-navigation (#4514)
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/layout/Workbench.tsx
  frontend/src/components/pageEditor/PageEditor.tsx
  frontend/src/components/shared/NavigationWarningModal.tsx
  frontend/src/components/shared/TopControls.tsx
  frontend/src/components/shared/quickAccessBar/ActiveToolButton.tsx
  frontend/src/components/shared/quickAccessBar/QuickAccessBar.ts
  frontend/src/components/tools/ToolPanel.tsx
  frontend/src/components/tools/toolPicker/ToolButton.tsx
  frontend/src/contexts/NavigationContext.tsx
  frontend/src/contexts/ToolWorkflowContext.tsx
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/useToolNavigation.ts
  frontend/src/hooks/useToolSections.ts
  frontend/src/hooks/useUrlSync.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Feature/v2/reader-and-multitool-navigation (#4514)
  frontend/public/locales/en-GB/translation.json
  frontend/src/components/layout/Workbench.tsx
  frontend/src/components/pageEditor/PageEditor.tsx
  frontend/src/components/shared/NavigationWarningModal.tsx
  frontend/src/components/shared/TopControls.tsx
  frontend/src/components/shared/quickAccessBar/ActiveToolButton.tsx
  frontend/src/components/shared/quickAccessBar/QuickAccessBar.ts
  frontend/src/components/tools/ToolPanel.tsx
  frontend/src/components/tools/toolPicker/ToolButton.tsx
  frontend/src/contexts/NavigationContext.tsx
  frontend/src/contexts/ToolWorkflowContext.tsx
  frontend/src/data/useTranslatedToolRegistry.tsx
  frontend/src/hooks/useToolNavigation.ts
  frontend/src/hooks/useToolSections.ts
  frontend/src/hooks/useUrlSync.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Fix lintineg errors
  frontend/src/components/annotation/shared/BaseAnnotationTool.tsx
  frontend/src/components/annotation/shared/DrawingCanvas.tsx
  frontend/src/components/annotation/tools/DrawingTool.tsx
  frontend/src/components/annotation/tools/ImageTool.tsx
  frontend/src/components/shared/RightRail.tsx
  frontend/src/components/tools/sign/SignSettings.tsx
  frontend/src/components/viewer/EmbedPdfViewer.tsx
  frontend/src/components/viewer/HistoryAPIBridge.tsx
  frontend/src/components/viewer/LocalEmbedPDF.tsx
  frontend/src/components/viewer/LocalEmbedPDFWithAnnotations.tsx
  frontend/src/components/viewer/SignatureAPIBridge.tsx
  frontend/src/contexts/SignatureContext.tsx
  frontend/src/contexts/ViewerContext.tsx
  frontend/src/tools/Sign.tsx
  frontend/src/utils/signatureFlattening.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Update docker/frontend/nginx.conf
  docker/frontend/nginx.conf
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle, @Ludy87

Clean up
  frontend/src/components/tools/sign/SignSettings.tsx
  frontend/src/components/viewer/SignatureAPIBridge.tsx
  frontend/src/utils/signatureFlattening.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Fix suggestions
  frontend/src/components/annotation/shared/DrawingCanvas.tsx
  frontend/src/components/tools/sign/SignSettings.tsx
  frontend/src/components/viewer/HistoryAPIBridge.tsx
  frontend/src/components/viewer/SignatureAPIBridge.tsx
  frontend/src/tools/Sign.tsx
  frontend/src/utils/signatureFlattening.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

lint fix
  frontend/src/components/viewer/HistoryAPIBridge.tsx
  frontend/src/components/viewer/SignatureAPIBridge.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

gap
  frontend/package-lock.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

license checker use commonJS
  frontend/scripts/generate-licenses.js
  frontend/src/assets/3rdPartyLicenses.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

fix page count issue
  frontend/src/tools/Sign.tsx
  frontend/src/utils/signatureFlattening.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Update frontend/src/hooks/tools/sign/useSignParameters.ts
  frontend/src/hooks/tools/sign/useSignParameters.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

better error handling and killing logs
  frontend/src/components/viewer/HistoryAPIBridge.tsx
  frontend/src/components/viewer/SignatureAPIBridge.tsx
  frontend/src/utils/signatureFlattening.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

fix text infinite loop
  frontend/src/components/tools/sign/SignSettings.tsx
  frontend/src/tools/Sign.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Update DragDropGrid.tsx
  frontend/src/components/pageEditor/DragDropGrid.tsx
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Refactor to use React.RefObject instead of MutableRefObject
  frontend/src/components/tools/ToolPicker.tsx
  frontend/src/contexts/FileManagerContext.tsx
  frontend/src/hooks/useIsOverflowing.ts
  frontend/src/hooks/useTooltipPosition.ts
  frontend/src/types/sidebar.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Fix even more linting errors (Thanks James)
  frontend/src/utils/signatureFlattening.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

-
  frontend/src/utils/signatureFlattening.ts
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle
