Repository Stirling-Tools/Stirling-PDF, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @DarioGii, @reecebrowne, @EthanHealy01

.github/CODEOWNERS:

# All PRs must be approved by Frooodle or Ludy87
* @Frooodle @Ludy87 @jbrunton96 @ConnorYoh

# Backend
/app/** @DarioGii @Frooodle @Ludy87 @jbrunton96 @ConnorYoh

#V1 frontend
/app/core/src/main/resources/static/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87
/app/core/src/main/resources/templates/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87

#V2 frontend
/frontend/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle

#V2 docker
/docker/backend/** @Frooodle @Ludy87 @DarioGii @Ludy87
/docker/frontend/** @reecebrowne @ConnorYoh @EthanHealy01 @jbrunton96 @Frooodle @Ludy87
/docker/compose/** @reecebrowne @ConnorYoh @EthanHealy01 @DarioGii @jbrunton96 @Frooodle @Ludy87


#GHA (All users)
/.github/** @reecebrowne @ConnorYoh @EthanHealy01 @DarioGii @jbrunton96 @Frooodle @Ludy87

Translate fr (#4168)
  app/core/src/main/resources/messages_fr_FR.properties
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Spanish translation (#4290)
  app/core/src/main/resources/messages_es_ES.properties
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Spanish translation (#4290)
  app/core/src/main/resources/messages_es_ES.properties
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Update messages_it_IT.properties (#4398)
  app/core/src/main/resources/messages_it_IT.properties
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Update messages_it_IT.properties (#4398)
  app/core/src/main/resources/messages_it_IT.properties
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Update Hungarian translation (#4401)
  app/core/src/main/resources/messages_hu_HU.properties
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Update Hungarian translation (#4401)
  app/core/src/main/resources/messages_hu_HU.properties
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Update serbian translation (#4411)
  app/core/src/main/resources/messages_sr_LATN_RS.properties
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Update serbian translation (#4411)
  app/core/src/main/resources/messages_sr_LATN_RS.properties
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

feat(replace-and-invert-colour): Add CMYK color space conversion with prepress preset for PDF processing (#4494)
  app/common/src/main/java/stirling/software/common/model/api/misc/ReplaceAndInvert.java
  app/common/src/main/java/stirling/software/common/util/misc/ColorSpaceConversionStrategy.java
  app/core/src/main/java/stirling/software/SPDF/Factories/ReplaceAndInvertColorFactory.java
  app/core/src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/ReplaceAndInvertColorController.java
  app/core/src/main/java/stirling/software/SPDF/model/api/misc/ReplaceAndInvertColorRequest.java
  app/core/src/main/resources/messages_en_GB.properties
  app/core/src/main/resources/templates/misc/replace-color.html
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

feat(replace-and-invert-colour): Add CMYK color space conversion with prepress preset for PDF processing (#4494)
  app/common/src/main/java/stirling/software/common/model/api/misc/ReplaceAndInvert.java
  app/common/src/main/java/stirling/software/common/util/misc/ColorSpaceConversionStrategy.java
  app/core/src/main/java/stirling/software/SPDF/Factories/ReplaceAndInvertColorFactory.java
  app/core/src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/ReplaceAndInvertColorController.java
  app/core/src/main/java/stirling/software/SPDF/model/api/misc/ReplaceAndInvertColorRequest.java
  app/core/src/main/resources/messages_en_GB.properties
  app/core/src/main/resources/templates/misc/replace-color.html
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh, @reecebrowne, @EthanHealy01

refactor(core,common,proprietary): Replace Date with Instant/modern Date API alternative for improved time handling (#4497)
  app/common/src/main/java/stirling/software/common/model/PdfMetadata.java
  app/common/src/main/java/stirling/software/common/service/PdfMetadataService.java
  app/common/src/main/java/stirling/software/common/util/EmlParser.java
  app/common/src/main/java/stirling/software/common/util/PdfAttachmentHandler.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/converters/ConvertPDFToPDFA.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/MetadataController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/security/CertSignController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/security/GetInfoOnPDF.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/security/ValidateSignatureController.java
  app/core/src/main/java/stirling/software/SPDF/service/AttachmentService.java
  app/core/src/test/java/stirling/software/SPDF/service/PdfMetadataServiceBasicTest.java
  app/core/src/test/java/stirling/software/SPDF/service/PdfMetadataServiceTest.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/config/AccountWebController.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/controller/web/TeamWebController.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/database/repository/JPATokenRepositoryImpl.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/database/repository/SessionRepository.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/filter/FirstLoginFilter.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/model/PersistentLogin.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/model/SessionEntity.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/service/JwtService.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/session/SessionPersistentRegistry.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

refactor(core,common,proprietary): Replace Date with Instant/modern Date API alternative for improved time handling (#4497)
  app/common/src/main/java/stirling/software/common/model/PdfMetadata.java
  app/common/src/main/java/stirling/software/common/service/PdfMetadataService.java
  app/common/src/main/java/stirling/software/common/util/EmlParser.java
  app/common/src/main/java/stirling/software/common/util/PdfAttachmentHandler.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/converters/ConvertPDFToPDFA.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/MetadataController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/security/CertSignController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/security/GetInfoOnPDF.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/security/ValidateSignatureController.java
  app/core/src/main/java/stirling/software/SPDF/service/AttachmentService.java
  app/core/src/test/java/stirling/software/SPDF/service/PdfMetadataServiceBasicTest.java
  app/core/src/test/java/stirling/software/SPDF/service/PdfMetadataServiceTest.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/config/AccountWebController.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/controller/web/TeamWebController.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/database/repository/JPATokenRepositoryImpl.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/database/repository/SessionRepository.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/filter/FirstLoginFilter.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/model/PersistentLogin.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/model/SessionEntity.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/service/JwtService.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/session/SessionPersistentRegistry.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Revamp ESLint config for React and TypeScript
  frontend/eslint.config.mjs
  frontend/package.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Update messages_ru_RU.properties (#4426)
  app/core/src/main/resources/messages_ru_RU.properties
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Update messages_ru_RU.properties (#4426)
  app/core/src/main/resources/messages_ru_RU.properties
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Update eslint.config.mjs
  frontend/eslint.config.mjs
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

Update package-lock.json
  frontend/package-lock.json
Owners: @reecebrowne, @ConnorYoh, @EthanHealy01, @jbrunton96, @Frooodle

refactor filename generation for PDF and CBZ conversions using RegexPatternUtils
  app/core/src/main/java/stirling/software/SPDF/controller/api/converters/ConvertImgPDFController.java
  app/core/src/main/resources/messages_en_US.properties
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

resolve conflict; merge; fix errors resulting from changes.
  app/core/src/main/java/stirling/software/SPDF/controller/api/CropController.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

Update defaultValue of pageNumbers to SPLIT_ALL for consistency
  app/core/src/main/java/stirling/software/SPDF/model/api/SplitPdfBySectionsRequest.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh

resolve conflicts; resolve syntax error from merge
  app/core/src/main/java/stirling/software/SPDF/controller/api/MergeController.java
Owners: @DarioGii, @Frooodle, @Ludy87, @jbrunton96, @ConnorYoh
