Repository Stirling-Tools/Stirling-PDF, pull requests merged in 2024-08, with the labels that each got.

#1622 Add: Irish and Danish to the table
  README.md
Labels: Documentation

#1623 Update test.yml
  .github/workflows/test.yml
  src/main/java/stirling/software/SPDF/SPdfApplication.java
Labels: Java

#1619 blank pages returns removed pages for verification #1574
  src/main/java/stirling/software/SPDF/controller/api/misc/BlankPageController.java
Labels: Java, API

#1624 Update examples.feature
  cucumber/features/examples.feature
Labels: Test

#1631 Update polish translation
  src/main/resources/messages_pl_PL.properties
Labels: Translation

#1633 Add a checkbox to WatermarkController to convert the pdf to pdf-image
  src/main/java/stirling/software/SPDF/controller/api/security/RedactController.java
  src/main/java/stirling/software/SPDF/controller/api/security/WatermarkController.java
  src/main/java/stirling/software/SPDF/model/api/security/AddWatermarkRequest.java
  src/main/java/stirling/software/SPDF/utils/PdfUtils.java
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/templates/security/add-watermark.html
Labels: Java, Front End, Translation, API

#1639 Changes norwegian translation
  src/main/resources/messages_no_NB.properties
Labels: Translation

#1641 Added multithreaded feature for image extraction
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImagesController.java
Labels: Java, API

#1642 Bug fix UI crash when url is unrechable
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertWebsiteToPDF.java
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
  src/test/java/stirling/software/SPDF/controller/api/converters/ConvertWebsiteToPdfTest.java
Labels: Java, API

#1649 Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Labels: Translation

#1654 Updated Japanese translation
  src/main/resources/messages_ja_JP.properties
Labels: Translation

#1665 Fix: Conditional Attribute Binding for the multiple Attribute in the File Selector Fragment
  src/main/resources/templates/fragments/common.html
Labels: Front End

#1674 redesign footer
  src/main/resources/static/css/footer.css
  src/main/resources/templates/fragments/footer.html
Labels: Front End

#1673 Updated brazilian portuguese translation
  src/main/resources/messages_pt_BR.properties
Labels: Translation

#1677 tessdata available to local Windows users
  src/main/java/stirling/software/SPDF/controller/api/misc/OCRController.java
  src/main/java/stirling/software/SPDF/controller/web/OtherWebController.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/resources/settings.yml.template
Labels: Java, Front End, Back End, API

#1661 Update messages_it_IT.properties - remove image in home
  src/main/resources/messages_it_IT.properties
Labels: Translation

#1693 PR changes
  .github/labeler-config.yml
  .github/workflows/auto-labeler.yml
  .github/workflows/build.yml
  .github/workflows/licenses-update.yml
  .github/workflows/test.yml
Labels: Github

#1707 increases some versions in the workflows
  .github/workflows/build.yml
  .github/workflows/licenses-update.yml
  .github/workflows/push-docker.yml
  .github/workflows/releaseArtifacts.yml
  .github/workflows/swagger.yml
Labels: Github

#1717 corrects the link to the country selection
  src/main/resources/templates/fragments/languages.html
Labels: Front End

#1713 Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Labels: Translation

#1708 Fix: Failed authentication #1704
  src/main/java/stirling/software/SPDF/config/security/UserAuthenticationFilter.java
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/model/Authority.java
  src/main/java/stirling/software/SPDF/model/User.java
  src/main/java/stirling/software/SPDF/repository/UserRepository.java
Labels: Java, Back End, Security

#1716 Fix: YamlFile - String length limit disable
  src/main/java/stirling/software/SPDF/config/ConfigInitializer.java
  src/main/java/stirling/software/SPDF/config/security/InitialSecuritySetup.java
Labels: Java, Back End, Security

#1721 Typing error in README.md
  README.md
Labels: Documentation

#1705 Updated pt_BR ignored translations; Improved pt_BR translation
  scripts/ignore_translation.toml
  src/main/resources/messages_pt_BR.properties
Labels: Documentation, Translation

#1666 Add: Convert PDF to WebP
  .github/labeler-config.yml
  Dockerfile
  Dockerfile-fat
  Endpoint-groups.md
  scripts/png_to_webp.py
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertImgPDFController.java
  src/main/java/stirling/software/SPDF/controller/web/ConverterWebController.java
  src/main/java/stirling/software/SPDF/model/api/converters/ConvertToImageRequest.java
  src/main/resources/messages_en_GB.properties
  src/main/resources/templates/convert/pdf-to-img.html
  src/main/resources/templates/fragments/navbar.html
Labels: Documentation, Java, Front End, Docker, Translation, API, Github

#1730 Fix: introduces the verification of the python installation
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertImgPDFController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImageScansController.java
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImagesController.java
  src/main/java/stirling/software/SPDF/controller/web/ConverterWebController.java
  src/main/java/stirling/software/SPDF/controller/web/OtherWebController.java
  src/main/java/stirling/software/SPDF/utils/CheckProgramInstall.java
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/templates/misc/extract-image-scans.html
Labels: Java, Front End, Translation, API

#1732 Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Labels: Translation

#1740 Fix: Missing multi-selection and Python validation
  src/main/resources/templates/convert/pdf-to-img.html
Labels: Front End

#1744 Fix: authentication ApiKey NullPointerException
  src/main/java/stirling/software/SPDF/config/security/UserAuthenticationFilter.java
Labels: Java, Back End, Security, API

#1745 Fix: validations is not a permitted attribute - dropdown
  .github/ISSUE_TEMPLATE/1-bug.yml
Labels: Github

#1739 Cleanup logs
  build.gradle
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/ApiDocService.java
  src/main/java/stirling/software/SPDF/model/api/converters/UrlToPdfRequest.java
  src/main/java/stirling/software/SPDF/model/api/filter/ContainsTextRequest.java
  src/main/java/stirling/software/SPDF/model/api/filter/FileSizeRequest.java
  src/main/java/stirling/software/SPDF/model/api/filter/PageRotationRequest.java
  src/main/java/stirling/software/SPDF/model/api/filter/PageSizeRequest.java
  src/main/java/stirling/software/SPDF/model/api/general/OverlayPdfsRequest.java
  src/main/java/stirling/software/SPDF/model/api/general/SplitPdfBySizeOrCountRequest.java
  src/main/java/stirling/software/SPDF/model/api/misc/AddStampRequest.java
  src/main/java/stirling/software/SPDF/model/api/misc/AutoSplitPdfRequest.java
  src/main/java/stirling/software/SPDF/model/api/misc/ExtractHeaderRequest.java
  src/main/java/stirling/software/SPDF/model/api/misc/ExtractImageScansRequest.java
  src/main/java/stirling/software/SPDF/model/api/misc/PrintFileRequest.java
  src/main/java/stirling/software/SPDF/model/api/security/AddWatermarkRequest.java
  src/main/java/stirling/software/SPDF/model/api/security/PDFPasswordRequest.java
  src/main/java/stirling/software/SPDF/model/api/security/RedactPdfRequest.java
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
  src/main/resources/application.properties
Labels: Java, Back End, Security, API

#1748 Fixes for eager loading
  build.gradle
  src/main/java/stirling/software/SPDF/model/User.java
  test.sh
Labels: Java

#1747 Add: Make Login Attempt Service deactivatable
  README.md
  src/main/java/stirling/software/SPDF/config/security/LoginAttemptService.java
  src/main/resources/settings.yml.template
Labels: Documentation, Java, Back End, Security

#1749 Fixes LazyInitializationException in User entity
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/controller/web/AccountWebController.java
  src/main/java/stirling/software/SPDF/model/User.java
  src/main/java/stirling/software/SPDF/repository/UserRepository.java
Labels: Java, Front End, Back End, Security

#1750 Removes double equal signs
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_zh_TW.properties
Labels: Translation

#1751 Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Labels: Translation

#1752 Increase linecounts to check #1618
  src/main/java/stirling/software/SPDF/controller/api/misc/AutoRenameController.java
Labels: Java, API

#1753 Fixes #1552 and #1554
  build.gradle
  src/main/java/stirling/software/SPDF/config/AppConfig.java
  src/main/resources/static/fonts/NotoSans-Regular.ttf
Labels: Java, Front End

#1759 Update german translation
  src/main/resources/messages_de_DE.properties
Labels: Translation

#1758 Introduces the checking of message_*.properties
  .github/scripts/check_language_properties.py
  .github/workflows/check_properties.yml
Labels: Translation, Github

#1762 Change display name WEPB to WEBP
  src/main/resources/templates/convert/pdf-to-img.html
Labels: Front End

#1757 Extract images enhancements
  cucumber/exampleFiles/images.pdf
  cucumber/features/general.feature
  src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImagesController.java
  src/main/java/stirling/software/SPDF/model/api/PDFExtractImagesRequest.java
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
  src/main/java/stirling/software/SPDF/utils/ImageProcessingUtils.java
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/templates/misc/extract-images.html
Labels: Java, Front End, Translation, API, Test

#1769 Add image support to multi-tool page
  src/main/resources/static/js/multitool/ImageHighlighter.js
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/static/js/multitool/fileInput.js
  src/main/resources/templates/multi-tool.html
Labels: Front End

#1776 Updated es_ES translation
  src/main/resources/messages_es_ES.properties
Labels: Translation

#1782 correction action bot
  .github/workflows/licenses-update.yml
  .github/workflows/sync_files.yml
Labels: Github

#1781 Extends the checking of message*.properties
  .github/scripts/check_language_properties.py
  .github/workflows/check_properties.yml
Labels: Github

#1785 Fix: wrong selected repository; disable Push - missing permission
  .github/scripts/check_language_properties.py
  .github/workflows/check_properties.yml
Labels: Github
