Repository Stirling-Tools/Stirling-PDF, pull requests merged in 2025-07, with the labels that each got.

#3846 restore OCRMyPDF and ghostscript compression
  Dockerfile
  Dockerfile.fat
  common/src/main/java/stirling/software/common/model/ApplicationProperties.java
  common/src/main/java/stirling/software/common/service/TempFileCleanupService.java
  common/src/main/java/stirling/software/common/util/ProcessExecutor.java
  common/src/main/java/stirling/software/common/util/TempFileRegistry.java
  stirling-pdf/src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  stirling-pdf/src/main/java/stirling/software/SPDF/config/ExternalAppDepConfig.java
  stirling-pdf/src/main/java/stirling/software/SPDF/controller/api/misc/CompressController.java
  stirling-pdf/src/main/java/stirling/software/SPDF/controller/api/misc/OCRController.java
  stirling-pdf/src/main/java/stirling/software/SPDF/controller/api/misc/RepairController.java
  stirling-pdf/src/main/java/stirling/software/SPDF/model/api/misc/ProcessPdfWithOcrRequest.java
  stirling-pdf/src/main/resources/settings.yml.template
  stirling-pdf/src/main/resources/templates/misc/ocr-pdf.html
Labels: Java, Front End, Back End, Docker, API, size:XL

#3855 remove footer gap
  stirling-pdf/src/main/resources/settings.yml.template
  stirling-pdf/src/main/resources/static/css/footer.css
  stirling-pdf/src/main/resources/static/css/home-legacy.css
  stirling-pdf/src/main/resources/static/css/home.css
  stirling-pdf/src/main/resources/templates/fragments/footer.html
  stirling-pdf/src/main/resources/templates/home.html
Labels: Front End, size:M

#3866 exception handling error to warn etc
  common/src/main/java/stirling/software/common/service/CustomPDFDocumentFactory.java
  common/src/main/java/stirling/software/common/service/TempFileCleanupService.java
  common/src/main/java/stirling/software/common/util/ExceptionUtils.java
  common/src/main/java/stirling/software/common/util/PdfErrorUtils.java
  stirling-pdf/src/main/java/stirling/software/SPDF/controller/api/MergeController.java
  stirling-pdf/src/main/java/stirling/software/SPDF/controller/api/RearrangePagesPDFController.java
  stirling-pdf/src/main/java/stirling/software/SPDF/controller/api/SplitPDFController.java
  stirling-pdf/src/main/java/stirling/software/SPDF/controller/api/SplitPdfByChaptersController.java
  stirling-pdf/src/main/java/stirling/software/SPDF/controller/api/SplitPdfBySizeController.java
  stirling-pdf/src/main/java/stirling/software/SPDF/controller/api/misc/CompressController.java
  stirling-pdf/src/main/java/stirling/software/SPDF/controller/api/misc/DecompressPdfController.java
  stirling-pdf/src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImagesController.java
  stirling-pdf/src/main/java/stirling/software/SPDF/controller/api/pipeline/PipelineProcessor.java
  stirling-pdf/src/main/java/stirling/software/SPDF/controller/api/security/CertSignController.java
  stirling-pdf/src/main/java/stirling/software/SPDF/controller/api/security/GetInfoOnPDF.java
  stirling-pdf/src/main/java/stirling/software/SPDF/service/MetricsAggregatorService.java
Labels: Java, Back End, API, size:L

#3863 Updated Hungarian translations for error messages, and other miscellaneous items
  scripts/ignore_translation.toml
  stirling-pdf/src/main/resources/messages_hu_HU.properties
Labels: Documentation, Translation, size:M

#3872 Update push-docker.yml to change alpha to be fat
  .github/workflows/push-docker.yml
Labels: Docker, Github, size:XS

#3871 Update messages_it_IT.properties
  stirling-pdf/src/main/resources/messages_it_IT.properties
Labels: Translation, size:M

#3879 dropdown fixes
  stirling-pdf/src/main/resources/static/css/navbar.css
  stirling-pdf/src/main/resources/templates/fragments/common.html
Labels: Front End, size:S

#3885 docs: restructure documentation paths, update PR template links, and add exception handling guide
  .github/labeler-config-srvaroa.yml
  .github/pull_request_template.md
  README.md
  devGuide/DeveloperGuide.md
  devGuide/EXCEPTION_HANDLING_GUIDE.md
  devGuide/README.md
Labels: Documentation, Github, size:M

#3886 fix(spelling): correct `selectFilter` typo across templates and localization files
  proprietary/src/main/resources/templates/accounts/team-details.html
  stirling-pdf/src/main/resources/messages_ar_AR.properties
  stirling-pdf/src/main/resources/messages_az_AZ.properties
  stirling-pdf/src/main/resources/messages_bg_BG.properties
  stirling-pdf/src/main/resources/messages_bo_CN.properties
  stirling-pdf/src/main/resources/messages_ca_CA.properties
  stirling-pdf/src/main/resources/messages_cs_CZ.properties
  stirling-pdf/src/main/resources/messages_da_DK.properties
  stirling-pdf/src/main/resources/messages_de_DE.properties
  stirling-pdf/src/main/resources/messages_el_GR.properties
  stirling-pdf/src/main/resources/messages_en_GB.properties
  stirling-pdf/src/main/resources/messages_en_US.properties
  stirling-pdf/src/main/resources/messages_es_ES.properties
  stirling-pdf/src/main/resources/messages_eu_ES.properties
  stirling-pdf/src/main/resources/messages_fa_IR.properties
  stirling-pdf/src/main/resources/messages_fr_FR.properties
  stirling-pdf/src/main/resources/messages_ga_IE.properties
  stirling-pdf/src/main/resources/messages_hi_IN.properties
  stirling-pdf/src/main/resources/messages_hr_HR.properties
  stirling-pdf/src/main/resources/messages_hu_HU.properties
  stirling-pdf/src/main/resources/messages_id_ID.properties
  stirling-pdf/src/main/resources/messages_it_IT.properties
  stirling-pdf/src/main/resources/messages_ja_JP.properties
  stirling-pdf/src/main/resources/messages_ko_KR.properties
  stirling-pdf/src/main/resources/messages_ml_IN.properties
  stirling-pdf/src/main/resources/messages_nl_NL.properties
  stirling-pdf/src/main/resources/messages_no_NB.properties
  stirling-pdf/src/main/resources/messages_pl_PL.properties
  stirling-pdf/src/main/resources/messages_pt_BR.properties
  stirling-pdf/src/main/resources/messages_pt_PT.properties
  stirling-pdf/src/main/resources/messages_ro_RO.properties
  stirling-pdf/src/main/resources/messages_ru_RU.properties
  stirling-pdf/src/main/resources/messages_sk_SK.properties
  stirling-pdf/src/main/resources/messages_sl_SI.properties
  stirling-pdf/src/main/resources/messages_sr_LATN_RS.properties
  stirling-pdf/src/main/resources/messages_sv_SE.properties
  stirling-pdf/src/main/resources/messages_th_TH.properties
  stirling-pdf/src/main/resources/messages_tr_TR.properties
  stirling-pdf/src/main/resources/messages_uk_UA.properties
  stirling-pdf/src/main/resources/messages_vi_VN.properties
  stirling-pdf/src/main/resources/messages_zh_CN.properties
  stirling-pdf/src/main/resources/messages_zh_TW.properties
  stirling-pdf/src/main/resources/templates/adminSettings.html
  stirling-pdf/src/main/resources/templates/security/cert-sign.html
Labels: Front End, Translation, size:M, Bugfix

#3884 chore(i18n): update German translations for de_DE locale
  scripts/ignore_translation.toml
  stirling-pdf/src/main/resources/messages_de_DE.properties
Labels: Documentation, Translation, size:L

#3892 Jpackage Input Path Fix
  build.gradle
Labels: size:XS, Bugfix, Gradle

#3902 Fix for security not downloading and running correctly in V1.0.0
  build.gradle
  exampleYmlFiles/docker-compose-latest-ultra-lite.yml
  exampleYmlFiles/docker-compose-latest.yml
  scripts/download-security-jar.sh
Labels: Docker, Security, size:M, Gradle

#3911 Fix for `generateOpenApiDocs` Task
  build.gradle
  common/src/main/java/stirling/software/common/configuration/AppConfig.java
  stirling-pdf/build.gradle
Labels: Bug, Java, size:S, Bugfix, Gradle

#3897 This PR makes the multi-tool usable when zoomed in or when the browser window is narrowed a lot.
  stirling-pdf/src/main/resources/static/css/fileSelect.css
  stirling-pdf/src/main/resources/static/css/multi-tool.css
  stirling-pdf/src/main/resources/static/css/navbar.css
  stirling-pdf/src/main/resources/templates/fragments/common.html
  stirling-pdf/src/main/resources/templates/multi-tool.html
Labels: Front End, size:XL

#3906 Update messages_ja_JP.properties
  stirling-pdf/src/main/resources/messages_ja_JP.properties
Labels: Translation, size:XL

#3930 V2 docker support react version2
  .github/workflows/PR-Auto-Deploy-V2.yml
  .gitignore
  Dockerfile.dev
  docker/README.md
  docker/backend/Dockerfile
  docker/backend/Dockerfile.fat
  docker/backend/Dockerfile.ultra-lite
  docker/compose/docker-compose.fat.yml
  docker/compose/docker-compose.monolith.yml
  docker/compose/docker-compose.ultra-lite.yml
  docker/compose/docker-compose.yml
  docker/frontend/Dockerfile
  docker/frontend/entrypoint.sh
  docker/frontend/nginx.conf
  docker/monolith/Dockerfile
  docker/monolith/nginx-monolith.conf
  docker/monolith/start-monolith.sh
Labels: Documentation, Docker, Github, size:XL, Devtools

#3842 ci: improve PR deployment workflow and labeling
  .github/labeler-config-srvaroa.yml
  .github/labels.yml
  .github/workflows/PR-Demo-Comment-with-react.yml
  .github/workflows/PR-Demo-cleanup.yml
Labels: Github, size:L, ci

#3933 chore(license-report): add `projects = [project]` to licenseReport to avoid deprecation warnings
  build.gradle
Labels: size:XS, chore, Gradle

#3909 chore: add integrate Stylelint for CSS linting
  .devcontainer/devcontainer.json
  .github/labeler-config-srvaroa.yml
  .vscode/extensions.json
  .vscode/settings.json
  devGuide/STYLELINT.md
  devTools/.stylelintrc.json
  devTools/package-lock.json
  devTools/package.json
Labels: Documentation, Github, size:L, Devtools, chore

#3945 build: update Dockerfile.fat
  Dockerfile.fat
Labels: Docker, size:XS, build, pr-deployed

#3946 fix(ci): correct variable name for deployment comment check in PR-Demo-cleanup workflow
  .github/workflows/PR-Demo-cleanup.yml
Labels: Github, size:S, Bugfix, ci

#3952 Fix for #3951 invalid auth.log
  app/core/src/main/resources/logback.xml
Labels: size:XS, Bugfix

#3927 Nav Bar Fixes for Mobile Devices
  .gitignore
  app/common/src/main/java/stirling/software/common/aop/AutoJobAspect.java
  app/common/src/main/java/stirling/software/common/model/job/JobResult.java
  app/core/src/main/resources/static/css/navbar.css
  app/core/src/main/resources/static/css/theme/componentes.css
  app/core/src/main/resources/static/js/favourites.js
  app/core/src/main/resources/static/js/navbar.js
  app/core/src/main/resources/static/js/search.js
  app/core/src/main/resources/templates/fragments/common.html
  app/core/src/main/resources/templates/fragments/navbar.html
  app/core/src/main/resources/templates/view-pdf.html
Labels: Java, Front End, size:L, pr-deployed

#3954 fake scan to scanner effect
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/ScannerEffectController.java
  app/core/src/main/java/stirling/software/SPDF/controller/web/OtherWebController.java
  app/core/src/main/java/stirling/software/SPDF/model/api/misc/ScannerEffectRequest.java
  app/core/src/main/resources/messages_ar_AR.properties
  app/core/src/main/resources/messages_az_AZ.properties
  app/core/src/main/resources/messages_bg_BG.properties
  app/core/src/main/resources/messages_bo_CN.properties
  app/core/src/main/resources/messages_ca_CA.properties
  app/core/src/main/resources/messages_cs_CZ.properties
  app/core/src/main/resources/messages_da_DK.properties
  app/core/src/main/resources/messages_de_DE.properties
  app/core/src/main/resources/messages_el_GR.properties
  app/core/src/main/resources/messages_en_GB.properties
  app/core/src/main/resources/messages_en_US.properties
  app/core/src/main/resources/messages_es_ES.properties
  app/core/src/main/resources/messages_eu_ES.properties
  app/core/src/main/resources/messages_fa_IR.properties
  app/core/src/main/resources/messages_fr_FR.properties
  app/core/src/main/resources/messages_ga_IE.properties
  app/core/src/main/resources/messages_hi_IN.properties
  app/core/src/main/resources/messages_hr_HR.properties
  app/core/src/main/resources/messages_hu_HU.properties
  app/core/src/main/resources/messages_id_ID.properties
  app/core/src/main/resources/messages_it_IT.properties
  app/core/src/main/resources/messages_ja_JP.properties
  app/core/src/main/resources/messages_ko_KR.properties
  app/core/src/main/resources/messages_ml_IN.properties
  app/core/src/main/resources/messages_nl_NL.properties
  app/core/src/main/resources/messages_no_NB.properties
  app/core/src/main/resources/messages_pl_PL.properties
  app/core/src/main/resources/messages_pt_BR.properties
  app/core/src/main/resources/messages_pt_PT.properties
  app/core/src/main/resources/messages_ro_RO.properties
  app/core/src/main/resources/messages_ru_RU.properties
  app/core/src/main/resources/messages_sk_SK.properties
  app/core/src/main/resources/messages_sl_SI.properties
  app/core/src/main/resources/messages_sr_LATN_RS.properties
  app/core/src/main/resources/messages_sv_SE.properties
  app/core/src/main/resources/messages_th_TH.properties
  app/core/src/main/resources/messages_tr_TR.properties
  app/core/src/main/resources/messages_uk_UA.properties
  app/core/src/main/resources/messages_vi_VN.properties
  app/core/src/main/resources/messages_zh_CN.properties
  app/core/src/main/resources/messages_zh_TW.properties
  app/core/src/main/resources/templates/fragments/navElements.html
  app/core/src/main/resources/templates/home.html
  app/core/src/main/resources/templates/misc/scanner-effect.html
  scripts/ignore_translation.toml
Labels: Documentation, Java, Front End, Back End, Translation, API, size:XXL, pr-deployed

#3986 fix(ci): disable Gradle caching in GitHub workflows to resolve cache conflicts
  .github/config/.files.yaml
  .github/workflows/PR-Demo-Comment-with-react.yml
  .github/workflows/build.yml
  .github/workflows/licenses-update.yml
  .github/workflows/multiOSReleases.yml
  .github/workflows/push-docker.yml
  .github/workflows/releaseArtifacts.yml
  .github/workflows/swagger.yml
  .github/workflows/testdriver.yml
Labels: Docker, API, Github, size:L, Bugfix, ci

#3967 Update messages_ru_RU.properties
  app/core/src/main/resources/messages_ru_RU.properties
Labels: Translation, size:L

#3984 fix: correct paths for python scripts and implement classpath extraction
  .github/config/.files.yaml
  .github/labeler-config-srvaroa.yml
  .pre-commit-config.yaml
  app/common/src/main/java/stirling/software/common/configuration/InstallationPathConfig.java
  app/common/src/main/java/stirling/software/common/util/GeneralUtils.java
  app/core/.gitignore
  app/core/src/main/java/stirling/software/SPDF/controller/api/converters/ConvertImgPDFController.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/misc/ExtractImageScansController.java
  app/core/src/main/resources/static/python/png_to_webp.py
  app/core/src/main/resources/static/python/split_photos.py
Labels: Java, Back End, API, Github, size:M, Devtools, Bugfix, pr-deployed

#3989 Disable cookie banner when analytics disabled
  app/core/src/main/resources/templates/fragments/common.html
  app/core/src/main/resources/templates/fragments/footer.html
Labels: Front End, size:XS, codex, pr-deployed

#3978 Improved scaling of navbar for page-view and redact
  app/core/src/main/resources/templates/fragments/common.html
Labels: Front End, size:XS, pr-deployed

#4013 url fixes for access issues
  app/common/src/main/java/stirling/software/common/model/ApplicationProperties.java
  app/common/src/main/java/stirling/software/common/service/SsrfProtectionService.java
  app/common/src/main/java/stirling/software/common/util/CustomHtmlSanitizer.java
  app/common/src/main/java/stirling/software/common/util/EmlToPdf.java
  app/common/src/main/java/stirling/software/common/util/FileToPdf.java
  app/common/src/test/java/stirling/software/common/util/CustomHtmlSanitizerTest.java
  app/common/src/test/java/stirling/software/common/util/EmlToPdfTest.java
  app/common/src/test/java/stirling/software/common/util/FileToPdfTest.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/converters/ConvertEmlToPDF.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/converters/ConvertHtmlToPDF.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/converters/ConvertMarkdownToPdf.java
  app/core/src/main/java/stirling/software/SPDF/controller/api/converters/ConvertOfficeController.java
  app/core/src/main/resources/settings.yml.template
  testing/allEndpointsRemovedSettings.yml
Labels: Java, Back End, API, Test, size:XL, pr-deployed

#4024 Feature/v2/multiselect
  frontend/src/components/fileEditor/FileEditor.tsx
  frontend/src/components/tools/ToolLoadingFallback.tsx
  frontend/src/components/tools/ToolPicker.tsx
  frontend/src/components/tools/ToolRenderer.tsx
  frontend/src/contexts/FileContext.tsx
  frontend/src/contexts/FileSelectionContext.tsx
  frontend/src/hooks/tools/compress/useCompressOperation.ts
  frontend/src/hooks/useToolManagement.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/services/zipFileService.ts
  frontend/src/tools/Compress.tsx
  frontend/src/tools/Split.tsx
  frontend/src/types/pageEditor.ts
  frontend/src/types/tool.ts
  frontend/src/utils/fileUtils.ts
Labels: size:XL

#4032 change logos, favicon and browser tab title
  frontend/index.html
  frontend/public/favicon.ico
  frontend/public/logo192.png
  frontend/public/logo512.png
Labels: size:XS

#4017 V2: Design Navbar
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/shared/QuickAccessBar.css
  frontend/src/components/shared/QuickAccessBar.tsx
  frontend/src/global.d.ts
  frontend/src/hooks/useIsOverflowing.ts
  frontend/src/index.css
  frontend/src/pages/HomePage.tsx
  frontend/src/styles/theme.css
Labels: size:XL

#4033 Deploy on v2 commit
  .github/workflows/deploy-on-v2-commit.yml
Labels: size:L

#4034 ci(workflows): add concurrency cancellation to CI workflows
  .github/workflows/build.yml
  .github/workflows/check_properties.yml
  .github/workflows/licenses-update.yml
  .github/workflows/push-docker.yml
  .github/workflows/sonarqube.yml
  .github/workflows/swagger.yml
  .github/workflows/sync_files.yml
  .github/workflows/testdriver.yml
Labels: Docker, API, Github, size:M, ci

#4035 legal: termsAndConditions has moved
  app/core/src/main/resources/settings.yml.template
  testing/allEndpointsRemovedSettings.yml
Labels: Back End, Test, size:XS

#4038 Update and improve zh_TW Traditional Chinese translation
  app/core/src/main/resources/messages_zh_TW.properties
Labels: Translation, size:L

#4046 V2 Update PR-Auto-Deploy-V2.yml to use common tag
  .github/workflows/PR-Auto-Deploy-V2.yml
Labels: Github, size:S

#4049 remove file locks plus formatting
  app/common/src/main/java/stirling/software/common/model/ApplicationProperties.java
  app/common/src/main/java/stirling/software/common/util/GeneralUtils.java
  app/core/src/main/java/stirling/software/SPDF/config/CleanUrlInterceptor.java
  app/proprietary/src/main/java/stirling/software/proprietary/security/controller/api/AdminSettingsController.java
Labels: Java, Back End, Security, API, size:XL, pr-deployed

#4056 fix(workflows): correct YAML indentation in frontend license update workflow
  .github/workflows/frontend-licenses-update.yml
Labels: Github, size:S, Bugfix

#3983 fix(search): add null-check in dropdown hide handler
  app/core/src/main/resources/static/js/search.js
Labels: Front End, size:M, Bugfix, pr-deployed

#4057 Version bump + docker ultra lite fix
  Dockerfile.ultra-lite
  build.gradle
Labels: Docker, size:XS, Gradle

#4066 fix(pipeline): allow slashes in pipeline operation values
  app/core/src/main/java/stirling/software/SPDF/controller/api/pipeline/PipelineProcessor.java
  app/core/src/test/java/stirling/software/SPDF/controller/api/pipeline/PipelineProcessorTest.java
Labels: Java, Back End, API, Test, size:M, Bugfix, pr-deployed
