Repository Stirling-Tools/Stirling-PDF, pull requests merged in 2025-01, with the labels that each got.

#2577 Enhancement: Enhance NFunction evaluation and support advanced NFunctions
  cucumber/features/general.feature
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
  src/test/java/stirling/software/SPDF/utils/GeneralUtilsTest.java
Labels: enhancement, Java, Test, size:L

#2566 Fixes SSO login rejection
  src/main/java/stirling/software/SPDF/config/security/UserAuthenticationFilter.java
  src/main/java/stirling/software/SPDF/controller/web/AccountWebController.java
  src/main/resources/messages_en_GB.properties
Labels: Java, Front End, Back End, Translation, Security, size:M

#2489 Feature/improved signature element
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/css/add-image.css
  src/main/resources/static/css/fileSelect.css
  src/main/resources/static/css/sign.css
  src/main/resources/static/js/draggable-utils.js
  src/main/resources/static/js/fileInput.js
  src/main/resources/static/js/pages/add-image.js
  src/main/resources/static/js/pages/sign.js
  src/main/resources/static/js/sign/signature-canvas.js
  src/main/resources/templates/fragments/common.html
  src/main/resources/templates/misc/add-image.html
  src/main/resources/templates/sign.html
Labels: enhancement, Front End, Translation, size:XXL

#2581 Fix: Translation Verification
  .github/workflows/check_properties.yml
Labels: Github, size:L

#2584 Fix: Translation Verification hard-coded repo properties
  .github/workflows/check_properties.yml
Labels: Github, size:M

#2583 Update messages_de_DE.properties
  src/main/resources/messages_de_DE.properties
Labels: Translation, size:XS

#2585 additional Swedish translations
  src/main/resources/messages_sv_SE.properties
Labels: Translation, size:S

#2590 changes the permission to write issues
  .github/workflows/PR-Demo-Comment.yml
Labels: Github, size:XS, Priority: High

#2594 Update PR-Demo-Comment.yml
  .github/workflows/PR-Demo-Comment.yml
Labels: Github, size:XS

#2597 Green buttons
  src/main/resources/templates/misc/add-image.html
  src/main/resources/templates/multi-tool.html
  src/main/resources/templates/sign.html
Labels: Front End, size:M

#2596 Bump gradle-version from 8.7 to 8.12
  .github/workflows/multiOSReleases.yml
  .github/workflows/push-docker.yml
  .github/workflows/releaseArtifacts.yml
  build.gradle
Labels: Github, size:XS

#2598 fixes: untrusted code
  .github/workflows/PR-Demo-Comment.yml
Labels: Github, size:XS, Priority: Critical

#2599 removes unused implementation `com.unboundid.product.scim2`
  build.gradle
Labels: Java, Back End, size:XS

#2607 Revert "removes unused implementation `com.unboundid.product.scim2`"
  build.gradle
Labels: size:XS

#2576 Pdf to image custom page selection
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertImgPDFController.java
  src/main/java/stirling/software/SPDF/model/api/converters/ConvertToImageRequest.java
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_az_AZ.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fa_IR.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/templates/convert/pdf-to-img.html
Labels: enhancement, Java, Front End, Back End, Translation, API, needs-changes, size:M

#2601 Update labeler-config.yml
  .github/labeler-config.yml
Labels: Github, size:XS

#2600 Bump docker-compose from v2.29.1 to v2.32.1
  .github/workflows/build.yml
Labels: Docker, Github, size:XS

#2610 Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Labels: Translation, size:XS

#2433 Feature: Support manual redaction
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  src/main/java/stirling/software/SPDF/controller/api/security/RedactController.java
  src/main/java/stirling/software/SPDF/controller/web/SecurityWebController.java
  src/main/java/stirling/software/SPDF/model/api/security/ManualRedactPdfRequest.java
  src/main/java/stirling/software/SPDF/model/api/security/RedactionArea.java
  src/main/java/stirling/software/SPDF/utils/propertyeditor/StringToArrayListPropertyEditor.java
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/css/redact.css
  src/main/resources/static/js/redact.js
  src/main/resources/static/pdfjs-legacy/css/viewer-redact.css
  src/main/resources/static/pdfjs-legacy/pdf.mjs
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/home.html
  src/main/resources/templates/security/redact.html
Labels: enhancement, Java, Front End, Back End, Translation, API, size:XXL

#2605 File paths dynamic
  .github/workflows/build.yml
  build.gradle
  src/main/java/stirling/software/SPDF/SPdfApplication.java
  src/main/java/stirling/software/SPDF/UI/impl/DesktopBrowser.java
  src/main/java/stirling/software/SPDF/UI/impl/LoadingWindow.java
  src/main/java/stirling/software/SPDF/config/AppConfig.java
  src/main/java/stirling/software/SPDF/config/ConfigInitializer.java
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  src/main/java/stirling/software/SPDF/config/FileFallbackTemplateResolver.java
  src/main/java/stirling/software/SPDF/config/InstallationPathConfig.java
  src/main/java/stirling/software/SPDF/config/LogbackPropertyLoader.java
  src/main/java/stirling/software/SPDF/config/WebMvcConfig.java
  src/main/java/stirling/software/SPDF/config/YamlPropertySourceFactory.java
  src/main/java/stirling/software/SPDF/config/security/saml2/CustomSaml2ResponseAuthenticationConverter.java
  src/main/java/stirling/software/SPDF/controller/api/SettingsController.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/PipelineController.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/PipelineDirectoryProcessor.java
  src/main/java/stirling/software/SPDF/controller/web/GeneralWebController.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/service/SignatureService.java
  src/main/java/stirling/software/SPDF/utils/FileMonitor.java
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
  src/main/java/stirling/software/SPDF/utils/PDFManipulationUtils.java
  src/main/java/stirling/software/SPDF/utils/PDFToFile.java
  src/main/java/stirling/software/SPDF/utils/misc/CustomColorReplaceStrategy.java
  src/main/resources/application.properties
  src/main/resources/logback.xml
Labels: Java, Front End, Back End, Docker, Security, API, Github, size:XL

#2614 Manual redact tooltips
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/css/general.css
  src/main/resources/static/pdfjs-legacy/css/viewer-redact.css
  src/main/resources/templates/security/redact.html
Labels: enhancement, Front End, Translation, size:L

#2457 #2270: External DB Support
  build.gradle
  exampleYmlFiles/docker-compose-latest-fat-security-postgres.yml
  exampleYmlFiles/docker-compose-latest-fat-security.yml
  exampleYmlFiles/docker-compose-latest-security.yml
  src/main/java/stirling/software/SPDF/EE/LicenseKeyChecker.java
  src/main/java/stirling/software/SPDF/SPDFApplication.java
  src/main/java/stirling/software/SPDF/config/interfaces/DatabaseBackupInterface.java
  src/main/java/stirling/software/SPDF/config/interfaces/DatabaseInterface.java
  src/main/java/stirling/software/SPDF/config/security/CustomLogoutSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/InitialSecuritySetup.java
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseBackupHelper.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseConfig.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseService.java
  src/main/java/stirling/software/SPDF/config/security/database/ScheduledTasks.java
  src/main/java/stirling/software/SPDF/config/security/oauth2/CustomOAuth2AuthenticationSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/saml2/CustomSaml2AuthenticationSuccessHandler.java
  src/main/java/stirling/software/SPDF/controller/api/DatabaseController.java
  src/main/java/stirling/software/SPDF/controller/api/UserController.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/ApiDocService.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/PipelineProcessor.java
  src/main/java/stirling/software/SPDF/controller/api/security/ValidateSignatureController.java
  src/main/java/stirling/software/SPDF/controller/web/DatabaseWebController.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/model/SessionEntity.java
  src/main/java/stirling/software/SPDF/model/User.java
  src/main/java/stirling/software/SPDF/model/exception/BackupNotFoundException.java
  src/main/resources/application.properties
  src/main/resources/settings.yml.template
  src/test/java/stirling/software/SPDF/SPDFApplicationTest.java
  src/test/java/stirling/software/SPDF/SPdfApplicationTest.java
  src/test/java/stirling/software/SPDF/config/security/database/DatabaseConfigTest.java
Labels: enhancement, Java, Front End, Back End, Docker, Security, API, size:XXL

#2624 Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Labels: Translation, size:M

#2622 fix(ui): make div for table container responsive
  src/main/resources/templates/addUsers.html
Labels: Front End, size:XS

#2632 Add Conditional Handling for H2SQL Databases and Improve Database Compatibility
  build.gradle
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseService.java
  src/main/java/stirling/software/SPDF/config/security/database/ScheduledTasks.java
  src/main/java/stirling/software/SPDF/controller/api/DatabaseController.java
  src/main/java/stirling/software/SPDF/controller/api/H2SQLCondition.java
  src/main/java/stirling/software/SPDF/controller/web/DatabaseWebController.java
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_az_AZ.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fa_IR.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/templates/database.html
Labels: enhancement, Java, Front End, Back End, Translation, Security, API, size:M

#2640 Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Labels: Translation, size:XS

#2642 Create messages_zh_BO.properties
  src/main/resources/messages_zh_BO.properties
Labels: Translation, size:XS

#2643 Update languages.html
  src/main/resources/templates/fragments/languages.html
Labels: Front End, Translation, size:XS

#2647 csrf fixes
  src/main/resources/static/js/csrf.js
  src/main/resources/templates/fragments/common.html
Labels: Front End, size:M

#2648 Update ignore_translation.toml
  scripts/ignore_translation.toml
Labels: Documentation, Translation, size:XS

#2649 Fix: sync-readme
  src/main/resources/messages_en_GB.properties
Labels: Translation, size:XS

#2634 Pinned-Dependencies `actions/upload-artifact`
  .github/workflows/build.yml
Labels: Docker, Github, size:XS, Priority: High

#2636 Fix: py Vulnerabilities
  .github/workflows/build.yml
  cucumber/requirements.in
  cucumber/requirements.txt
Labels: Docker, Test, Github, size:L, Priority: High

#2654 Update messages_pt_BR.properties
  src/main/resources/messages_pt_BR.properties
Labels: Translation, size:M

#2653 Csrf fix and ssoAutoLogin for enterprise users
  src/main/java/stirling/software/SPDF/EE/EEAppConfig.java
  src/main/java/stirling/software/SPDF/EE/KeygenLicenseVerifier.java
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseConfig.java
  src/main/java/stirling/software/SPDF/config/security/oauth2/OAuth2Configuration.java
  src/main/java/stirling/software/SPDF/config/security/saml2/SAML2Configuration.java
  src/main/java/stirling/software/SPDF/controller/api/security/RedactController.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/model/api/security/ManualRedactPdfRequest.java
  src/main/java/stirling/software/SPDF/model/api/security/RedactionArea.java
  src/main/java/stirling/software/SPDF/utils/propertyeditor/StringToArrayListPropertyEditor.java
  src/main/resources/settings.yml.template
  src/main/resources/templates/account.html
  src/main/resources/templates/login.html
  test.sh
Labels: enhancement, Java, Front End, Back End, Docker, Security, API, size:XL

#2633 Add: Cosign Sign
  .github/workflows/releaseArtifacts.yml
Labels: enhancement, Github, size:L

#2658 New icons
  src/main/resources/static/images/rename.svg
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/fragments/navbarEntryCustom.html
  src/main/resources/templates/home.html
Labels: Front End, size:L

#2660 Fix: Pinned-Dependencies sync_files.yml
  .github/scripts/requirements_sync_readme.in
  .github/scripts/requirements_sync_readme.txt
  .github/workflows/sync_files.yml
  .pre-commit-config.yaml
Labels: Github, size:S

#2661 Add: Harden Runner
  .github/workflows/releaseArtifacts.yml
Labels: Github, size:S

#2664 add zip files and reorganize
  .gitignore
Labels: size:XS

#2665 Fix: `NoSuchFileException` if `configs\db\backup` is not present on first start
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseService.java
Labels: Bug, Java, Back End, Security, size:S

#2666 change from pypdf2 to pypdf
  cucumber/exampleFiles/example.html
  cucumber/features/environment.py
  cucumber/features/steps/step_definitions.py
  cucumber/requirements.in
  cucumber/requirements.txt
Labels: Test, size:M

#2659 Fix: Thymeleaf syntax `(/*[[...]]*/)`
  src/main/resources/static/js/cacheFormInputs.js
  src/main/resources/static/js/csrf.js
  src/main/resources/static/js/darkmode.js
  src/main/resources/static/js/fetch-utils.js
  src/main/resources/static/js/game.js
  src/main/resources/static/js/settings.js
  src/main/resources/templates/account.html
  src/main/resources/templates/fragments/footer.html
  src/main/resources/templates/login.html
  src/main/resources/templates/releases.html
  src/main/resources/templates/security/validate-signature.html
  src/test/java/stirling/software/SPDF/SPDFApplicationTest.java
  src/test/java/stirling/software/SPDF/config/security/database/DatabaseConfigTest.java
  src/test/java/stirling/software/SPDF/controller/api/RearrangePagesPDFControllerTest.java
Labels: Front End, size:L

#2549 Update and improve Hungarian translations using Claude 3.5 Sonnet
  src/main/resources/messages_hu_HU.properties
Labels: Translation, size:XS

#2670 Improves the release for multi OS
  .github/workflows/multiOSReleases.yml
Labels: Github, size:L

#2671 update gradle-wrapper binaries
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: size:M

#2673 cache the release notes in the browser session
  src/main/resources/templates/releases.html
Labels: enhancement, Front End, size:M

#2676 Restriction of username and email
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/resources/templates/account.html
  src/main/resources/templates/addUsers.html
Labels: Java, Front End, Back End, Security, size:S

#2674 Update and improve zh_TW Traditional Chinese locale
  src/main/resources/messages_zh_TW.properties
Labels: Translation, size:L

#2669 [Snyk] Security upgrade alpine from 3.20.3 to 3.21.2
  Dockerfile
  Dockerfile.fat
  Dockerfile.ultra-lite
Labels: Docker, size:XS

#2682 Update and improve Portuguese locale using Claude 3.5 Sonnet
  src/main/resources/messages_pt_PT.properties
Labels: Translation, size:XS

#2684 Add: require-hashes pre-commit
  .github/scripts/requirements_pre_commit.in
  .github/scripts/requirements_pre_commit.txt
  .github/workflows/pre_commit.yml
Labels: Test, Github, size:L

#2005 Add tests via TestDriverAI (#1957)
  .github/workflows/testdriver.yml
  src/main/java/stirling/software/SPDF/EE/EEAppConfig.java
  src/main/java/stirling/software/SPDF/controller/api/security/WatermarkController.java
  testdriver/test.yml
Labels: Java, Back End, API, Github, size:L

#2687 Add: description for compress optimization levels 6 to 9
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_az_AZ.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fa_IR.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_BO.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/templates/misc/compress-pdf.html
Labels: enhancement, Front End, Translation, size:L

#2686 Bump: Harden Runner from v2.10.2 to v2.10.3
  .github/workflows/PR-Demo-Comment.yml
  .github/workflows/PR-Demo-cleanup.yml
  .github/workflows/auto-labeler.yml
  .github/workflows/build.yml
  .github/workflows/check_properties.yml
  .github/workflows/codeql.yml-disabled
  .github/workflows/dependency-review.yml
  .github/workflows/licenses-update.yml
  .github/workflows/manage-label.yml
  .github/workflows/multiOSReleases.yml
  .github/workflows/push-docker.yml
  .github/workflows/releaseArtifacts.yml
  .github/workflows/scorecards.yml
  .github/workflows/stale.yml
  .github/workflows/swagger.yml
  .github/workflows/sync_files.yml
  .github/workflows/testdriver.yml
  .github/workflows/update-translations.yml
Labels: Github, size:M

#2699 test all pages load correctly
  .github/workflows/build.yml
  cucumber/test_webpages.sh
  cucumber/webpage_urls.txt
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  test.sh
Labels: Java, Back End, Docker, Test, Github, size:L

#2703 removes versioning for release binaries
  .github/workflows/multiOSReleases.yml
Labels: Github, size:M

#2702 Update and improve Hindi (हिंदी) (hi_IN) locale using Claude 3.5 Sonnet
  src/main/resources/messages_hi_IN.properties
Labels: Translation, size:XS

#2706 Auto merge test
  .github/workflows/licenses-update.yml
  build.gradle
Labels: Github, size:M

#2707 quick fix var to secret
  .github/workflows/licenses-update.yml
Labels: Github

#2708 commit to trigger GHA
  build.gradle
Labels: size:XS

#2712 verify dependencies
  DeveloperGuide.md
  gradle/verification-keyring.keys
  gradle/verification-metadata.xml
Labels: Documentation, size:XL

#2719 Fix img to pdf url
  src/main/resources/templates/home.html
Labels: Bug, Front End, size:XS

#2716 Update and improve Greek(Ελληνικά)(el_GR) locale using Claude 3.5 Sonnet
  src/main/resources/messages_el_GR.properties
Labels: Translation, size:XS

#2717 Update & improve Russian(Русский/ru_RU) locale w/ Claude 3.5 Sonnet
  src/main/resources/messages_ru_RU.properties
Labels: Translation, size:XS

#2720 Fix PDF compression sizing
  src/main/java/stirling/software/SPDF/model/api/misc/OptimizePdfRequest.java
Labels: Bug, Java, size:XS

#2725 Add: German Translation
  scripts/ignore_translation.toml
  src/main/resources/messages_de_DE.properties
Labels: Documentation, enhancement, Translation, size:XS

#2724 expand: check language properties
  .github/scripts/check_language_properties.py
  .github/workflows/update-translations.yml
  HowToAddNewLanguage.md
Labels: Documentation, enhancement, Github, size:M

#2723 Add: pip caching
  .github/workflows/build.yml
  .github/workflows/pre_commit.yml
  .github/workflows/sync_files.yml
Labels: enhancement, Docker, Test, Github, size:XS

#2726 Add possible fix to desktop UIs
  build.gradle
Labels: size:XS

#2729 Remove unnecessary condition from update-translations workflow
  .github/workflows/update-translations.yml
Labels: Github, size:XS

#2730 Pdf to markdown
  DeveloperGuide.md
  build.gradle
  cucumber/features/external.feature
  cucumber/webpage_urls.txt
  gradle/verification-keyring.keys
  gradle/verification-metadata.xml
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  src/main/java/stirling/software/SPDF/controller/web/ConverterWebController.java
  src/main/java/stirling/software/SPDF/model/api/converters/ConvertPDFToMarkdown.java
  src/main/java/stirling/software/SPDF/utils/PDFToFile.java
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/templates/convert/pdf-to-markdown.html
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/home.html
Labels: Documentation, enhancement, Java, Front End, Back End, Translation, Test, size:L

#2734 Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Labels: Translation, size:S

#2733 feat: added Slovenian Translation
  scripts/ignore_translation.toml
  src/main/resources/messages_sl_SI.properties
  src/main/resources/static/images/flags/si.svg
  src/main/resources/templates/fragments/languages.html
Labels: Documentation, enhancement, Front End, Translation, size:XXL

#2735 Update README.md to add Slovenian (Slovenščina) (sl_SI)
  README.md
  scripts/ignore_translation.toml
Labels: Documentation, Translation, size:XS

#2739 Update and improve zh_TW Traditional Chinese locale
  src/main/resources/messages_zh_TW.properties
Labels: Translation, size:M

#2742 [Check] translation orders after merging
  .github/workflows/update-translations.yml
Labels: Github, size:XS

#2740 outdated Gradle functions to the Gradle 9.0 standard
  build.gradle
Labels: enhancement, size:XS

#2745 Update messages_de_DE.properties
  src/main/resources/messages_de_DE.properties
Labels: Translation, size:S

#2744 Improves the sync of translation files and README.md
  .github/pull_request_template.md
  .github/workflows/sync_files.yml
  .github/workflows/update-translations.yml
Labels: Documentation, Github, size:L

#2741 Update and improve Korean(한국어)(ko_KR) locale using Claude 3.5 Sonnet
  src/main/resources/messages_ko_KR.properties
Labels: Translation, size:XXL

#2751 Fix displayed identical fonts in sign PDF
  src/main/resources/static/css/sign.css
  src/main/resources/static/js/pages/sign.js
  src/main/resources/templates/sign.html
Labels: Bug, Front End, size:L

#2750 Fix redaction buttons tooltips
  src/main/resources/static/css/redact.css
  src/main/resources/static/pdfjs-legacy/css/viewer-redact.css
Labels: Front End, size:S

#2752 version bump
  build.gradle
Labels: size:XS

#2753 Update multiOSReleases.yml
  .github/workflows/multiOSReleases.yml
Labels: Github, size:XS

#2754 Revert "Update multiOSReleases.yml"
  .github/workflows/multiOSReleases.yml
Labels: Github, size:XS

#2755 changes the bot from github-action to stirlingbot
  .github/workflows/pre_commit.yml
Labels: Test, Github, size:M

#2756 clean up and more
  .github/scripts/check_duplicates.py
  .github/scripts/check_tabulator.py
  .github/workflows/pre_commit.yml
  .pre-commit-config.yaml
  scripts/counter_translation.py
Labels: Documentation, Test, Github, size:L

#2748 Update and improve Czech(Česky)(cs_CZ) locale using Claude 3.5 Sonnet
  src/main/resources/messages_cs_CZ.properties
Labels: Translation, size:XXL

#2768 Security: file name restriction
  .github/workflows/check_properties.yml
Labels: Github, size:XS

#2773 Fix fr messages
  src/main/resources/messages_fr_FR.properties
Labels: Translation, size:M

#2783 Fix: test failure on pull request from dependabot
  .github/workflows/build.yml
  .github/workflows/sync_files.yml
  .pre-commit-config.yaml
  test.sh
Labels: Docker, Github, size:L

#2787 Test cleanup, JVM GC and api
  .github/workflows/build.yml
  .github/workflows/testdriver.yml
  .gitignore
  Dockerfile
  Dockerfile.fat
  Dockerfile.ultra-lite
  build.gradle
  exampleYmlFiles/test_cicd.yml
  src/main/java/stirling/software/SPDF/controller/api/AnalysisController.java
  src/main/resources/templates/misc/remove-blanks.html
  testing/cucumber/exampleFiles/example.docx
  testing/cucumber/exampleFiles/example.html
  testing/cucumber/exampleFiles/example.md
  testing/cucumber/exampleFiles/example.odp
  testing/cucumber/exampleFiles/example.odt
  testing/cucumber/exampleFiles/example.pptx
  testing/cucumber/exampleFiles/example.rtf
  testing/cucumber/exampleFiles/example_html.zip
  testing/cucumber/exampleFiles/ghost1.pdf
  testing/cucumber/exampleFiles/ghost2.pdf
  testing/cucumber/exampleFiles/ghost3.pdf
  testing/cucumber/exampleFiles/images.pdf
  testing/cucumber/exampleFiles/pdfa1.pdf
  testing/cucumber/exampleFiles/pdfa2.pdf
  testing/cucumber/features/environment.py
  testing/cucumber/features/examples.feature
  testing/cucumber/features/external.feature
  testing/cucumber/features/general.feature
  testing/cucumber/features/steps/step_definitions.py
  testing/cucumber/requirements.in
  testing/cucumber/requirements.txt
  testing/test.sh
  testing/test2.sh
  testing/test_webpages.sh
  testing/testdriver/test.yml
  testing/webpage_urls.txt
  testing/webpage_urls_full.txt
Labels: Documentation, Java, Front End, Back End, Docker, API, Github, size:L

#2804 Update messages_ja_JP.properties
  src/main/resources/messages_ja_JP.properties
Labels: Translation, size:M

#2793 (i18n) Updated Irish translations
  src/main/resources/messages_ga_IE.properties
Labels: Translation, size:L

#2815 Update messages_pt_BR.properties
  src/main/resources/messages_pt_BR.properties
Labels: Translation, size:S

#2816 [Fix] Handle missing end page in PDF split range
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
Labels: Java, size:XS

#2817 Update PR-Demo-cleanup.yml
  .github/workflows/PR-Demo-cleanup.yml
Labels: Github, size:S

#2663 Homepage update
  src/main/java/stirling/software/SPDF/controller/web/HomeWebController.java
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/css/general.css
  src/main/resources/static/css/home-legacy.css
  src/main/resources/static/css/home.css
  src/main/resources/static/css/navbar.css
  src/main/resources/static/css/redact.css
  src/main/resources/static/css/theme/componentes.css
  src/main/resources/static/css/theme/theme.css
  src/main/resources/static/css/theme/theme.dark.css
  src/main/resources/static/css/theme/theme.light.css
  src/main/resources/static/files/popularity.txt
  src/main/resources/static/images/redact-auto.svg
  src/main/resources/static/images/redact-manual.svg
  src/main/resources/static/images/split-auto.svg
  src/main/resources/static/images/split-chapters.svg
  src/main/resources/static/images/split-size.svg
  src/main/resources/static/js/favourites.js
  src/main/resources/static/js/homecard-legacy.js
  src/main/resources/static/js/homecard.js
  src/main/resources/static/js/multitool/DragDropManager.js
  src/main/resources/static/js/multitool/PdfActionsManager.js
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/static/js/navbar.js
  src/main/resources/static/js/pages/home.js
  src/main/resources/static/js/redact.js
  src/main/resources/static/pdfjs-legacy/css/viewer-redact.css
  src/main/resources/static/pdfjs-legacy/css/viewer.css
  src/main/resources/static/pdfjs/css/viewer.css
  src/main/resources/templates/convert/file-to-pdf.html
  src/main/resources/templates/convert/html-to-pdf.html
  src/main/resources/templates/convert/img-to-pdf.html
  src/main/resources/templates/convert/markdown-to-pdf.html
  src/main/resources/templates/convert/pdf-to-img.html
  src/main/resources/templates/convert/pdf-to-presentation.html
  src/main/resources/templates/convert/pdf-to-word.html
  src/main/resources/templates/convert/url-to-pdf.html
  src/main/resources/templates/fragments/card.html
  src/main/resources/templates/fragments/common.html
  src/main/resources/templates/fragments/featureGroupHeader.html
  src/main/resources/templates/fragments/featureGroupHeaderLegacy.html
  src/main/resources/templates/fragments/navElements.html
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/fragments/navbarEntry.html
  src/main/resources/templates/fragments/navbarEntryCustom.html
  src/main/resources/templates/home-legacy.html
  src/main/resources/templates/home.html
  src/main/resources/templates/misc/add-image.html
  src/main/resources/templates/misc/auto-rename.html
  src/main/resources/templates/multi-tool.html
  src/main/resources/templates/security/auto-redact.html
  src/main/resources/templates/security/redact.html
  src/main/resources/templates/sign.html
  src/main/resources/templates/view-pdf.html
Labels: Java, Front End, Back End, Translation, size:XXL

#2821 Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Labels: Translation, size:S

#2827 Deprecated attribute `th:include`
  src/main/resources/templates/home.html
Labels: Front End, size:XS

#2823 Config rework
  .github/release.yml
  build.gradle
  gradle/verification-keyring.gpg
  gradle/verification-keyring.keys
  gradle/verification-metadata.xml
  src/main/java/stirling/software/SPDF/config/ConfigInitializer.java
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
Labels: Java, Back End, Github, size:XL

#2820 Version bump
  build.gradle
Labels: size:XS

#2837 Homepage ui hotfixes
  src/main/resources/static/js/homecard.js
  src/main/resources/static/js/pages/home.js
  src/main/resources/templates/home.html
Labels: Bug, Front End, size:S

#2840 Fix tab container logic bug
  src/main/resources/static/js/navbar.js
  src/main/resources/static/js/tab-container.js
  src/main/resources/templates/sign.html
Labels: Bug, Front End, size:M

#2826 VS Code Extensions for Development
  .gitignore
  .vscode/extensions.json
  DeveloperGuide.md
Labels: Documentation, enhancement, size:M

#2831 added option for disabling HTML Sanitize
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertHtmlToPDF.java
  src/main/java/stirling/software/SPDF/controller/api/converters/ConvertMarkdownToPdf.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/utils/FileToPdf.java
  src/main/resources/settings.yml.template
  src/test/java/stirling/software/SPDF/utils/FileToPdfTest.java
Labels: enhancement, Java, Back End, API, size:M

#2841 version bump
  build.gradle
Labels: size:XS
